# Old historical_count_model

With part of it that moved to `prepare`

Uses:

- resources/historical_join_db.xlsx (from prepare/historical_count_models.ipynb)

In [1]:
import pandas as pd
from util import HISTORICAL_FILE_JOIN_DB

In [2]:
df_merge = pd.read_excel(HISTORICAL_FILE_JOIN_DB)

Grouping by model

In [3]:
df_model = df_merge.copy()
df_model = df_model.groupby(['Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_model

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,3,5,0,0,0,0,18,39,0,32,...,0,0,0,0,0,1,3,0,7,0
SQL,310,36,0,0,2,0,101,0,0,109,...,29,3,28,1536,0,15,184,84,14,0

In [4]:
def num_missing (x):
      return sum (x >= 1)
df5 = df_model.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
df5

Model
SQL      199
NoSQL    165
dtype: int64

Replacing all values with 1 to perform the intersection. The mask function replaces the dataframe values if the condition is true. If you need the condition to be false, you should use the where function, for example: df.mask(df_merge > 1, 1), in which case the replacement would only be made for values that are less than 1 (the inverse of the condition).

In [5]:
df5 = df_model.mask(df_model > 1, 1)
df5

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,1,0,0,0,0,1,1,0,1,...,0,0,0,0,0,1,1,0,1,0
SQL,1,1,0,0,1,0,1,0,0,1,...,1,1,1,1,0,1,1,1,1,0

Create two tables, each with one of the nosql rows and the other sql, transform all the values into 1 and then merge the intersection according to example 1 of https://www.geeksforgeeks.org/intersection-of-two-dataframe-in-pandas-python/.
Then, from the sum of the two models, take the value of the intersection.

In [6]:
df6= df5.iloc[1:2,:]
df6

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Model,,,,,,,,,,,,,,,,,,,,,
SQL,1,1,0,0,1,0,1,0,0,1,...,1,1,1,1,0,1,1,1,1,0

In [7]:
df7=df5.iloc[0:1,:]
df7

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,1,0,0,0,0,1,1,0,1,...,0,0,0,0,0,1,1,0,1,0

In [8]:
df8 = pd.concat([df6, df7], axis=0, join='inner').sum().sort_values(ascending =False)
df8

Activiti/Activiti                                  2
apereo/cas                                         2
apache/shiro                                       2
apache/skywalking                                  2
apache/storm                                       2
                                                  ..
clojure/clojure                                    0
mapstruct/mapstruct                                0
material-components/material-components-android    0
mendhak/gpslogger                                  0
zxing/zxing                                        0
Length: 362, dtype: int64

To find the intersection, I use the isin function to find the lines (projects) whose concatenated value == 2. This function returns true or false and I add the lines that meet the condition.

In [9]:
df8.isin([2]).sum()

130

In [10]:
df_merge

,Databases,Primary Model,Second Model,Model,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Etcd,Key-value,NaN,NoSQL,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FileMaker,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebase Realtime,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Firebird,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Google Cloud Datastore,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,GoogleCloudFilestore,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,H2,Relational,Multi-model,SQL,55,0,0,0,0,0,...,14,0,0,229,0,0,0,0,0,0
14,Hazelcast,Key-value,Multi-model,NoSQL,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,HBase,Wide column,NaN,NoSQL,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,HyperSQL,Relational,NaN,SQL,13,0,0,0,0,0,...,0,0,0,203,0,0,0,36,0,0
17,IBM_DB2,Relational,Multi-model,SQL,31,0,0,0,0,0,...,0,0,0,143,0,0,0,0,0,0
18,Ignite_NoSql,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Ignite_Sql,Multi-model,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Ingres,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Interbase,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Kdb+,Time Series,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,MySQL_Maria DB,Relational,Multi-model,SQL,45,36,0,0,0,0,...,15,3,9,197,0,15,92,11,14,0
27,MarkLogic,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Microsoft Azure CosmosDB,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,Wide column,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,49,0,0,0,0,0,0
32,MS_SQL_Server,Relational,Multi-model,SQL,18,0,0,0,0,0,...,0,0,2,143,0,0,0,0,0,0
33,Neo4j,Graph,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Oracle,Relational,Multi-model,SQL,40,0,0,0,0,0,...,0,0,0,143,0,0,0,17,0,0
35,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL,44,0,0,0,0,0,...,0,0,8,143,0,0,92,0,0,0
37,Realm,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,7,0
39,Riak KV,Key-value,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SAP Adaptive Server,Relational,Multi-model,SQL,32,0,0,0,0,0,...,0,0,0,143,0,0,0,0,0,0
41,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Singlestore,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,SAP SQL Anywhere,Relational,NaN,SQL,32,0,0,0,0,0,...,0,0,0,143,0,0,0,0,0,0
44,Snowflake,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SQLite,Relational,NaN,SQL,0,0,0,0,2,0,...,0,0,9,0,0,0,0,20,0,0
46,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Virtuoso_NoSql,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
49,Virtuoso_Sql,Multi-model,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Primary Model']).sum()
#df_prisec = df_prisec.groupby(['Primary Model','Second Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_prisec

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Primary Model,,,,,,,,,,,,,,,,,,,,,
Document,0,0,0,0,0,0,0,2,0,17,...,0,0,0,0,0,0,0,0,0,0
Graph,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Key-value,3,4,0,0,0,0,18,37,0,9,...,0,0,0,0,0,1,1,0,7,0
Multi-Model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Multi-model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
Relational,310,36,0,0,2,0,101,0,0,109,...,29,3,28,1536,0,15,184,84,14,0
Spatial DBMS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Time Series,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wide column,0,1,0,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0

Counting the primary and secondary models. The values below do not include the intersections.

In [12]:
def num_missing (x):
      return sum (x >= 1)
#df2.apply(num_missing, axis=0).sort_values(ascending=False)
#without COMMITS
df10 = df_prisec.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
#df6 = df_merge.iloc[:,:].apply(num_missing, axis=0).sort_values(ascending=False) para mostrar os projetos
df10

Primary Model
Relational      199
Key-value       108
Document         86
Multi-model      50
Wide column      42
Graph            17
Spatial DBMS     11
Time Series      10
Multi-Model       5
dtype: int64

Adjust to count the secondary models

In [13]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Second Model']).sum()
df_prisec

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Second Model,,,,,,,,,,,,,,,,,,,,,
Multi-model,268,36,0,0,0,0,98,37,0,100,...,29,3,19,1141,0,16,185,28,21,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,49,0,0,0,0,0,0

In [14]:
df11 = df_prisec.mask(df_prisec> 1, 1)
df11

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Second Model,,,,,,,,,,,,,,,,,,,,,
Multi-model,1,1,0,0,0,0,1,1,0,1,...,1,1,1,1,0,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [15]:
df11.isin([1]).sum(axis = 1)

Second Model
Multi-model    204
Relational      13
dtype: int64

In [16]:
df12 = df_prisec.mask(df_prisec> 1, 1)
df12

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Second Model,,,,,,,,,,,,,,,,,,,,,
Multi-model,1,1,0,0,0,0,1,1,0,1,...,1,1,1,1,0,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
df12.isin([1]).sum(axis = 1)

Second Model
Multi-model    204
Relational      13
dtype: int64

In [18]:
df13 = df_prisec.mask(df_prisec> 1, 1)
df13

,Activiti/Activiti,Alluxio/alluxio,AlmasB/FXGL,AntennaPod/AntennaPod,AnySoftKeyboard/AnySoftKeyboard,AsyncHttpClient/async-http-client,Athou/commafeed,Atmosphere/atmosphere,Automattic/simplenote-android,AxonFramework/AxonFramework,...,vipshop/Saturn,vsch/flexmark-java,webbukkit/dynmap,wildfly/wildfly,winder/Universal-G-Code-Sender,xuxueli/xxl-job,yacy/yacy_search_server,zaproxy/zaproxy,zendesk/maxwell,zxing/zxing
Second Model,,,,,,,,,,,,,,,,,,,,,
Multi-model,1,1,0,0,0,0,1,1,0,1,...,1,1,1,1,0,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [19]:
df13.isin([1]).sum(axis = 1)

Second Model
Multi-model    204
Relational      13
dtype: int64