In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from util import ANNOTATED_FILE
#reads projects from Excel file
df = pd.read_excel(ANNOTATED_FILE, keep_default_na=False)
len(df)

389

In [3]:
df = df[df.isSoftware == 'Y']
len(df)

384

In [4]:
df=df[df.discardReason == '']
len(df)

178

In [5]:
df.primaryLanguage.value_counts()

Python        29
Go            27
JavaScript    26
C++           20
C             20
Ruby          18
Java          15
PHP           13
TypeScript     6
C#             4
Name: primaryLanguage, dtype: int64

In [6]:
df[df.primaryLanguage == 'Python'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,150009.206897,7.793103,412.137931,585.068966,13508.965517,3154.827586,5151.413793,18507.448276,5628.103448,47.758621,211.758621,82.172414
std,180695.278288,3.949496,285.068378,427.800766,11241.782095,3219.619299,6011.161580,20043.151475,8896.756168,105.895047,261.838507,169.707746
min,11147.000000,2.000000,79.000000,217.000000,5109.000000,583.000000,0.000000,5377.000000,218.000000,1.000000,0.000000,0.000000
25%,40767.000000,5.000000,203.000000,315.000000,6182.000000,1522.000000,2046.000000,7593.000000,1254.000000,6.000000,54.000000,2.000000
50%,72472.000000,7.000000,328.000000,454.000000,8830.000000,2223.000000,3197.000000,11766.000000,2473.000000,15.000000,108.000000,23.000000
75%,218370.000000,10.000000,444.000000,660.000000,16045.000000,3164.000000,4505.000000,22171.000000,5237.000000,34.000000,279.000000,92.000000
max,785270.000000,17.000000,997.000000,2030.000000,54668.000000,16506.000000,24144.000000,106771.000000,37063.000000,500.000000,1048.000000,807.000000

In [7]:
df[df.primaryLanguage == 'Go'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.700000e+01,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,1.825116e+05,9.444444,546.814815,827.333333,17384.407407,3716.592593,5587.296296,14615.444444,7158.222222,118.259259,152.259259,74.444444
std,2.443948e+05,3.500916,342.662767,772.219628,14061.623837,4444.846127,6444.779204,16114.613548,9823.430673,302.623731,164.322992,69.929268
min,1.205200e+04,5.000000,84.000000,192.000000,5136.000000,530.000000,887.000000,5111.000000,1342.000000,1.000000,6.000000,0.000000
25%,5.536800e+04,7.000000,203.500000,410.500000,7573.500000,1463.500000,2792.000000,7158.500000,2438.500000,17.000000,70.500000,31.500000
50%,1.003380e+05,8.000000,459.000000,530.000000,13617.000000,2532.000000,3618.000000,8528.000000,3754.000000,39.000000,87.000000,66.000000
75%,1.618200e+05,11.000000,946.000000,967.500000,21654.500000,3680.500000,4743.000000,12162.000000,8869.000000,94.500000,141.500000,96.000000
max,1.024645e+06,18.000000,1000.000000,3259.000000,56967.000000,19855.000000,31503.000000,82332.000000,50307.000000,1600.000000,729.000000,334.000000

In [8]:
df[df.primaryLanguage == 'JavaScript'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.600000e+01,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,2.574554e+05,6.538462,394.346154,972.807692,27402.769231,4219.461538,5988.461538,18229.384615,6057.115385,104.230769,479.000000,100.269231
std,5.532441e+05,2.641678,286.978876,1600.574072,57465.783962,4811.032515,4712.371464,23498.580333,8102.248603,175.633552,1265.259499,145.035046
min,1.309200e+04,3.000000,10.000000,134.000000,5083.000000,502.000000,284.000000,5177.000000,34.000000,3.000000,0.000000,0.000000
25%,3.872125e+04,5.000000,162.250000,331.250000,8089.000000,1466.250000,2337.250000,7126.250000,1573.500000,6.500000,75.750000,11.000000
50%,8.604850e+04,6.000000,340.000000,502.000000,14730.000000,2237.500000,3684.000000,10985.000000,2859.000000,33.000000,136.500000,46.500000
75%,1.340012e+05,8.000000,539.250000,902.500000,23816.000000,5090.500000,9258.500000,18447.750000,5525.750000,126.750000,275.250000,114.500000
max,2.598496e+06,13.000000,1000.000000,8383.000000,304423.000000,22449.000000,17649.000000,124733.000000,26204.000000,801.000000,6532.000000,543.000000

In [9]:
df[df.primaryLanguage == 'C++'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000e+01,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,3.478650e+05,12.400000,273.800000,789.300000,11414.850000,3312.200000,3526.600000,14990.400000,4779.400000,19.500000,102.300000,57.850000
std,5.009597e+05,6.142175,257.703134,724.392166,8161.541168,5174.529977,4297.021446,12631.939995,5079.361972,48.623689,111.796855,95.669538
min,1.931900e+04,5.000000,33.000000,242.000000,5131.000000,416.000000,0.000000,5085.000000,93.000000,1.000000,0.000000,0.000000
25%,5.765000e+04,7.000000,112.500000,393.500000,6793.000000,1085.250000,1117.250000,6882.000000,837.500000,3.000000,14.500000,5.250000
50%,1.285335e+05,11.000000,178.500000,641.500000,8458.000000,1654.000000,1906.500000,9115.500000,3043.500000,7.000000,80.500000,22.000000
75%,3.544082e+05,15.750000,305.500000,843.000000,13854.250000,3652.500000,4695.000000,18159.500000,7795.000000,13.500000,151.250000,61.750000
max,1.754776e+06,25.000000,965.000000,3512.000000,39802.000000,23958.000000,19008.000000,53272.000000,15399.000000,224.000000,385.000000,385.000000

In [10]:
df[df.primaryLanguage == 'C'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000e+01,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,4.436881e+05,13.750000,453.850000,986.650000,14827.750000,4325.550000,2029.00000,108074.00000,2229.150000,53.150000,180.450000,29.000000
std,8.070294e+05,5.692793,359.108439,1436.621082,17567.538703,6622.277144,2538.38409,246760.76615,2469.794415,164.112373,207.748197,29.314986
min,1.781600e+04,5.000000,49.000000,163.000000,5202.000000,424.000000,0.00000,5092.00000,41.000000,1.000000,17.000000,0.000000
25%,4.328225e+04,9.750000,168.250000,377.000000,5963.500000,955.250000,0.00000,6549.25000,654.250000,4.000000,55.250000,0.000000
50%,1.038610e+05,14.500000,304.500000,538.500000,9046.500000,1951.000000,1028.00000,16320.50000,1508.500000,10.000000,75.500000,22.000000
75%,2.647070e+05,19.000000,737.500000,948.000000,14337.000000,3588.750000,2837.50000,61321.50000,2287.750000,28.250000,207.500000,51.500000
max,2.620015e+06,24.000000,1000.000000,6756.000000,79343.000000,27670.000000,8090.00000,856933.00000,8180.000000,746.000000,723.000000,94.000000

In [11]:
df[df.primaryLanguage == 'Ruby'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,123931.333333,6.500000,757.777778,566.833333,15123.222222,4021.055556,3677.444444,31911.111111,9748.277778,153.888889,388.055556,75.333333
std,151891.247877,2.684377,244.387483,354.919419,9287.387207,2099.440247,2776.314066,39927.271648,15816.673473,503.267662,562.137776,99.108378
min,11904.000000,1.000000,276.000000,30.000000,5017.000000,1099.000000,0.000000,5956.000000,687.000000,1.000000,0.000000,0.000000
25%,31748.750000,4.250000,624.000000,263.250000,7738.250000,2396.750000,1844.500000,8732.250000,3482.000000,3.250000,133.500000,0.000000
50%,81319.500000,6.500000,782.000000,528.000000,12071.000000,3512.500000,3500.500000,17014.000000,4828.500000,25.000000,168.500000,81.500000
75%,113231.500000,8.000000,982.750000,774.750000,18790.000000,5270.000000,4958.500000,29047.250000,6676.500000,48.750000,300.250000,106.250000
max,648097.000000,12.000000,1000.000000,1457.000000,38476.000000,8394.000000,9638.000000,148856.000000,63017.000000,2160.000000,2316.000000,408.000000

In [12]:
df[df.primaryLanguage == 'Java'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.500000e+01,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,6.665734e+05,12.60000,320.600000,629.066667,8421.666667,3320.533333,2693.866667,29045.133333,2785.466667,55.200000,202.733333,31.066667
std,8.691736e+05,4.01426,247.031172,269.297092,3017.821321,2175.222907,2908.578712,62891.355112,1931.878356,85.738973,198.958167,34.080717
min,8.664900e+04,5.00000,75.000000,244.000000,5009.000000,799.000000,0.000000,5039.000000,976.000000,3.000000,30.000000,0.000000
25%,1.370105e+05,10.00000,136.000000,416.500000,5731.500000,1234.000000,0.000000,7605.000000,1337.000000,6.000000,51.000000,1.000000
50%,2.209590e+05,14.00000,228.000000,623.000000,8347.000000,2866.000000,1558.000000,10100.000000,2103.000000,23.000000,112.000000,27.000000
75%,9.239990e+05,15.00000,476.000000,850.000000,9721.000000,5124.000000,4161.000000,21666.500000,3790.500000,54.000000,289.500000,46.500000
max,3.211777e+06,19.00000,967.000000,1040.000000,13681.000000,7087.000000,8160.000000,254859.000000,7243.000000,267.000000,668.000000,124.000000

In [13]:
df[df.primaryLanguage == 'PHP'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,184417.307692,6.076923,452.076923,605.000000,9476.692308,3170.000000,6727.923077,27265.384615,4939.384615,40.538462,221.307692,91.230769
std,159999.464551,2.465142,320.700395,383.632854,4291.390167,2428.893026,6290.915970,24752.281287,5099.021859,57.885829,197.602035,115.516344
min,14316.000000,2.000000,60.000000,219.000000,5012.000000,1105.000000,0.000000,5230.000000,270.000000,2.000000,0.000000,0.000000
25%,79952.000000,4.000000,197.000000,404.000000,6747.000000,1381.000000,2043.000000,8506.000000,1040.000000,5.000000,64.000000,21.000000
50%,164884.000000,6.000000,286.000000,488.000000,8294.000000,1847.000000,4583.000000,19820.000000,2951.000000,7.000000,121.000000,64.000000
75%,210490.000000,8.000000,716.000000,633.000000,11243.000000,5574.000000,10369.000000,40028.000000,8461.000000,48.000000,359.000000,101.000000
max,528705.000000,10.000000,1000.000000,1462.000000,20712.000000,7818.000000,18175.000000,92370.000000,17889.000000,201.000000,570.000000,425.000000

In [14]:
df[df.primaryLanguage == 'TypeScript'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,157358.000000,13.000000,534.500000,990.000000,29204.500000,4307.000000,16198.833333,22731.000000,3341.833333,149.833333,228.833333,85.833333
std,64594.761354,10.620734,401.804803,973.711867,29370.517849,4106.143544,28264.169561,16673.572635,2238.025864,109.115382,180.556270,126.224271
min,48501.000000,6.000000,95.000000,148.000000,6869.000000,431.000000,800.000000,7033.000000,114.000000,43.000000,37.000000,0.000000
25%,127838.750000,7.000000,187.000000,320.250000,7622.250000,1463.500000,2080.750000,12001.500000,1893.500000,80.750000,138.500000,4.750000
50%,188050.000000,9.500000,524.500000,778.000000,19219.500000,3563.000000,4292.500000,21632.500000,3581.500000,117.000000,190.500000,27.000000
75%,197427.750000,12.000000,888.250000,1153.250000,38144.250000,5312.250000,11030.500000,23181.500000,5176.500000,190.000000,252.250000,114.500000
max,211225.000000,34.000000,979.000000,2790.000000,81710.000000,11626.000000,73188.000000,53599.000000,5735.000000,339.000000,561.000000,320.000000

In [15]:
df[df.primaryLanguage == 'C#'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000
mean,69885.750000,7.250000,198.500000,634.500000,10237.000000,1909.000000,4561.000000,11141.750000,3255.500000,3.250000,133.000000,55.75000
std,49065.152463,2.217356,95.486474,296.176186,3727.666026,362.166628,2672.242005,10199.935829,3436.916108,3.201562,153.155694,17.23127
min,33125.000000,5.000000,78.000000,379.000000,6648.000000,1606.000000,1329.000000,5134.000000,328.000000,1.000000,40.000000,32.00000
25%,43973.000000,5.750000,144.000000,444.250000,7966.500000,1743.250000,2968.500000,5508.250000,636.250000,1.750000,55.750000,50.75000
50%,52201.000000,7.000000,217.500000,556.500000,9516.500000,1797.500000,4805.000000,6531.500000,2513.000000,2.000000,65.000000,59.00000
75%,78113.750000,8.500000,272.000000,746.750000,11787.000000,1963.250000,6397.500000,12165.000000,5132.250000,3.500000,142.250000,64.00000
max,142016.000000,10.000000,281.000000,1046.000000,15267.000000,2435.000000,7305.000000,26370.000000,7668.000000,8.000000,362.000000,73.00000

In [16]:
df.describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.780000e+02,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,2.677161e+05,9.359551,448.589888,764.601124,15934.707865,3658.280899,4924.505618,30404.859551,5442.016854,77.404494,242.522472,70.129213
std,4.928449e+05,5.127189,321.418599,916.375724,25065.277465,4164.745615,7137.806082,89739.729860,8384.882447,224.026568,547.005130,110.730549
min,1.114700e+04,1.000000,10.000000,30.000000,5009.000000,416.000000,0.000000,5039.000000,34.000000,1.000000,0.000000,0.000000
25%,4.781700e+04,6.000000,171.250000,344.750000,6649.750000,1380.250000,1572.750000,7152.750000,1360.000000,5.000000,63.000000,2.250000
50%,1.079660e+05,8.000000,356.000000,537.000000,9932.000000,2366.500000,3245.500000,10635.000000,2950.000000,17.000000,115.000000,32.500000
75%,2.104215e+05,12.000000,705.500000,882.750000,16658.250000,4198.750000,5220.000000,23826.750000,5725.000000,56.500000,252.750000,83.500000
max,3.211777e+06,34.000000,1000.000000,8383.000000,304423.000000,27670.000000,73188.000000,856933.000000,63017.000000,2160.000000,6532.000000,807.000000

In [17]:
df.domain.value_counts()

software development         15
cms                          13
media                        13
infrastructure management    13
monitoring                   12
communication                11
game                         11
operating system             11
application container        10
scm                           8
security                      8
file management               8
package management            8
e-commerce                    6
collaboration                 6
program analysis              5
network                       5
machine learning              4
cryptocurrency                4
automation                    3
erp                           2
hpc                           2
Name: domain, dtype: int64

In [18]:
len(df.domain.value_counts())

22

In [19]:
df[df.domain == 'software development'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.500000e+01,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,4.112877e+05,9.733333,498.000000,1375.066667,41427.866667,5392.066667,10012.933333,33939.666667,4422.066667,78.066667,644.933333,80.266667
std,8.754215e+05,8.110546,285.683891,2092.040578,75777.826747,5903.497480,18016.716010,62505.558261,5397.702388,102.988534,1639.543206,142.177689
min,1.190400e+04,3.000000,120.000000,252.000000,5009.000000,1053.000000,0.000000,5177.000000,405.000000,4.000000,0.000000,0.000000
25%,3.113700e+04,4.500000,307.500000,396.000000,7262.500000,1579.500000,2801.500000,7849.000000,1349.000000,7.000000,103.000000,0.000000
50%,9.245400e+04,7.000000,460.000000,640.000000,18335.000000,3409.000000,3886.000000,16677.000000,3193.000000,25.000000,139.000000,18.000000
75%,2.004815e+05,12.000000,674.500000,1216.500000,35355.000000,5435.500000,8748.500000,24310.500000,5587.500000,111.000000,473.500000,74.000000
max,3.211777e+06,34.000000,996.000000,8383.000000,304423.000000,22449.000000,73188.000000,254859.000000,22500.000000,339.000000,6532.000000,498.000000

In [20]:
df[df.domain == 'media'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.300000e+01,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.0000,13.000000,13.000000,13.000000,13.000000
mean,2.671813e+05,10.307692,362.076923,677.615385,13975.153846,3093.846154,2968.692308,30379.0000,2518.846154,12.923077,173.307692,70.769231
std,4.055536e+05,5.935551,276.312462,463.945316,13693.940873,2785.628979,4858.773120,30488.0693,4049.649570,16.449223,276.395666,77.772268
min,1.872800e+04,3.000000,79.000000,234.000000,5227.000000,583.000000,0.000000,5633.0000,86.000000,1.000000,0.000000,0.000000
25%,4.758900e+04,5.000000,166.000000,315.000000,6182.000000,1078.000000,0.000000,8034.0000,662.000000,3.000000,54.000000,11.000000
50%,9.115700e+04,10.000000,277.000000,466.000000,9451.000000,1606.000000,1115.000000,12656.0000,1017.000000,8.000000,64.000000,57.000000
75%,2.538760e+05,14.000000,496.000000,1027.000000,14302.000000,5119.000000,3515.000000,46957.0000,1942.000000,18.000000,158.000000,94.000000
max,1.515662e+06,21.000000,997.000000,1757.000000,54668.000000,9469.000000,17673.000000,94624.0000,15247.000000,60.000000,1048.000000,272.000000

In [21]:
df[df.domain == 'cms'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,91345.000000,5.615385,419.923077,684.461538,16716.461538,3527.538462,4200.384615,13878.384615,4978.076923,124.153846,227.692308,80.846154
std,53959.299239,1.660244,225.268529,433.697786,11649.367054,2498.846488,3022.455722,11199.577794,6206.749827,236.604398,302.425579,79.135797
min,16918.000000,3.000000,60.000000,217.000000,5083.000000,1135.000000,0.000000,5228.000000,413.000000,6.000000,63.000000,0.000000
25%,63246.000000,5.000000,267.000000,404.000000,7757.000000,1683.000000,2433.000000,8288.000000,2345.000000,16.000000,99.000000,10.000000
50%,87311.000000,5.000000,395.000000,530.000000,12796.000000,2372.000000,3493.000000,9630.000000,2919.000000,33.000000,122.000000,93.000000
75%,134259.000000,7.000000,546.000000,1002.000000,18683.000000,4202.000000,4789.000000,12925.000000,5541.000000,50.000000,182.000000,106.000000
max,194007.000000,8.000000,947.000000,1462.000000,38476.000000,8394.000000,11353.000000,40028.000000,24203.000000,801.000000,1194.000000,264.000000

In [22]:
df[df.domain == 'infrastructure management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,141055.230769,10.307692,687.230769,729.846154,11905.769231,3915.923077,6377.307692,24707.384615,9926.615385,74.153846,420.230769,28.307692
std,103927.687040,3.838068,324.844105,467.354763,9187.397656,4184.492790,7895.239224,27331.823038,11553.934521,73.862311,621.450609,51.454486
min,19246.000000,3.000000,110.000000,276.000000,5136.000000,543.000000,0.000000,6516.000000,1845.000000,3.000000,20.000000,0.000000
25%,86649.000000,8.000000,592.000000,431.000000,6443.000000,1837.000000,2357.000000,9249.000000,3090.000000,26.000000,112.000000,0.000000
50%,113621.000000,10.000000,782.000000,610.000000,8421.000000,2660.000000,2727.000000,15779.000000,6162.000000,42.000000,179.000000,2.000000
75%,167215.000000,12.000000,980.000000,903.000000,13320.000000,4619.000000,5229.000000,24633.000000,9339.000000,97.000000,368.000000,6.000000
max,431284.000000,17.000000,1000.000000,2030.000000,38992.000000,16506.000000,24144.000000,106771.000000,37063.000000,231.000000,2316.000000,130.000000

In [23]:
df[df.domain == 'monitoring'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.200000e+01,12.000000,12.000000,12.00000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,1.832792e+05,9.666667,391.500000,796.50000,18377.916667,3058.250000,5634.500000,13378.250000,6270.583333,80.916667,163.500000,95.500000
std,2.722151e+05,2.902455,289.323191,310.57498,9721.079368,1341.704759,5278.969243,9133.581844,6946.517053,99.024752,162.239722,111.502548
min,1.581400e+04,4.000000,75.000000,300.00000,9204.000000,1164.000000,1558.000000,5039.000000,1697.000000,1.000000,29.000000,7.000000
25%,3.620825e+04,8.750000,220.000000,631.25000,11515.250000,2177.750000,2135.250000,6845.750000,2731.000000,8.750000,49.000000,32.250000
50%,1.092255e+05,9.000000,289.500000,751.50000,14180.500000,2840.500000,3241.000000,8607.500000,3526.500000,44.000000,118.000000,64.000000
75%,2.026158e+05,10.500000,431.750000,966.00000,22904.500000,3643.250000,7365.250000,23353.750000,6697.750000,101.250000,188.000000,102.000000
max,1.014794e+06,15.000000,1000.000000,1340.00000,40504.000000,5844.000000,17649.000000,27059.000000,26204.000000,324.000000,570.000000,425.000000

In [24]:
df[df.domain == 'communication'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,142661.545455,7.909091,334.454545,496.000000,14386.272727,2632.090909,3880.818182,15798.363636,3631.090909,45.909091,175.454545,111.000000
std,101826.940150,2.467977,265.324467,260.282923,7790.954153,1888.815367,2696.187821,10233.490932,3353.585796,55.209518,137.311590,121.776024
min,25054.000000,4.000000,75.000000,134.000000,6869.000000,431.000000,0.000000,6044.000000,114.000000,2.000000,18.000000,0.000000
25%,69849.000000,6.500000,145.000000,387.500000,9019.500000,1167.500000,1709.000000,6615.000000,518.500000,4.000000,65.000000,35.500000
50%,112063.000000,8.000000,172.000000,468.000000,10350.000000,2433.000000,3534.000000,14027.000000,3441.000000,30.000000,121.000000,53.000000
75%,188498.500000,9.500000,491.000000,577.500000,19884.000000,3218.000000,5273.500000,19297.000000,6602.500000,72.500000,301.500000,156.500000
max,339511.000000,12.000000,803.000000,931.000000,28888.000000,6523.000000,9518.000000,34254.000000,8407.000000,164.000000,385.000000,385.000000

In [25]:
df[df.domain == 'game'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.100000e+01,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,3.575378e+05,12.272727,328.636364,600.363636,9053.272727,2125.000000,4639.000000,17856.000000,5524.272727,27.000000,114.727273,66.909091
std,4.003589e+05,7.044017,285.125331,371.945499,5449.153257,1938.877665,5434.894461,10567.947937,4799.826249,72.066636,195.918907,159.577852
min,3.105900e+04,5.000000,37.000000,242.000000,5131.000000,519.000000,0.000000,6357.000000,184.000000,1.000000,0.000000,0.000000
25%,5.649600e+04,7.000000,148.000000,348.000000,6651.500000,945.500000,1155.500000,8287.000000,2693.500000,2.500000,9.500000,0.000000
50%,1.420160e+05,10.000000,269.000000,456.000000,6984.000000,1268.000000,3002.000000,17170.000000,4033.000000,5.000000,24.000000,15.000000
75%,5.330895e+05,16.500000,441.500000,690.000000,8458.000000,2354.000000,6204.500000,24698.000000,7997.000000,8.500000,100.000000,37.000000
max,1.154540e+06,25.000000,965.000000,1312.000000,24016.000000,6724.000000,19008.000000,37029.000000,15399.000000,244.000000,613.000000,543.000000

In [26]:
df[df.domain == 'operating system'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.100000e+01,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,8.297952e+05,13.545455,413.000000,1111.909091,13834.454545,4746.000000,3118.181818,165019.545455,2675.636364,14.636364,165.545455,37.727273
std,1.018701e+06,6.377517,388.993316,1894.494574,21915.949568,7987.360014,3117.772564,326893.978695,2696.742044,19.638089,182.792431,66.750417
min,2.777000e+04,5.000000,33.000000,251.000000,5298.000000,416.000000,0.000000,5092.000000,93.000000,1.000000,6.000000,0.000000
25%,7.365050e+04,8.500000,145.000000,289.000000,5897.000000,708.000000,443.500000,6995.500000,859.000000,1.500000,52.500000,2.500000
50%,1.191770e+05,11.000000,253.000000,589.000000,6205.000000,1768.000000,2134.000000,7430.000000,1870.000000,5.000000,81.000000,22.000000
75%,1.656210e+06,19.000000,705.000000,852.000000,8074.500000,4750.500000,5644.000000,58523.500000,3400.500000,19.000000,224.500000,33.500000
max,2.620015e+06,24.000000,1000.000000,6756.000000,79343.000000,27670.000000,8090.000000,856933.000000,8180.000000,60.000000,616.000000,231.000000

In [27]:
df[df.domain == 'application container'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2.467866e+05,8.400000,732.700000,1025.000000,20283.400000,5512.900000,8666.400000,20709.000000,10459.700000,38.200000,142.000000,83.400000
std,3.828297e+05,3.373096,356.114229,1126.174843,19251.376339,6638.397103,9620.937159,24361.258438,15360.016826,49.823689,150.225016,94.064044
min,1.114700e+04,4.000000,109.000000,247.000000,5610.000000,530.000000,1552.000000,5377.000000,1548.000000,3.000000,59.000000,0.000000
25%,2.358950e+04,6.000000,477.250000,414.000000,8890.500000,2450.750000,2905.000000,5932.000000,2430.750000,9.000000,66.250000,58.250000
50%,5.536800e+04,7.500000,953.500000,526.500000,12514.500000,2786.000000,4585.000000,10300.500000,3148.500000,25.500000,75.000000,62.000000
75%,1.937528e+05,10.500000,971.000000,768.000000,18378.500000,3828.750000,8477.250000,26117.000000,12299.500000,42.750000,136.250000,76.500000
max,1.024645e+06,15.000000,993.000000,3259.000000,56967.000000,19855.000000,31503.000000,82332.000000,50307.000000,172.000000,550.000000,334.000000

In [28]:
df[df.domain == 'scm'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,8.000000e+00,8.000000,8.00000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,3.129135e+05,11.750000,560.00000,773.000000,13615.125000,4423.000000,3392.875000,23054.375000,2819.625000,41.375000,366.375000,81.125000
std,4.091987e+05,4.301163,361.59804,606.420646,9148.477179,5239.707544,3414.247059,15334.221988,1712.486491,38.433384,385.056188,135.550136
min,1.205200e+04,6.000000,136.00000,244.000000,5103.000000,799.000000,0.000000,7332.000000,565.000000,4.000000,50.000000,0.000000
25%,6.150600e+04,7.750000,248.50000,389.750000,7280.750000,1291.250000,968.250000,13760.000000,1498.750000,7.250000,66.250000,1.500000
50%,1.190540e+05,13.000000,519.50000,626.000000,10278.000000,2910.000000,2376.500000,21813.500000,2824.000000,36.500000,169.000000,48.500000
75%,3.858518e+05,14.250000,924.25000,903.250000,16867.750000,4435.750000,5252.250000,24710.750000,4055.500000,60.250000,681.750000,71.000000
max,1.177015e+06,18.000000,1000.00000,2142.000000,28844.000000,16703.000000,9638.000000,56567.000000,5529.000000,110.000000,1029.000000,408.000000

In [29]:
df[df.domain == 'package management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,8.000000,8.000000,8.000000,8.00000,8.00000,8.000000,8.000000,8.000000,8.00000,8.000000,8.000000,8.000000
mean,109093.125000,5.250000,597.500000,392.25000,12851.50000,3811.500000,4166.625000,37235.875000,14611.37500,10.000000,112.250000,55.250000
std,98255.123783,3.575712,309.535597,172.20482,6332.23312,2529.787117,1698.460558,53672.941689,23614.31985,16.026763,93.556324,57.861287
min,14316.000000,1.000000,267.000000,214.00000,5610.00000,1234.000000,2221.000000,6486.000000,1133.00000,1.000000,0.000000,0.000000
25%,38218.000000,3.500000,313.500000,258.00000,6116.50000,1704.750000,3039.250000,7453.250000,1638.00000,1.000000,55.750000,4.500000
50%,58299.500000,4.000000,572.500000,331.00000,13857.50000,3155.500000,3661.500000,8533.000000,2786.00000,1.500000,94.000000,43.500000
75%,192566.500000,7.250000,827.250000,561.75000,18232.75000,5861.500000,5154.250000,37189.500000,13101.25000,10.250000,148.000000,89.500000
max,255948.000000,12.000000,999.000000,633.00000,20712.00000,7486.000000,7315.000000,148856.000000,63017.00000,45.000000,289.000000,153.000000

In [30]:
df[df.domain == 'security'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,8.000000,8.00000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,130202.125000,10.25000,260.375000,528.500000,12109.125000,1921.625000,3400.875000,11300.000000,3812.500000,296.125000,92.625000,38.000000
std,138277.287575,4.20034,294.834548,245.700747,6866.999021,910.191336,1383.462575,8635.019447,4306.508131,554.384198,65.702658,44.281567
min,22977.000000,6.00000,59.000000,192.000000,5336.000000,566.000000,1026.000000,6385.000000,218.000000,1.000000,17.000000,0.000000
25%,46183.250000,7.75000,83.250000,379.250000,6359.500000,1136.750000,2820.000000,7246.250000,1516.500000,2.750000,52.750000,3.000000
50%,79212.000000,8.50000,141.500000,487.500000,11241.500000,2045.500000,3523.000000,8528.500000,2684.500000,32.000000,76.000000,21.500000
75%,151269.750000,12.00000,287.500000,627.750000,15206.500000,2563.250000,4264.500000,9751.500000,4059.750000,274.250000,108.000000,65.750000
max,446162.000000,18.00000,940.000000,893.000000,25524.000000,3256.000000,5161.000000,32363.000000,13892.000000,1600.000000,227.000000,124.000000

In [31]:
df[df.domain == 'file management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.00000,8.0000,8.00000,8.000000,8.000000,8.000000
mean,138240.625000,8.000000,308.375000,493.375000,11268.875000,1461.500000,5829.62500,16844.2500,4720.50000,62.750000,233.250000,41.125000
std,159252.600388,2.329929,228.974071,229.500039,7352.662422,597.464165,5853.79569,18097.3831,5864.68964,74.384618,177.847246,55.364861
min,17816.000000,5.000000,52.000000,163.000000,5202.000000,424.000000,556.00000,5247.0000,250.00000,7.000000,57.000000,0.000000
25%,26283.750000,6.500000,169.500000,373.250000,6924.750000,1146.500000,2163.50000,5549.7500,1900.75000,11.000000,86.250000,5.250000
50%,68801.500000,8.000000,234.500000,465.000000,8468.000000,1518.000000,3483.50000,8177.0000,2227.00000,19.500000,168.000000,21.000000
75%,195160.000000,9.500000,380.000000,563.000000,12001.750000,1859.000000,8467.25000,18324.2500,4654.00000,105.250000,377.000000,56.500000
max,469515.000000,11.000000,716.000000,933.000000,27451.000000,2314.000000,18175.00000,50339.0000,17889.00000,201.000000,526.000000,166.000000

In [32]:
df[df.domain == 'e-commerce'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,177183.166667,6.000000,610.666667,532.166667,6480.000000,4018.333333,7548.500000,31214.500000,5924.833333,17.833333,161.166667,84.833333
std,174863.271571,0.632456,353.610897,466.230165,1940.085874,2001.873489,6184.448359,30969.876801,2820.053362,16.654329,119.167809,50.874027
min,79952.000000,5.000000,125.000000,30.000000,5012.000000,1575.000000,2263.000000,9383.000000,2318.000000,5.000000,41.000000,22.000000
25%,89924.750000,6.000000,351.000000,284.250000,5366.500000,2458.250000,3712.000000,14999.250000,3660.250000,6.250000,89.500000,44.500000
50%,100343.500000,6.000000,664.000000,432.000000,5431.500000,4071.500000,4203.000000,19816.000000,6287.000000,11.500000,118.000000,97.500000
75%,150563.250000,6.000000,889.250000,627.000000,7190.000000,5380.250000,12693.500000,29335.250000,8313.000000,22.750000,220.000000,107.750000
max,528705.000000,7.000000,1000.000000,1372.000000,9884.000000,6655.000000,15550.000000,92370.000000,8884.000000,48.000000,356.000000,154.000000

In [33]:
df[df.domain == 'collaboration'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,187375.000000,8.833333,423.000000,628.666667,15513.000000,2437.666667,1967.833333,23702.666667,2061.833333,395.166667,243.000000,23.666667
std,234228.886587,1.834848,331.766786,362.648406,9792.640196,1833.985133,1865.893396,37862.065425,1431.699608,867.011976,401.473287,30.104263
min,16970.000000,7.000000,85.000000,237.000000,5137.000000,620.000000,0.000000,5111.000000,270.000000,2.000000,0.000000,0.000000
25%,50310.750000,8.000000,213.750000,380.000000,8769.500000,1460.750000,353.750000,5782.000000,1368.000000,6.000000,46.250000,0.000000
50%,139608.000000,8.000000,318.500000,515.500000,13242.000000,1704.500000,1795.000000,7429.000000,1590.500000,17.000000,62.500000,10.000000
75%,154468.500000,9.500000,573.250000,926.250000,20373.250000,3152.000000,3420.000000,14221.750000,3137.500000,133.750000,201.750000,47.000000
max,648097.000000,12.000000,979.000000,1106.000000,31428.000000,5583.000000,4382.000000,100528.000000,3973.000000,2160.000000,1044.000000,66.000000

In [34]:
df[df.domain == 'program analysis'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.00000
mean,80346.600000,8.20000,512.000000,355.400000,8645.400000,1897.400000,3004.800000,9582.000000,3182.40000,11.000000,90.200000,66.80000
std,72574.837236,6.09918,374.198477,191.633243,1839.606969,518.919358,2427.790395,7287.934035,2932.47682,9.974969,42.926682,25.60664
min,28898.000000,4.00000,78.000000,213.000000,6748.000000,1105.000000,1329.000000,5134.000000,328.00000,3.000000,40.000000,32.00000
25%,33125.000000,6.00000,197.000000,219.000000,7023.000000,1789.000000,1549.000000,5956.000000,1040.00000,5.000000,69.000000,50.00000
50%,35282.000000,6.00000,630.000000,242.000000,8406.000000,1930.000000,1719.000000,6017.000000,2826.00000,8.000000,73.000000,73.00000
75%,108448.000000,6.00000,655.000000,456.000000,10224.000000,2159.000000,3311.000000,8363.000000,3961.00000,11.000000,125.000000,84.00000
max,195980.000000,19.00000,1000.000000,647.000000,10826.000000,2504.000000,7116.000000,22440.000000,7757.00000,28.000000,144.000000,95.00000

In [35]:
df[df.domain == 'network'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,73326.200000,9.000000,154.800000,570.600000,11162.200000,1867.600000,1316.000000,10585.200000,756.400000,156.800000,250.000000,53.200000
std,28295.994075,5.612486,214.089234,284.888224,4864.284243,1426.783901,1386.763678,7915.295048,1015.917959,329.412659,164.287857,65.491984
min,38743.000000,3.000000,10.000000,153.000000,5550.000000,502.000000,0.000000,6300.000000,34.000000,4.000000,73.000000,0.000000
25%,58781.000000,6.000000,51.000000,432.000000,8625.000000,647.000000,284.000000,6604.000000,41.000000,5.000000,188.000000,0.000000
50%,64263.000000,6.000000,81.000000,653.000000,9468.000000,1446.000000,1030.000000,6886.000000,238.000000,13.000000,219.000000,38.000000
75%,99274.000000,15.000000,99.000000,730.000000,14442.000000,3163.000000,1813.000000,8471.000000,1059.000000,16.000000,252.000000,70.000000
max,105570.000000,15.000000,533.000000,885.000000,17726.000000,3580.000000,3453.000000,24665.000000,2410.000000,746.000000,518.000000,158.000000

In [36]:
df[df.domain == 'machine learning'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,4.000000e+00,4.000000,4.000000,4.000000,4.0000,4.000000,4.000000,4.000000,4.000000,4.00000,4.000000,4.000000
mean,6.124398e+05,11.000000,177.750000,489.500000,8776.7500,2285.000000,1664.500000,10758.500000,2861.750000,39.00000,110.000000,9.250000
std,7.694087e+05,7.164728,61.510839,388.908301,4050.5818,1778.683221,1170.319187,2372.524745,3175.384111,26.73325,107.113647,7.135592
min,1.258940e+05,4.000000,95.000000,209.000000,6250.0000,815.000000,758.000000,8564.000000,1064.000000,15.00000,7.000000,2.000000
25%,1.712450e+05,5.500000,155.000000,260.750000,6457.7500,1380.500000,789.500000,8948.750000,1229.750000,18.00000,26.500000,5.750000
50%,2.845445e+05,10.500000,187.500000,345.000000,7030.5000,1729.500000,1326.500000,10421.500000,1382.500000,35.00000,102.000000,8.000000
75%,7.257392e+05,16.000000,210.250000,573.750000,9349.5000,2634.000000,2201.500000,12231.250000,3014.500000,56.00000,185.500000,11.500000
max,1.754776e+06,19.000000,241.000000,1059.000000,14796.0000,4866.000000,3247.000000,13627.000000,7618.000000,71.00000,229.000000,19.000000

In [37]:
df[df.domain == 'cryptocurrency'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,115977.000000,10.000000,364.000000,1771.500000,20667.000000,9300.750000,3782.250000,12664.750000,5114.000000,79.750000,338.000000,73.500000
std,26778.329634,4.760952,229.746237,1352.202278,14557.480528,10261.894282,1548.352969,6052.771782,4599.656364,99.887854,352.672653,35.161532
min,76342.000000,5.000000,159.000000,327.000000,8179.000000,1247.000000,1481.000000,6754.000000,845.000000,6.000000,115.000000,29.000000
25%,111454.750000,6.500000,185.250000,996.750000,9977.500000,2797.250000,3667.250000,10073.500000,2744.000000,16.500000,144.250000,62.750000
50%,127166.000000,10.000000,326.500000,1623.500000,17343.500000,5999.000000,4401.500000,11388.500000,4008.000000,44.500000,187.000000,75.000000
75%,131688.250000,13.500000,505.250000,2398.250000,28033.000000,12502.500000,4516.500000,13979.750000,6378.000000,107.750000,380.750000,85.750000
max,133234.000000,15.000000,644.000000,3512.000000,39802.000000,23958.000000,4845.000000,21128.000000,11595.000000,224.000000,863.000000,115.000000

In [38]:
df[df.domain == 'automation'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,3.000000,3.0,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.00000,3.000000,3.000000
mean,85773.666667,5.0,696.666667,784.333333,15060.333333,5749.333333,4034.666667,12019.000000,7372.666667,31.00000,275.000000,158.333333
std,39668.399531,3.0,455.658132,248.912300,10252.020110,1602.753048,5773.397382,7628.633364,7268.746407,37.26929,162.332991,245.748516
min,42013.000000,2.0,171.000000,623.000000,5618.000000,4634.000000,0.000000,6822.000000,1411.000000,8.00000,119.000000,10.000000
25%,68974.000000,3.5,555.500000,641.000000,9608.000000,4831.000000,728.000000,7640.000000,3324.000000,9.50000,191.000000,16.500000
50%,95935.000000,5.0,940.000000,659.000000,13598.000000,5028.000000,1456.000000,8458.000000,5237.000000,11.00000,263.000000,23.000000
75%,107654.000000,6.5,959.500000,865.000000,19781.500000,6307.000000,6052.000000,14617.500000,10353.500000,42.50000,353.000000,232.500000
max,119373.000000,8.0,979.000000,1071.000000,25965.000000,7586.000000,10648.000000,20777.000000,15470.000000,74.00000,443.000000,442.000000

In [39]:
df[df.domain == 'hpc'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.0
mean,329185.500000,17.000000,289.500000,836.50000,7637.000000,4917.500000,0.0,16389.500000,2223.500000,153.000000,178.000000,0.0
std,212296.790236,1.414214,68.589358,287.79246,2580.939751,1382.393757,0.0,8894.696201,1262.185604,161.220346,195.161472,0.0
min,179069.000000,16.000000,241.000000,633.00000,5812.000000,3940.000000,0.0,10100.000000,1331.000000,39.000000,40.000000,0.0
25%,254127.250000,16.500000,265.250000,734.75000,6724.500000,4428.750000,0.0,13244.750000,1777.250000,96.000000,109.000000,0.0
50%,329185.500000,17.000000,289.500000,836.50000,7637.000000,4917.500000,0.0,16389.500000,2223.500000,153.000000,178.000000,0.0
75%,404243.750000,17.500000,313.750000,938.25000,8549.500000,5406.250000,0.0,19534.250000,2669.750000,210.000000,247.000000,0.0
max,479302.000000,18.000000,338.000000,1040.00000,9462.000000,5895.000000,0.0,22679.000000,3116.000000,267.000000,316.000000,0.0

In [40]:
df[df.domain == 'erp'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000e+00,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,1.691883e+06,9.000000,617.500000,1008.500000,9914.000000,6509.000000,10528.000000,76521.000000,16031.500000,36.000000,444.500000,403.500000
std,1.282144e+06,5.656854,444.770165,741.755013,6795.296167,6061.319328,520.430591,68182.064269,10424.875275,29.698485,518.309271,570.635172
min,7.852700e+05,5.000000,303.000000,484.000000,5109.000000,2223.000000,10160.000000,28309.000000,8660.000000,15.000000,78.000000,0.000000
25%,1.238576e+06,7.000000,460.250000,746.250000,7511.500000,4366.000000,10344.000000,52415.000000,12345.750000,25.500000,261.250000,201.750000
50%,1.691883e+06,9.000000,617.500000,1008.500000,9914.000000,6509.000000,10528.000000,76521.000000,16031.500000,36.000000,444.500000,403.500000
75%,2.145190e+06,11.000000,774.750000,1270.750000,12316.500000,8652.000000,10712.000000,100627.000000,19717.250000,46.500000,627.750000,605.250000
max,2.598496e+06,13.000000,932.000000,1533.000000,14719.000000,10795.000000,10896.000000,124733.000000,23403.000000,57.000000,811.000000,807.000000