In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR

In [28]:
#from util import DATABASES_MODELS

In [2]:
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)
#reads projects from Excel file
len(df)
df.head()

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [3]:
df.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_DB','MS SQL Server':'MS_SQL_Server'}, inplace=True)
df.rename(columns={'Join_Ignite-Sql':'Ignite_Sql','Join_Ignite-NoSql':'Ignite_NoSql','Join_MarkLogic-Sql':'MarkLogic_Sql',
                    'Join_MarkLogic-NoSql':'MarkLogic_NoSql','Join_Virtuoso-Sql':'Virtuoso_Sql','Join_Virtuoso-NoSql':'Virtuoso_NoSql'}, inplace=True)
print(df.columns)

Index(['PROJECTS', 'COMMITS', 'Memcached', 'Microsoft Azure Table Storage',
       'FileMaker', 'Riak KV', 'Hive', 'Redis', 'Aerospike',
       'Google Cloud Datastore', 'MariaDB', 'Neo4j', 'H2', 'Google BigQuery',
       'HBase', 'Netezza', 'Elasticsearch', 'SapHana', 'Oracle', 'OrientDB',
       'DynamoDB', 'Firebird', 'Informix', 'IBM_DB2', 'Couchbase',
       'Firebase Realtime', 'MongoDB', 'Hazelcast', 'Impala', 'Influx DB',
       'SQLite', 'Solr', 'Snowflake', 'Amazon Redshift', 'PostgreSQL', 'Realm',
       'Cassandra', 'MS_SQL_Server', 'Ehcache', 'Microsoft Azure CosmosDB',
       'MS_Access', 'SAP Adaptive Server', 'CouchDB', 'ClickHouse', 'Vertica',
       'Teradata', 'PostGIS', 'Etcd', 'MySQL', 'Ignite_Sql', 'Ignite_NoSql',
       'MarkLogic_Sql', 'MarkLogic_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

In [4]:
df.rename(columns={'PROJECTS' : 'DataBases'}, inplace=True)
print(df.columns)

Index(['DataBases', 'COMMITS', 'Memcached', 'Microsoft Azure Table Storage',
       'FileMaker', 'Riak KV', 'Hive', 'Redis', 'Aerospike',
       'Google Cloud Datastore', 'MariaDB', 'Neo4j', 'H2', 'Google BigQuery',
       'HBase', 'Netezza', 'Elasticsearch', 'SapHana', 'Oracle', 'OrientDB',
       'DynamoDB', 'Firebird', 'Informix', 'IBM_DB2', 'Couchbase',
       'Firebase Realtime', 'MongoDB', 'Hazelcast', 'Impala', 'Influx DB',
       'SQLite', 'Solr', 'Snowflake', 'Amazon Redshift', 'PostgreSQL', 'Realm',
       'Cassandra', 'MS_SQL_Server', 'Ehcache', 'Microsoft Azure CosmosDB',
       'MS_Access', 'SAP Adaptive Server', 'CouchDB', 'ClickHouse', 'Vertica',
       'Teradata', 'PostGIS', 'Etcd', 'MySQL', 'Ignite_Sql', 'Ignite_NoSql',
       'MarkLogic_Sql', 'MarkLogic_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

In [5]:
df

,DataBases,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Ignite_Sql,Ignite_NoSql,MarkLogic_Sql,MarkLogic_NoSql,Virtuoso_Sql,Virtuoso_NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,maxwell,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3266,maxwell,7,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3267,maxwell,8,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3268,maxwell,9,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3269,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [6]:
df = df.groupby("DataBases").sum()
df

,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,...,Teradata,PostGIS,Etcd,MySQL,Ignite_Sql,Ignite_NoSql,MarkLogic_Sql,MarkLogic_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeppelin,55,0,0,0,0,9,8,0,10,7,...,0,0,0,8,0,8,0,0,0,0
zipkin,55,0,0,0,0,0,0,0,0,7,...,0,0,0,9,0,0,0,0,0,0
zookeeper,55,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Para apresentar quantos BDs apareceram por Projeto
def num_missing(x):
   return sum(x >= 1)
df.apply(num_missing, axis=1).sort_values()
df

,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,...,Teradata,PostGIS,Etcd,MySQL,Ignite_Sql,Ignite_NoSql,MarkLogic_Sql,MarkLogic_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeppelin,55,0,0,0,0,9,8,0,10,7,...,0,0,0,8,0,8,0,0,0,0
zipkin,55,0,0,0,0,0,0,0,0,7,...,0,0,0,9,0,0,0,0,0,0
zookeeper,55,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
#df = df.groupby("DataBases").sum()
#df2 = df["COMMITS"].sum().sort_values(ascending=False)
#df2.iloc[: , 1:] => para ocultar a linha COMMITS
df= df.iloc[: ,1:]
df2 = df.T
df2

DataBases,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Memcached,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FileMaker,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Riak KV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hive,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
Redis,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,8,0,0,0
Aerospike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Google Cloud Datastore,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,0,0,0
MariaDB,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,7,7,0,0
Neo4j,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
H2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,3,0,0
Google BigQuery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HBase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
Netezza,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Elasticsearch,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,8,7,2,0,0
SapHana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oracle,6,0,0,0,0,0,0,5,0,0,...,0,0,0,0,6,0,0,0,0,0
OrientDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DynamoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firebird,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Informix,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IBM_DB2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Couchbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firebase Realtime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MongoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
Hazelcast,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,3,0,0,0
Impala,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Influx DB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
SQLite,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,8,0,0,4,0,0
Solr,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
Snowflake,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Amazon Redshift,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
PostgreSQL,6,0,0,0,0,0,0,0,1,10,...,0,0,10,0,0,0,9,3,0,0
Realm,0,0,1,0,0,0,0,0,0,0,...,0,9,0,0,0,0,0,0,0,0
Cassandra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,9,0,0
MS_SQL_Server,4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
Ehcache,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MS_Access,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAP Adaptive Server,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CouchDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ClickHouse,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vertica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Teradata,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PostGIS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Etcd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MySQL,6,0,0,0,0,0,0,0,1,10,...,0,0,10,0,6,0,8,9,2,0
Ignite_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
MarkLogic_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MarkLogic_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df2.columns

Index(['Activiti', 'AmazeFileManager', 'Android-IMSI-Catcher-Detector',
       'Anki-Android', 'AntennaPod', 'AnySoftKeyboard', 'Apktool', 'Arduino',
       'AsciidocFX', 'BIMserver',
       ...
       'wiremock', 'xabber-android', 'yacy_search_server', 'zalenium',
       'zaproxy', 'zeebe', 'zeppelin', 'zipkin', 'zookeeper', 'zotfile'],
      dtype='object', name='DataBases', length=323)

In [10]:
HISTORICAL_FILE_JOIN_DB = RESOURCE_DIR + os.sep + 'historical_join_db.xlsx' #add in util.py
df2.to_excel(HISTORICAL_FILE_JOIN_DB, index=True) 
#df2 = df2.to_excel("historical_coluna.xlsx", index=False)

In [11]:
df3 = pd.read_excel(HISTORICAL_FILE_JOIN_DB, keep_default_na=False)
#df3 = pd.read_excel('historical_coluna.xlsx', keep_default_na=False)
#reads projects from Excel file
len(df3)
df3.head()

,Unnamed: 0,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Memcached,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Hive,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0

Renomeando a coluna Unnamed para databases

In [12]:
df3.rename(columns={'Unnamed: 0': 'DataBases'}, inplace=True)
df3.columns

Index(['DataBases', 'Activiti', 'AmazeFileManager',
       'Android-IMSI-Catcher-Detector', 'Anki-Android', 'AntennaPod',
       'AnySoftKeyboard', 'Apktool', 'Arduino', 'AsciidocFX',
       ...
       'wiremock', 'xabber-android', 'yacy_search_server', 'zalenium',
       'zaproxy', 'zeebe', 'zeppelin', 'zipkin', 'zookeeper', 'zotfile'],
      dtype='object', length=324)

In [25]:
DATABASES_MODELS = RESOURCE_DIR + os.sep + 'databases_models.xlsx'
df4 = pd.read_excel(DATABASES_MODELS, keep_default_na=False) #add in util.py
#reads projects from Excel file

len(df4)
df4.head()

         DataBases Primary Model Second Model  Model
0        Aerospike     Key-value  Multi-model  NoSQL
1  Amazon Redshift    Relational                 SQL
2        Cassandra   Wide column               NoSQL
3       ClickHouse    Relational  Multi-model    SQL
4        Couchbase      Document  Multi-model  NoSQL

In [29]:
df_merge= pd.merge(df4, df3, left_on= 'DataBases', right_on='DataBases')

df_merge

,DataBases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Amazon Redshift,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,9,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Ehcache,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Elasticsearch,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,8,7,2,0,0
9,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Google BigQuery,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0
15,H2,Relational,Multi-model,SQL,9,0,0,0,0,0,...,0,0,0,0,0,0,7,3,0,0
16,Hazelcast,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,1,0,0,0,3,0,0,0
17,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
18,Hive,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
19,IBM_DB2,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
21,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
24,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,MariaDB,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,0,0
26,MarkLogic_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MarkLogic_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Memcached,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
32,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,MS_SQL_Server,Relational,Multi-model,SQL,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
34,MySQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,10,0,6,0,8,9,2,0
35,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
36,Netezza,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Oracle,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,0
38,OrientDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,PostgreSQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,10,0,0,0,9,3,0,0
41,Realm,Document,,NoSQL,0,0,1,0,0,0,...,0,9,0,0,0,0,0,0,0,0
42,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
43,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,SAP Adaptive Server,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Solr,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
48,SQLite,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,8,0,0,4,0,0
49,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Agrupando por modelos

In [30]:
df_model = df_merge.copy()
df_model = df_model.groupby(['Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_model

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,0,0,1,0,0,0,0,0,1,4,...,0,9,6,0,0,8,62,12,0,0
SQL,41,0,0,0,0,0,0,5,4,20,...,0,0,20,0,20,0,48,26,2,0

In [31]:
def num_missing (x):
      return sum (x >= 1)
df5 = df_model.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
df5

Model
SQL      156
NoSQL    146
dtype: int64

Substituindo todos os valores por 1 para realizar a interseção. A função mask substitui os valores do dataframe no caso da condição ser verdadeira, caso necessite que a condição seja falsa, deve-se utilizar a função where, exemplo: df.mask(df_merge > 1, 1), neste caso a substituição só seria feita para os valores que fossem menores que 1 (o inverso da condição).

In [32]:
df5 = df_model.mask(df_model > 1, 1)
df5

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,0,0,1,0,0,0,0,0,1,1,...,0,1,1,0,0,1,1,1,0,0
SQL,1,0,0,0,0,0,0,1,1,1,...,0,0,1,0,1,0,1,1,1,0

Criar duas tabelas, cada uma com uma das linhas nosql e a outra sql, tranformar todos os valores em 1 e depois fazer o merge com a interseção conforme exemplo 1 de https://www.geeksforgeeks.org/intersection-of-two-dataframe-in-pandas-python/
Daí da soma dos dois modelos, tirar este valor da interseção.

In [33]:
df6= df5.iloc[1:2,:]
df6

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
SQL,1,0,0,0,0,0,0,1,1,1,...,0,0,1,0,1,0,1,1,1,0

In [34]:
df7=df5.iloc[0:1,:]
df7

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,0,0,1,0,0,0,0,0,1,1,...,0,1,1,0,0,1,1,1,0,0

In [35]:
df8 = pd.concat([df6, df7], axis=0, join='inner').sum().sort_values(ascending =False)
df8

intellij-community    2
osmdroid              2
nomulus               2
error-prone           2
onedev                2
                     ..
docker-client         0
oshi                  0
phpinspectionsea      0
cryptomator           0
zotfile               0
Length: 323, dtype: int64

Para pegar a interseção, busco com a função isin as linhas (projetos) cujo o valor concatenado == 2, esta função retorna true ou false e somo as linhas que atenderam à condição.

In [36]:
df8.isin([2]).sum()

102

In [37]:
df_merge

,DataBases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Amazon Redshift,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,9,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Ehcache,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Elasticsearch,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,8,7,2,0,0
9,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Google BigQuery,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0
15,H2,Relational,Multi-model,SQL,9,0,0,0,0,0,...,0,0,0,0,0,0,7,3,0,0
16,Hazelcast,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,1,0,0,0,3,0,0,0
17,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
18,Hive,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,9,0,0,0
19,IBM_DB2,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
21,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
24,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,MariaDB,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,0,0
26,MarkLogic_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MarkLogic_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Memcached,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
32,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,MS_SQL_Server,Relational,Multi-model,SQL,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
34,MySQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,10,0,6,0,8,9,2,0
35,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
36,Netezza,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Oracle,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,0
38,OrientDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,PostgreSQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,10,0,0,0,9,3,0,0
41,Realm,Document,,NoSQL,0,0,1,0,0,0,...,0,9,0,0,0,0,0,0,0,0
42,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
43,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,SAP Adaptive Server,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Solr,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
48,SQLite,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,8,0,0,4,0,0
49,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Primary Model']).sum()
#df_prisec = df_prisec.groupby(['Primary Model','Second Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Primary Model,,,,,,,,,,,,,,,,,,,,,
Document,0,0,1,0,0,0,0,0,1,0,...,0,9,0,0,0,0,15,0,0,0
Graph,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
Key-value,0,0,0,0,0,0,0,0,0,4,...,0,0,1,0,0,0,11,0,0,0
Multi-model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,0,0
Relational,41,0,0,0,0,0,0,5,4,20,...,0,0,20,0,20,0,48,26,2,0
Search engine,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,8,7,2,0,0
Spatial DBMS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Time Series,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
Wide column,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15,10,0,0

Quero contar os modelos primários e secundários e mostrar num gráfico. Os valores abaixo não estão tirando as interseções.

In [39]:
def num_missing (x):
      return sum (x >= 1)
#df2.apply(num_missing, axis=0).sort_values(ascending=False)
#without COMMITS
df10 = df_prisec.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
#df6 = df_merge.iloc[:,:].apply(num_missing, axis=0).sort_values(ascending=False) para mostrar os projetos
df10

Primary Model
Relational       156
Key-value        104
Document          71
Search engine     33
Wide column       26
Multi-model       22
Spatial DBMS       7
Time Series        4
Graph              4
dtype: int64

Ajustar para contar os modelos secundários

In [40]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Second Model']).sum()
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,0,0,1,0,0,0,0,0,1,0,...,0,9,0,0,8,0,53,14,0,0
Multi-model,41,0,0,0,0,0,0,5,4,24,...,0,0,26,0,12,8,57,24,2,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df11 = df_prisec.mask(df_prisec> 1, 1)
df11

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,1,0,1,1,0,0
Multi-model,1,0,0,0,0,0,0,1,1,1,...,0,0,1,0,1,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df11.isin([1]).sum(axis = 1)

Second Model
               132
Multi-model    167
Relational       8
dtype: int64

In [44]:
df12 = df_prisec.mask(df_prisec> 1, 1)
df12

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wiremock,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,1,0,1,1,0,0
Multi-model,1,0,0,0,0,0,0,1,1,1,...,0,0,1,0,1,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df12.isin([1]).sum(axis = 1)

Second Model
               132
Multi-model    167
Relational       8
dtype: int64

In [ ]:
df13 = df_prisec.mask(df_prisec> 1, 1)
df13

In [84]:
df13.isin([1]).sum(axis = 1)

Second Model
               132
Multi-model    167
Relational       8
dtype: int64