In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR, SEQ_PATTERNS_DIR

In [28]:
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)
#reads projects from Excel file

len(df)
df.head()

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Removing spaces from column names

In [29]:
#df2.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_BD','MS SQL Server':'MS_SQL_Server'}, inplace=True)
df.rename(columns={'Join_Ignite-Sql':'Join_Ignite_Sql','Join_Ignite-NoSql':'Join_Ignite_NoSql','Join_MarkLogic-Sql':'Join_MarkLogic_Sql',
                    'Join_MarkLogic-NoSql':'Join_MarkLogic_NoSql','Join_Virtuoso-Sql':'Join_Virtuoso_Sql','Join_Virtuoso-NoSql':'Join_Virtuoso_NoSql'}, inplace=True)
df.rename(columns={'Microsoft Azure Table Storage': 'MicrosoftAzureTableStorage'}, inplace=True)
df.rename(columns={'IBM DB2':'IBM_DB2','Firebase Realtime':'FirebaseRealtime'}, inplace=True)
df.rename(columns={'Influx DB':'Influx_DB', 'Amazon Redshift':'AmazonRedshift','MS SQL Server': 'MS_SQL_Server'}, inplace=True)
df.rename(columns={'Microsoft Azure CosmosDB':'MicrosoftAzureCosmosDB', 'MS Access':'MS_Access','SAP Adaptive Server':'SAPAdaptiveServer'}, inplace=True)
df.rename(columns={'Google Cloud Datastore': 'GoogleCloudDatastore','Riak KV':'Riak_KV', 'Google BigQuery':'GoogleBigQuery'}, inplace=True)
print(df.columns)

Index(['PROJECTS', 'COMMITS', 'Memcached', 'MicrosoftAzureTableStorage',
       'FileMaker', 'Riak_KV', 'Hive', 'Redis', 'Aerospike',
       'GoogleCloudDatastore', 'MariaDB', 'Neo4j', 'H2', 'GoogleBigQuery',
       'HBase', 'Netezza', 'Elasticsearch', 'SapHana', 'Oracle', 'OrientDB',
       'DynamoDB', 'Firebird', 'Informix', 'IBM_DB2', 'Couchbase',
       'FirebaseRealtime', 'MongoDB', 'Hazelcast', 'Impala', 'Influx_DB',
       'SQLite', 'Solr', 'Snowflake', 'AmazonRedshift', 'PostgreSQL', 'Realm',
       'Cassandra', 'MS_SQL_Server', 'Ehcache', 'MicrosoftAzureCosmosDB',
       'MS_Access', 'SAPAdaptiveServer', 'CouchDB', 'ClickHouse', 'Vertica',
       'Teradata', 'PostGIS', 'Etcd', 'MySQL', 'Join_Ignite_Sql',
       'Join_Ignite_NoSql', 'Join_MarkLogic_Sql', 'Join_MarkLogic_NoSql',
       'Join_Virtuoso_Sql', 'Join_Virtuoso_NoSql'],
      dtype='object')

In [30]:
coluna=[]
for row in df.itertuples():
    #print(col.index().tolist()) 
    #print((col)
    linha=[]
    for col in df.columns:
        if col == "PROJECTS":
            linha.append(getattr(row, col))
            #print(getattr(row, col))
        elif col == "COMMITS":
            linha.append(getattr(row, col))
            #print('Commit:',getattr(row, col))
        elif getattr(row, col) == 1:
            #print(df2[x])
            #print('Database:', col)
            linha.append(col)
    coluna.append(linha)
#print(coluna)

Generating the dictionary with the names of the databases

In [31]:
dict_col=[]
#for row in df2.itertuples():
    #print(row.index()) 
    #print((col)
linha=[]
for col in df.columns:
    #linha=[]
    if df.columns.get_loc(col) == 0:
        linha.append('@CONVERTED_FROM_TEXT')
    elif df.columns.get_loc(col) > 1: #@ITEM=1=apple
        #linha=[]
        linha.append('@ITEM='+ str(df.columns.get_loc(col))+ '=' + col)
        #dict_col.append(linha)
        #linha=[]
        linha.append('@ITEM='+ str(df.columns.get_loc(col)*100)+ '=NO' + col)
linha.append('@ITEM=-1=|')
dict_col.append(linha)
print(dict_col)

[['@CONVERTED_FROM_TEXT', '@ITEM=2=Memcached', '@ITEM=200=NOMemcached', '@ITEM=3=MicrosoftAzureTableStorage', '@ITEM=300=NOMicrosoftAzureTableStorage', '@ITEM=4=FileMaker', '@ITEM=400=NOFileMaker', '@ITEM=5=Riak_KV', '@ITEM=500=NORiak_KV', '@ITEM=6=Hive', '@ITEM=600=NOHive', '@ITEM=7=Redis', '@ITEM=700=NORedis', '@ITEM=8=Aerospike', '@ITEM=800=NOAerospike', '@ITEM=9=GoogleCloudDatastore', '@ITEM=900=NOGoogleCloudDatastore', '@ITEM=10=MariaDB', '@ITEM=1000=NOMariaDB', '@ITEM=11=Neo4j', '@ITEM=1100=NONeo4j', '@ITEM=12=H2', '@ITEM=1200=NOH2', '@ITEM=13=GoogleBigQuery', '@ITEM=1300=NOGoogleBigQuery', '@ITEM=14=HBase', '@ITEM=1400=NOHBase', '@ITEM=15=Netezza', '@ITEM=1500=NONetezza', '@ITEM=16=Elasticsearch', '@ITEM=1600=NOElasticsearch', '@ITEM=17=SapHana', '@ITEM=1700=NOSapHana', '@ITEM=18=Oracle', '@ITEM=1800=NOOracle', '@ITEM=19=OrientDB', '@ITEM=1900=NOOrientDB', '@ITEM=20=DynamoDB', '@ITEM=2000=NODynamoDB', '@ITEM=21=Firebird', '@ITEM=2100=NOFirebird', '@ITEM=22=Informix', '@ITEM=2200=NOInformix', '@ITEM=23=IBM_DB2', '@ITEM=2300=NOIBM_DB2', '@ITEM=24=Couchbase', '@ITEM=2400=NOCouchbase', '@ITEM=25=FirebaseRealtime', '@ITEM=2500=NOFirebaseRealtime', '@ITEM=26=MongoDB', '@ITEM=2600=NOMongoDB', '@ITEM=27=Hazelcast', '@ITEM=2700=NOHazelcast', '@ITEM=28=Impala', '@ITEM=2800=NOImpala', '@ITEM=29=Influx_DB', '@ITEM=2900=NOInflux_DB', '@ITEM=30=SQLite', '@ITEM=3000=NOSQLite', '@ITEM=31=Solr', '@ITEM=3100=NOSolr', '@ITEM=32=Snowflake', '@ITEM=3200=NOSnowflake', '@ITEM=33=AmazonRedshift', '@ITEM=3300=NOAmazonRedshift', '@ITEM=34=PostgreSQL', '@ITEM=3400=NOPostgreSQL', '@ITEM=35=Realm', '@ITEM=3500=NORealm', '@ITEM=36=Cassandra', '@ITEM=3600=NOCassandra', '@ITEM=37=MS_SQL_Server', '@ITEM=3700=NOMS_SQL_Server', '@ITEM=38=Ehcache', '@ITEM=3800=NOEhcache', '@ITEM=39=MicrosoftAzureCosmosDB', '@ITEM=3900=NOMicrosoftAzureCosmosDB', '@ITEM=40=MS_Access', '@ITEM=4000=NOMS_Access', '@ITEM=41=SAPAdaptiveServer', '@ITEM=4100=NOSAPAdaptiveServer', '@ITEM=42=CouchDB', '@ITEM=4200=NOCouchDB', '@ITEM=43=ClickHouse', '@ITEM=4300=NOClickHouse', '@ITEM=44=Vertica', '@ITEM=4400=NOVertica', '@ITEM=45=Teradata', '@ITEM=4500=NOTeradata', '@ITEM=46=PostGIS', '@ITEM=4600=NOPostGIS', '@ITEM=47=Etcd', '@ITEM=4700=NOEtcd', '@ITEM=48=MySQL', '@ITEM=4800=NOMySQL', '@ITEM=49=Join_Ignite_Sql', '@ITEM=4900=NOJoin_Ignite_Sql', '@ITEM=50=Join_Ignite_NoSql', '@ITEM=5000=NOJoin_Ignite_NoSql', '@ITEM=51=Join_MarkLogic_Sql', '@ITEM=5100=NOJoin_MarkLogic_Sql', '@ITEM=52=Join_MarkLogic_NoSql', '@ITEM=5200=NOJoin_MarkLogic_NoSql', '@ITEM=53=Join_Virtuoso_Sql', '@ITEM=5300=NOJoin_Virtuoso_Sql', '@ITEM=54=Join_Virtuoso_NoSql', '@ITEM=5400=NOJoin_Virtuoso_NoSql', '@ITEM=-1=|']]

Iteration to generate the categorical data to be used in the sequential patterns algorithm

In [16]:
coluna=[]
projant = 'xxxx'
commitant = 0
linha=[]
contproj = 0
for row in df.itertuples():
    commitant = 0
    for col in df.columns:
        #Verifica se estÃ¡ na primeira coluna do dataframe (PROJECTS) para pegar o nome do projeto
        if col == "PROJECTS":
            projatual = getattr(row, col)
        #Verifica se estÃ¡ na segunda coluna do dataframe (COMMITS) para pegar o nÃºmero da versÃ£o
        elif col == "COMMITS":
            commitatual = getattr(row, col)
        #Entra se o projeto da linha atual for o mesmo da linha anterior ou se for a primeira linha do dataframe, ou seja, o primeiro projeto
        elif projatual == projant or row.Index == 0: # projant == 'xxxx':
            #Entra se hÃ¡ indÃ­cio do BD e se estÃ¡ na mesma versÃ£o do projeto, ou seja, se estÃ¡ percorrendo cada coluna do projeto
            #EntÃ£o grava na lista o nome da coluna do BD onde encontrou-se o valor == 1
            if (getattr(row, col) == 1) and (commitatual == commitant) :
                linha.append(col)
                commitant = commitatual
            #Entra se hÃ¡ indÃ­cio do BD e se estÃ£o em versÃµes diferentes, para delimitar o fim da versÃ£o com "-1"
            elif getattr(row, col) == 1 and (commitatual != commitant):
                #Verifica se Ã© a primeira linha do dataframe ou se a lista estÃ¡ vazia para incluir apenas o nome da coluna na lista
                if row.Index == 0 or len(linha) == 0:
                    linha.append(col)
                else: #SenÃ£o grava na lista "-1" + o nome da coluna do BD onde encontrou-se o valor == 1
                    linha.append('-1')
                    linha.append(col)
                    commitant = commitatual
         #Entra se o projeto da linha atual for diferente da linha anterior      
        elif projatual != projant:
            #Entra se hÃ¡ indÃ­cio do BD, entÃ£o grava na lista o valor "-1 -2" para delimitar o fim da linha para o projeto anterior
            if getattr(row, col) == 1:# and commitatual == 10:
                linha.append('-1 -2')
                #Inclui a linha do projeto anterior que jÃ¡ tem todas as versÃµes com indÃ­cios de BD gravados.
                coluna.append(linha)
                #Cria a nova linha 
                linha=[]
                # Inclui o projeto atual na nova linha
                linha.append(col)
                projant = projatual
                commitant = commitatual
            #Entra se nÃ£o hÃ¡ indÃ­cio do BD e se as versÃµes sÃ£o diferentes
            elif getattr(row, col) == 0 and (commitatual != commitant):
                #Se a lista nÃ£o estÃ¡ vazia, entÃ£o grava na lista o valor "-1 -2" para delimitar o fim da linha para o projeto anterior
                if len(linha) != 0:
                    linha.append('-1 -2')
                    #Inclui a linha do projeto anterior que jÃ¡ tem todas as versÃµes com indÃ­cios de BD gravados.
                    coluna.append(linha)
                    #Cria a nova linha para o projeto atual
                    linha=[]
                projant = projatual
                commitant = commitatual
            contproj = contproj + 1
    projant = projatual 
#print(len(coluna))
#print(contproj)
#print(coluna)

In [17]:
df2 = pd.DataFrame(data = coluna)
df2

,0,1,2,3,4,5,6,7,8,9,...,220,221,222,223,224,225,226,227,228,229
0,H2,Oracle,PostgreSQL,MySQL,-1,H2,Oracle,IBM_DB2,PostgreSQL,SAPAdaptiveServer,...,None,None,None,None,None,None,None,None,None,None
1,GoogleBigQuery,Snowflake,PostgreSQL,MySQL,-1,GoogleBigQuery,Snowflake,AmazonRedshift,PostgreSQL,MS_SQL_Server,...,None,None,None,None,None,None,None,None,None,None
2,Oracle,Ehcache,-1,Oracle,Ehcache,MySQL,-1,Oracle,PostgreSQL,Ehcache,...,None,None,None,None,None,None,None,None,None,None
3,MySQL,-1,MySQL,-1,MySQL,-1,MySQL,-1,MySQL,-1,...,None,None,None,None,None,None,None,None,None,None
4,MySQL,-1,MySQL,-1,MySQL,-1,MySQL,-1,MySQL,-1,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,MariaDB,-1,SQLite,MySQL,-1,MariaDB,SQLite,PostgreSQL,MySQL,-1,...,None,None,None,None,None,None,None,None,None,None
196,FirebaseRealtime,-1,FirebaseRealtime,-1 -2,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
197,H2,-1,H2,MySQL,-1,H2,Oracle,IBM_DB2,PostgreSQL,MS_SQL_Server,...,None,None,None,None,None,None,None,None,None,None
198,PostgreSQL,MySQL,-1,PostgreSQL,MySQL,-1,PostgreSQL,MySQL,-1,PostgreSQL,...,None,None,None,None,None,None,None,None,None,None
199,Oracle,-1,Oracle,SQLite,-1,Oracle,SQLite,-1,Oracle,SQLite,...,None,None,None,None,None,None,None,None,None,None

Generating the txt input file in the format required by the SPMF library (PrefixSpamwithStrings algorithm)

In [18]:
#HISTORICAL_INPUT_SEQUENCIAL = RESOURCE_DIR + os.sep + 'input_sequencial.txt' #add in util.py
HISTORICAL_INPUT_SEQUENCIAL = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial.txt' #add in util.py

file = open(HISTORICAL_INPUT_SEQUENCIAL, "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar, '')
    file.write(str(values) + '\n')
file.close()

Iteration to generate the categorical data to be used in the sequential patterns algorithm with the negations of the BDs (BD removed/replaced)

In [19]:
####Algoritmo valendo para o arquivo com os 326 projetos, retorna 200 registros, ou seja, 200 repos com indÃ­cio de BD.
coluna=[]

proj = 0
projant = 'xxxx'
commitant = 0
linha=[]
linhaant = []
contproj = 0
noBD = -2
for row in df.itertuples():
    #print(row.Index) 
    #print((col)
    commitant = 0
    for col in df.columns:
        if col == "PROJECTS":
            #proj = proj + 1
            #linha.append(getattr(row, col))
            #print(getattr(row, col))
            projatual = getattr(row, col)
            #print('atual novo:', projatual, 'anterior:', projant)
            
        elif col == "COMMITS":
            commitatual = getattr(row, col)
            #commitant = commitatual
            #linha.append(getattr(row, col))
            #print('Commit:',getattr(row, col))
        elif projatual == projant or row.Index == 0:# projant == 'xxxx':
            if (commitatual == commitant) :
                if (getattr(row, col) == 1):
                    #print('projs iguais e commits iguais','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index)
                    #print(df2[x])
                    #print('Database:', col)
                    linha.append(col)
                    linhaant.append(col)
                    #print('entrou commits')
                    commitant = commitatual
                elif getattr(row, col) == 0:
                    #Se for a primeira coluna e a linhaant tinha BD
                    if len(linha) == 0 and linhaant != 0:
                        try:
                            noBD = linhaant.index(col)
                        except:
                            noBD = -1
                        if noBD >= 0: #and row.index == 0:
                            linha.append('No'+col)
                        #print('primeira coluna',noBD, linha, col)
                    elif len(linha) != 0 and linhaant != 0:
                        try:
                            noBD = linha.index(col)
                        except:
                            noBD = -1
                        if noBD >= 0: #and row.index == 0:
                            linha.append('No'+col)
                            #print('demais colunas',noBD, linhaant, col)
                        #print(noBD, linha, col)
            elif (commitatual != commitant):
                if getattr(row, col) == 1:
                    #print('projs iguais ecommits diferentes','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index )
                    if row.Index == 0 or len(linha) == 0:
                        linha.append(col)
                        linhaant.append(col)
                    else:
                        linha.append('-1')
                        linha.append(col)
                        linhaant.append('-1')
                        linhaant.append(col)
                        commitant = commitatual
        elif projatual != projant:
            if getattr(row, col) == 1:# and commitatual == 10:
                #linha.append('-1 -2 ' + col)
                linha.append('-1 -2')
                #linhaant.append(linha)
                coluna.append(linha)
                linha=[]
                linhaant=[]
                linha.append(col)
                linhaant.append(col)
                #contproj = contproj + 1
                #print('projs diferentes:','atual:', projatual,'anterior:', projant)
                projant = projatual
                commitant = commitatual
            elif getattr(row, col) == 0 and (commitatual != commitant):
                if len(linha) != 0:
                    linha.append('-1 -2')
                    #linhaant.append(col)
                    coluna.append(linha)
                    linha=[]
                    linhaant=[]
                    #print('entrou proj e commits diferentes', 'atual:', projatual,commitatual,'anterior:', projant,commitant )
                projant = projatual
                commitant = commitatual
                
             #novo   
            elif getattr(row, col) == 0 and (commitatual == commitant):
                if len(linha) != 0:
                    #linha.append('-1 -2')
                    #linhaant.append(col)
                    #coluna.append(linha)
                    #linha=[]
                    linhaant=[]
                    #print('entrou', 'atual:', projatual,commitatual,'anterior:', projant,commitant )
                projant = projatual
                commitant = commitatual

            contproj = contproj + 1
        #projant=projatual
        #commitant = 0
    projant = projatual 
    #print ('atual:', projatual,'anterior:', projant)
    #coluna.append(linha)
    #matriz.append(coluna)
    #linha=[]
#matriz.append(coluna)
print(len(linha))
#print(len(linhaant),linhaant)
#print(len(linha))
print(contproj)
#print(coluna)

22
326

Generating the txt input file with the negations of the DBs in the format required by the SPMF library (PrefixSpamwithStrings algorithm)

In [20]:
HISTORICAL_INPUT_SEQUENCIAL_NEG = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial_neg.txt' #add in util.py
file = open(HISTORICAL_INPUT_SEQUENCIAL_NEG, "w")
#file = open("input_sequencial_neg.txt", "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar, '')
    file.write(str(values) + '\n')
file.close()

Iteration to generate the numerical data to be used in the sequential patterns algorithm (PrefixSpam).

In [32]:
df2 = df.copy()

In [33]:
####Algoritmo valendo para o arquivo com os 326 projetos, retorna 200 registros, ou seja, 200 repos com indÃ­cio de BD.
coluna=[]

proj = 0
projant = 'xxxx'
commitant = 0
linha=[]
contproj = 0
for row in df2.itertuples():
    #print(row.Index) 
    #print((col)
    commitant = 0
    for col in df2.columns:
        if col == "PROJECTS":
            #proj = proj + 1
            #linha.append(getattr(row, col))
            #print(getattr(row, col))
            projatual = getattr(row, col)
            #print('atual novo:', projatual, 'anterior:', projant)
            
        elif col == "COMMITS":
            commitatual = getattr(row, col)
            #commitant = commitatual
            #linha.append(getattr(row, col))
            #print('Commit:',getattr(row, col))
        elif projatual == projant or row.Index == 0:# projant == 'xxxx':
            if (getattr(row, col) == 1) and (commitatual == commitant) :
                #print('projs iguais e commits iguais','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index)
                #print(df2[x])
                #print('Database:', col)
                #linha.append(col)
                linha.append(df2.columns.get_loc(col))
                #print('entrou commits')
                commitant = commitatual
            elif getattr(row, col) == 1 and (commitatual != commitant):
                #print('projs iguais ecommits diferentes','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index )
                if row.Index == 0 or len(linha) == 0:
                    #linha.append(col)
                    linha.append(df2.columns.get_loc(col))
                else:
                    linha.append('-1')
                    #linha.append(col)
                    linha.append(df2.columns.get_loc(col))
                    commitant = commitatual      
        elif projatual != projant:
            if getattr(row, col) == 1:# and commitatual == 10:
                #linha.append('-1 -2 ' + col)
                linha.append('-1 -2')
                coluna.append(linha)
                linha=[]
                #linha.append(col)
                linha.append(df2.columns.get_loc(col))
                #contproj = contproj + 1
                #print('projs diferentes:','atual:', projatual,'anterior:', projant)
                projant = projatual
                commitant = commitatual
            elif getattr(row, col) == 0 and (commitatual != commitant):
                if len(linha) != 0:
                    linha.append('-1 -2')
                    coluna.append(linha)
                    linha=[]
                projant = projatual
                commitant = commitatual
            contproj = contproj + 1
        #projant=projatual
        #commitant = 0
    projant = projatual 
    #print ('atual:', projatual,'anterior:', projant)
    #coluna.append(linha)
    #matriz.append(coluna)
    #linha=[]
#matriz.append(coluna)
print(len(linha))
print(contproj)
#print(coluna)

22
326

Generating the numerical input txt file in the format required by the SPMF library (PrefixSpan algorithm).

In [21]:
HISTORICAL_INPUT_SEQUENCIAL_NUMBERS = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial_numbers.txt' #add in util.py
file = open(HISTORICAL_INPUT_SEQUENCIAL_NUMBERS, "w")
#file = open("input_sequencial_numbers.txt", "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar, '')
    file.write(str(values) + '\n')
file.close()

Generating the numerical input txt file in the format required by the SPMF library (PrefixSpan algorithm) and database dictionary.

In [34]:
HISTORICAL_INPUT_SEQUENCIAL_NUMBERS = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial_numbers.txt' #add in util.py
file = open(HISTORICAL_INPUT_SEQUENCIAL_NUMBERS, "w")
#dict_col
dict = []
#file = open("input_sequencial_nb.txt", "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
#for dict in dict_col: # Writes to file
 #   for specialChar in specialChars:
dict = str(dict_col).replace("[['",'')
dict = str(dict).replace("']]",'\n')
file.write(str(dict).replace("', '",'\n'))
#coluna.insert(0,str(dict_col))
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar,'')
    file.write(str(values) + '\n')
file.close()

Iteration to generate the numerical data to be used in the sequential patterns algorithm with the negations of the BDs (BD removed/replaced)

In [35]:
coluna=[]

proj = 0
projant = 'xxxx'
commitant = 0
linha=[]
linhaant = []
contproj = 0
noBD = -2
for row in df2.itertuples():
    #print(row.Index) 
    #print((col)
    commitant = 0
    for col in df2.columns:
        if col == "PROJECTS":
            #proj = proj + 1
            #linha.append(getattr(row, col))
            #print(getattr(row, col))
            projatual = getattr(row, col)
            #print('atual novo:', projatual, 'anterior:', projant)
            
        elif col == "COMMITS":
            commitatual = getattr(row, col)
            #commitant = commitatual
            #linha.append(getattr(row, col))
            #print('Commit:',getattr(row, col))
        elif projatual == projant or row.Index == 0:# projant == 'xxxx':
            if (commitatual == commitant) :
                if (getattr(row, col) == 1):
                    #print('projs iguais e commits iguais','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index)
                    #print(df2[x])
                    #print('Database:', col)
                    #linha.append(col)
                    linha.append(df2.columns.get_loc(col))
                    #linhaant.append(col)
                    linhaant.append(df2.columns.get_loc(col))
                    #print('entrou commits')
                    commitant = commitatual
                elif getattr(row, col) == 0:
                    #Se for a primeira coluna e a linhaant tinha BD
                    if len(linha) == 0 and len(linhaant) != 0:
                        try:
                            #noBD = linhaant.index(col)
                            noBD = linhaant.index(df2.columns.get_loc(col))
                        except:
                            noBD = -1
                        if noBD >= 0: #and row.index == 0:
                            #linha.append('No'+col)
                            #linha.append(-df2.columns.get_loc(col))
                            linha.append(df2.columns.get_loc(col)*100)
                            
                        #print('primeira coluna',noBD, linha, col)
                    elif len(linha) != 0 and len(linhaant) != 0:
                        try:
                            noBD = linha.index(df2.columns.get_loc(col)) 
                        except:
                            noBD = -1
                        if noBD >= 0: #and row.index == 0:
                            #linha.append('No'+col)
                            #linha.append(-df2.columns.get_loc(col))
                            linha.append(df2.columns.get_loc(col)*100)
                            #print('demais colunas',noBD, linhaant, col)
                            #print(noBD, linha, col,'demais colunas')
            elif (commitatual != commitant):
                if getattr(row, col) == 1:
                    #print('projs iguais ecommits diferentes','atual:', projatual,'anterior:', projant, commitatual, commitant, row.Index )
                    if row.Index == 0 or len(linha) == 0:
                        #linha.append(col)
                        linha.append(df2.columns.get_loc(col))
                        #linhaant.append(col)
                        linhaant.append(df2.columns.get_loc(col))
                    else:
                        linha.append('-1')
                        #linha.append(col)
                        linha.append(df2.columns.get_loc(col))
                        linhaant.append('-1')
                        #linhaant.append(col)
                        linhaant.append(df2.columns.get_loc(col))
                        commitant = commitatual
        elif projatual != projant:
            if getattr(row, col) == 1:# and commitatual == 10:
                #linha.append('-1 -2 ' + col)
                linha.append('-1 -2')
                #linhaant.append(linha)
                coluna.append(linha)
                linha=[]
                linhaant=[]
                #linha.append(col)
                linha.append(df2.columns.get_loc(col))
                #linhaant.append(col)
                linhaant.append(df2.columns.get_loc(col))
                #contproj = contproj + 1
                #print('projs diferentes:','atual:', projatual,'anterior:', projant)
                projant = projatual
                commitant = commitatual
            elif getattr(row, col) == 0 and (commitatual != commitant):
                if len(linha) != 0:
                    linha.append('-1 -2')
                    #linhaant.append(col)
                    coluna.append(linha)
                    linha=[]
                    linhaant=[]
                    #print('entrou proj e commits diferentes', 'atual:', projatual,commitatual,'anterior:', projant,commitant )
                projant = projatual
                commitant = commitatual
            #novo   
            elif getattr(row, col) == 0 and (commitatual == commitant):
                if len(linha) != 0:
                    #linha.append('-1 -2')
                    #linhaant.append(col)
                    #coluna.append(linha)
                    #linha=[]
                    linhaant=[]
                    #print('entrou', 'atual:', projatual,commitatual,'anterior:', projant,commitant )
                projant = projatual
                commitant = commitatual

            contproj = contproj + 1
        #projant=projatual
        #commitant = 0
    projant = projatual 
    #print ('atual:', projatual,'anterior:', projant)
    #coluna.append(linha)
    #matriz.append(coluna)
    #linha=[]
#matriz.append(coluna)
#print(len(linha))
#print(len(linhaant),linhaant)
#print(len(linha))
print(contproj)
#print(coluna)

326

Generating the txt numerical input file with the negations of the DBs in the format required by the SPMF library (PrefixSpam algorithm)

In [10]:
HISTORICAL_INPUT_SEQUENCIAL_NUMBERSNEG = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial_numbersneg.txt' #add in util.py
file = open(HISTORICAL_INPUT_SEQUENCIAL_NUMBERSNEG, "w")
#file = open("input_sequencial_numbers_neg2.txt", "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar, '')
    file.write(str(values) + '\n')
file.close()

Generating the numerical input txt file with the negations of the DBs in the format required by the SPMF library (PrefixSpan algorithm) and database dictionary.

In [36]:
HISTORICAL_INPUT_SEQUENCIAL_NUMBERSNEG = SEQ_PATTERNS_DIR + os.sep + 'input_sequencial_numbersneg.txt' #add in util.py
file = open(HISTORICAL_INPUT_SEQUENCIAL_NUMBERSNEG, "w")
#dict_col
dict = []
#file = open("input_sequencial_nb_neg.txt", "w")
specialChars = "[',']" # Para retirar estes caracteres que sÃ£o incluÃ­dos pelo array
#for dict in dict_col: # Writes to file
 #   for specialChar in specialChars:
dict = str(dict_col).replace("[['",'')
dict = str(dict).replace("']]",'\n')
file.write(str(dict).replace("', '",'\n'))
#coluna.insert(0,str(dict_col))
for values in coluna: # Writes to file
    for specialChar in specialChars:
        values = str(values).replace(specialChar,'')
    file.write(str(values) + '\n')
file.close()