In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR

In [64]:
#from util import DATABASES_MODELS

In [93]:
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)
#reads projects from Excel file
len(df)
df.head()

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [94]:
df.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_DB','MS SQL Server':'MS_SQL_Server'}, inplace=True)
df.rename(columns={'Join_Ignite-Sql':'Ignite_Sql','Join_Ignite-NoSql':'Ignite_NoSql', 'Join_Virtuoso-Sql':'Virtuoso_Sql','Join_Virtuoso-NoSql':'Virtuoso_NoSql'}, inplace=True)
print(df.columns)
len(df.columns)

Index(['PROJECTS', 'COMMITS', 'Microsoft Azure Table Storage',
       'MySQL_Maria DB', 'HyperSQL', 'MarkLogic',
       'MS SQL Server_Microsoft Azure SQL Database', 'FileMaker',
       'Singlestore', 'Riak KV', 'Redis', 'Aerospike',
       'Google Cloud Datastore', 'Neo4j', 'H2', 'HBase', 'ArangoDB', 'SapHana',
       'Oracle', 'DynamoDB', 'Firebird', 'Informix', 'Ingres', 'IBM_DB2',
       'Couchbase', 'GoogleCloudFilestore', 'Kdb+', 'Interbase',
       'Firebase Realtime', 'MongoDB', 'Hazelcast', 'Impala', 'Influx DB',
       'SQLite', 'Snowflake', 'Realm', 'Cassandra', 'SAP SQL Anywhere',
       'Microsoft Azure CosmosDB', 'MS_Access', 'SAP Adaptive Server',
       'CouchDB', 'ClickHouse', 'Vertica', 'Teradata',
       'PostgreSQL_ CockroachDB', 'PostGIS', 'Etcd', 'Ignite_Sql',
       'Ignite_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

52

In [95]:
df.rename(columns={'PROJECTS' : 'DataBases'}, inplace=True)
print(df.columns)

Index(['DataBases', 'COMMITS', 'Microsoft Azure Table Storage',
       'MySQL_Maria DB', 'HyperSQL', 'MarkLogic',
       'MS SQL Server_Microsoft Azure SQL Database', 'FileMaker',
       'Singlestore', 'Riak KV', 'Redis', 'Aerospike',
       'Google Cloud Datastore', 'Neo4j', 'H2', 'HBase', 'ArangoDB', 'SapHana',
       'Oracle', 'DynamoDB', 'Firebird', 'Informix', 'Ingres', 'IBM_DB2',
       'Couchbase', 'GoogleCloudFilestore', 'Kdb+', 'Interbase',
       'Firebase Realtime', 'MongoDB', 'Hazelcast', 'Impala', 'Influx DB',
       'SQLite', 'Snowflake', 'Realm', 'Cassandra', 'SAP SQL Anywhere',
       'Microsoft Azure CosmosDB', 'MS_Access', 'SAP Adaptive Server',
       'CouchDB', 'ClickHouse', 'Vertica', 'Teradata',
       'PostgreSQL_ CockroachDB', 'PostGIS', 'Etcd', 'Ignite_Sql',
       'Ignite_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

In [96]:
df

,DataBases,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3166,maxwell,7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3167,maxwell,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3168,maxwell,9,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3169,maxwell,10,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
df = df.groupby("DataBases").sum()
df

,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,6,2,0,4,0,0,0,0,...,0,0,0,7,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,2,0,0,0,1,...,0,0,0,3,0,0,0,0,0,0
zeppelin,55,0,8,0,0,1,0,0,0,8,...,0,0,0,9,0,0,0,7,0,0
zipkin,55,0,9,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zookeeper,55,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
#To show DBMS by projects
def num_missing(x):
   return sum(x >= 1)
df.apply(num_missing, axis=1).sort_values()
df

,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,6,2,0,4,0,0,0,0,...,0,0,0,7,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,2,0,0,0,1,...,0,0,0,3,0,0,0,0,0,0
zeppelin,55,0,8,0,0,1,0,0,0,8,...,0,0,0,9,0,0,0,7,0,0
zipkin,55,0,9,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zookeeper,55,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
#df = df.groupby("DataBases").sum()
#df2 = df["COMMITS"].sum().sort_values(ascending=False)
#df2.iloc[: , 1:] => para ocultar a linha COMMITS
df= df.iloc[: ,1:]
df2 = df.T
df2

DataBases,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MySQL_Maria DB,6,0,0,0,0,0,0,0,1,10,...,0,0,0,10,7,0,8,9,1,0
HyperSQL,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,0
MarkLogic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MS SQL Server_Microsoft Azure SQL Database,4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,2,1,0,0,0
FileMaker,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Singlestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Riak KV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Redis,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,1,8,0,0,0
Aerospike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Google Cloud Datastore,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,10,0,0,0
Neo4j,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
H2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,8,2,0,0
HBase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
ArangoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SapHana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oracle,6,0,0,0,0,0,0,5,0,0,...,0,0,0,0,5,0,0,0,0,0
DynamoDB,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
Firebird,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Informix,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ingres,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IBM_DB2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Couchbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kdb+,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Interbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firebase Realtime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MongoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
Hazelcast,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
Impala,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Influx DB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
SQLite,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,8,0,0,3,0,0
Snowflake,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Realm,0,0,1,0,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,0
Cassandra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,0
SAP SQL Anywhere,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MS_Access,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAP Adaptive Server,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CouchDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ClickHouse,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vertica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Teradata,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PostgreSQL_ CockroachDB,7,0,0,0,0,0,0,0,1,10,...,0,0,0,10,0,3,9,2,0,0
PostGIS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Etcd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
Virtuoso_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
df2.columns

Index(['Activiti', 'AmazeFileManager', 'Android-IMSI-Catcher-Detector',
       'Anki-Android', 'AntennaPod', 'AnySoftKeyboard', 'Apktool', 'Arduino',
       'AsciidocFX', 'BIMserver',
       ...
       'wire', 'wiremock', 'xabber-android', 'yacy_search_server', 'zaproxy',
       'zeebe', 'zeppelin', 'zipkin', 'zookeeper', 'zotfile'],
      dtype='object', name='DataBases', length=315)

In [101]:
# To generate Historical by DBMS
HISTORICAL_FILE_JOIN_DB = RESOURCE_DIR + os.sep + 'historical_join_db.xlsx' #add in util.py
df2.to_excel(HISTORICAL_FILE_JOIN_DB, index=True) 
#df2 = df2.to_excel("historical_coluna.xlsx", index=False)

In [102]:
df3 = pd.read_excel(HISTORICAL_FILE_JOIN_DB, keep_default_na=False)
#df3 = pd.read_excel('historical_coluna.xlsx', keep_default_na=False)
#reads projects from Excel file
df3
#df3.head()

,Unnamed: 0,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MySQL_Maria DB,6,0,0,0,0,0,0,0,1,...,0,0,0,10,7,0,8,9,1,0
2,HyperSQL,2,0,0,0,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,0
3,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MS SQL Server_Microsoft Azure SQL Database,4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,2,1,0,0,0
5,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Redis,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,8,0,0,0
9,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Google Cloud Datastore,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,10,0,0,0
11,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
12,H2,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,8,2,0,0
13,HBase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
14,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Oracle,6,0,0,0,0,0,0,5,0,...,0,0,0,0,5,0,0,0,0,0
17,DynamoDB,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
18,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,IBM_DB2,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MongoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
28,Hazelcast,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
29,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
31,SQLite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,8,0,0,3,0,0
32,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Realm,0,0,1,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,0
34,Cassandra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,0
35,SAP SQL Anywhere,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,MS_Access,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,SAP Adaptive Server,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,PostgreSQL_ CockroachDB,7,0,0,0,0,0,0,0,1,...,0,0,0,10,0,3,9,2,0,0
44,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
48,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Renaming Unnamed collumn to Databases

In [103]:
df3.rename(columns={'Unnamed: 0': 'DataBases'}, inplace=True)
df3
#df3.to_excel(HISTORICAL_FILE_JOIN_DB, index=True)

,DataBases,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MySQL_Maria DB,6,0,0,0,0,0,0,0,1,...,0,0,0,10,7,0,8,9,1,0
2,HyperSQL,2,0,0,0,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,0
3,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MS SQL Server_Microsoft Azure SQL Database,4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,2,1,0,0,0
5,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Redis,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,8,0,0,0
9,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Google Cloud Datastore,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,10,0,0,0
11,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
12,H2,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,8,2,0,0
13,HBase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
14,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Oracle,6,0,0,0,0,0,0,5,0,...,0,0,0,0,5,0,0,0,0,0
17,DynamoDB,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
18,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,IBM_DB2,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MongoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
28,Hazelcast,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
29,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
31,SQLite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,8,0,0,3,0,0
32,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Realm,0,0,1,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,0
34,Cassandra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,0
35,SAP SQL Anywhere,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,MS_Access,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,SAP Adaptive Server,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,PostgreSQL_ CockroachDB,7,0,0,0,0,0,0,0,1,...,0,0,0,10,0,3,9,2,0,0
44,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
48,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
DATABASES_MODELS = RESOURCE_DIR + os.sep + 'databases_models.xlsx'
df4 = pd.read_excel(DATABASES_MODELS, keep_default_na=False) #add in util.py
#df4.set_index('Model')
#reads projects from Excel file
df4

,DataBases,Primary Model,Second Model,Model
0,Aerospike,Key-value,Multi-model,NoSQL
1,ArangoDB,Multi-Model,,NoSQL
2,Cassandra,Wide column,,NoSQL
3,ClickHouse,Relational,Multi-model,SQL
4,Couchbase,Document,Multi-model,NoSQL
5,CouchDB,Document,Multi-model,NoSQL
6,DynamoDB,Multi-model,,NoSQL
7,Etcd,Key-value,,NoSQL
8,FileMaker,Relational,,SQL
9,Firebase Realtime,Document,,NoSQL
10,Firebird,Relational,,SQL
11,Google Cloud Datastore,Document,,NoSQL
12,GoogleCloudFilestore,Document,,NoSQL
13,H2,Relational,Multi-model,SQL
14,Hazelcast,Key-value,Multi-model,NoSQL
15,HBase,Wide column,,NoSQL
16,HyperSQL,Relational,,SQL
17,IBM_DB2,Relational,Multi-model,SQL
18,Ignite_NoSql,Multi-model,,NoSQL
19,Ignite_Sql,Multi-model,,SQL
20,Impala,Relational,Multi-model,SQL
21,Influx DB,Time Series,Multi-model,NoSQL
22,Informix,Relational,Multi-model,SQL
23,Ingres,Relational,,SQL
24,Interbase,Relational,,SQL
25,Kdb+,Time Series,,NoSQL
26,MySQL_Maria DB,Relational,Multi-model,SQL
27,MarkLogic,Multi-model,,NoSQL
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL
29,Microsoft Azure Table Storage,Wide column,,NoSQL
30,MongoDB,Document,Multi-model,NoSQL
31,MS_Access,Relational,Relational,SQL
32,MS SQL Server_Microsoft Azure SQL Database,Relational,Multi-model,SQL
33,Neo4j,Graph,,NoSQL
34,Oracle,Relational,Multi-model,SQL
35,PostGIS,Spatial DBMS,Multi-model,NoSQL
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL
37,Realm,Document,,NoSQL
38,Redis,Key-value,Multi-model,NoSQL
39,Riak KV,Key-value,,NoSQL
40,SAP Adaptive Server,Relational,Multi-model,SQL
41,SapHana,Relational,Multi-model,SQL
42,Singlestore,Relational,,SQL
43,SAP SQL Anywhere,Relational,,SQL
44,Snowflake,Relational,,SQL
45,SQLite,Relational,,SQL
46,Teradata,Relational,Multi-model,SQL
47,Vertica,Relational,Multi-model,SQL
48,Virtuoso_NoSql,Multi-model,,NoSQL
49,Virtuoso_Sql,Multi-model,,SQL

In [118]:
# Merging databases with data models
df_merge= pd.merge(df4, df3, left_on= 'DataBases', right_on='DataBases')
df_merge.rename(columns={'DataBases': 'Databases'}, inplace=True)
df_merge.to_excel(HISTORICAL_FILE_JOIN_DB, index=False) 
df_merge
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,1,0,0,...,0,0,0,0,0,2,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0
12,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,H2,Relational,Multi-model,SQL,9,0,0,0,0,0,...,0,0,0,0,0,1,8,2,0,0
14,Hazelcast,Key-value,Multi-model,NoSQL,1,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
15,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
16,HyperSQL,Relational,,SQL,2,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,0
17,IBM_DB2,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
19,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
22,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Interbase,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,MySQL_Maria DB,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,10,7,0,8,9,1,0
27,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
31,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,MS SQL Server_Microsoft Azure SQL Database,Relational,Multi-model,SQL,4,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
33,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
34,Oracle,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,0,5,0,0,0,0,0
35,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL,7,0,0,0,0,0,...,0,0,0,10,0,3,9,2,0,0
37,Realm,Document,,NoSQL,0,0,1,0,0,0,...,0,0,9,0,0,0,0,0,0,0
38,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,1,8,0,0,0
39,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SAP Adaptive Server,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,SAP SQL Anywhere,Relational,,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SQLite,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,8,0,0,3,0,0
46,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping by model

In [119]:
df_model = df_merge.copy()
df_model = df_model.groupby(['Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_model

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,0,1,1,0,0,0,0,1,4,...,0,0,9,0,0,3,55,9,0,0
SQL,49,0,0,0,0,0,0,5,3,20,...,0,0,0,20,30,6,26,16,1,0

In [120]:
def num_missing (x):
      return sum (x >= 1)
df5 = df_model.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
df5

Model
SQL      162
NoSQL    129
dtype: int64

Replacing all values with 1 to perform the intersection. The mask function replaces the dataframe values if the condition is true. If you need the condition to be false, you should use the where function, for example: df.mask(df_merge > 1, 1), in which case the replacement would only be made for values that are less than 1 (the inverse of the condition).

In [121]:
df5 = df_model.mask(df_model > 1, 1)
df5

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,0,1,1,0,0,0,0,1,1,...,0,0,1,0,0,1,1,1,0,0
SQL,1,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,1,1,1,1,0

Create two tables, each with one of the nosql rows and the other sql, transform all the values into 1 and then merge the intersection according to example 1 of https://www.geeksforgeeks.org/intersection-of-two-dataframe-in-pandas-python/.
Then, from the sum of the two models, take the value of the intersection.

In [122]:
df6= df5.iloc[1:2,:]
df6

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
SQL,1,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,1,1,1,1,0

In [123]:
df7=df5.iloc[0:1,:]
df7

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,0,1,1,0,0,0,0,1,1,...,0,0,1,0,0,1,1,1,0,0

In [124]:
df8 = pd.concat([df6, df7], axis=0, join='inner').sum().sort_values(ascending =False)
df8

Activiti             2
beam                 2
gitlab-plugin        2
gocd                 2
guacamole-client     2
                    ..
keepassdroid         0
RedReader            0
kubernetes-plugin    0
Recaf                0
zotfile              0
Length: 315, dtype: int64

To find the intersection, I use the isin function to find the lines (projects) whose concatenated value == 2. This function returns true or false and I add the lines that meet the condition.

In [125]:
df8.isin([2]).sum()

96

In [126]:
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,1,0,0,...,0,0,0,0,0,2,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0
12,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,H2,Relational,Multi-model,SQL,9,0,0,0,0,0,...,0,0,0,0,0,1,8,2,0,0
14,Hazelcast,Key-value,Multi-model,NoSQL,1,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
15,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,1,0,0
16,HyperSQL,Relational,,SQL,2,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,0
17,IBM_DB2,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
19,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
22,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Interbase,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,MySQL_Maria DB,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,10,7,0,8,9,1,0
27,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
31,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,MS SQL Server_Microsoft Azure SQL Database,Relational,Multi-model,SQL,4,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,0
33,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
34,Oracle,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,0,5,0,0,0,0,0
35,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL,7,0,0,0,0,0,...,0,0,0,10,0,3,9,2,0,0
37,Realm,Document,,NoSQL,0,0,1,0,0,0,...,0,0,9,0,0,0,0,0,0,0
38,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,1,8,0,0,0
39,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SAP Adaptive Server,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,SAP SQL Anywhere,Relational,,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SQLite,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,8,0,0,3,0,0
46,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Primary Model']).sum()
#df_prisec = df_prisec.groupby(['Primary Model','Second Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Primary Model,,,,,,,,,,,,,,,,,,,,,
Document,0,0,1,0,0,0,0,0,1,0,...,0,0,9,0,0,0,15,0,0,0
Graph,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
Key-value,1,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,1,11,0,0,0
Multi-Model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Multi-model,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,2,7,0,0,0
Relational,49,0,0,0,0,0,0,5,3,20,...,0,0,0,20,30,6,26,16,1,0
Spatial DBMS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Time Series,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
Wide column,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15,9,0,0

Counting the primary and secondary models. The values below do not include the intersections.

In [128]:
def num_missing (x):
      return sum (x >= 1)
#df2.apply(num_missing, axis=0).sort_values(ascending=False)
#without COMMITS
df10 = df_prisec.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
#df6 = df_merge.iloc[:,:].apply(num_missing, axis=0).sort_values(ascending=False) para mostrar os projetos
df10

Primary Model
Relational      162
Key-value        81
Document         70
Multi-model      30
Wide column      28
Spatial DBMS      8
Time Series       7
Graph             5
Multi-Model       1
dtype: int64

Adjust to count the secondary models

In [129]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Second Model']).sum()
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,7,0,1,1,0,0,0,0,1,0,...,0,0,9,0,18,2,36,12,0,0
Multi-model,43,0,0,0,0,0,0,5,3,24,...,0,0,0,20,12,7,45,13,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df11 = df_prisec.mask(df_prisec> 1, 1)
df11

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,1,1,1,1,0,0
Multi-model,1,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
df11.isin([1]).sum(axis = 1)

Second Model
               131
Multi-model    165
Relational       8
dtype: int64

In [132]:
df12 = df_prisec.mask(df_prisec> 1, 1)
df12

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,1,1,1,1,0,0
Multi-model,1,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
df12.isin([1]).sum(axis = 1)

Second Model
               131
Multi-model    165
Relational       8
dtype: int64

In [134]:
df13 = df_prisec.mask(df_prisec> 1, 1)
df13

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,Apktool,Arduino,AsciidocFX,BIMserver,...,wire,wiremock,xabber-android,yacy_search_server,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,1,1,1,1,0,0
Multi-model,1,0,0,0,0,0,0,1,1,1,...,0,0,0,1,1,1,1,1,1,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
df13.isin([1]).sum(axis = 1)

Second Model
               131
Multi-model    165
Relational       8
dtype: int64