In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR, HISTORICAL_FILE

In [81]:
#from util import DATABASES_MODELS

In [115]:
df = pd.read_excel(HISTORICAL_FILE, keep_default_na=False)
#reads projects from Excel file
len(df)
df.head()

,owner,name,domain,sha1,part_commit,date_commit,isLast,SapHana,Realm,SAP SQL Anywhere,...,ClickHouse,Kdb+,Virtuoso-NoSql,HBase,Firebird,Cassandra,Couchbase,Etcd,PostGIS,Redis
0,Activiti,Activiti,Enterprise Resource Planning,7262dc3913045001cbc658a8474e9d295980c345,1,2010-07-14 06:36:18+00:00,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Activiti,Activiti,Enterprise Resource Planning,38b284602be9dcb6b4253cfa1c2f9420c002b56a,2,2010-08-03 08:31:19+00:00,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Activiti,Activiti,Enterprise Resource Planning,fbcdc18a66e7f7960a7ed966f87b1527c5c7551a,3,2010-09-02 09:45:24+00:00,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Activiti,Activiti,Enterprise Resource Planning,8d05dda18ce4c5db6f30cf01d7e0c2059b1a5388,4,2010-09-16 15:33:33+00:00,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Activiti,Activiti,Enterprise Resource Planning,a789ba2b30383777b4d0d81bbc62a90a24dbb032,5,2010-09-23 13:38:28+00:00,False,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
columns_to_drop = ['sha1', 'part_commit', 'date_commit', 'isLast', 'domain']
df = df.drop(columns=columns_to_drop)

#df.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_DB','MS SQL Server':'MS_SQL_Server'}, inplace=True)
#df.rename(columns={'Join_Ignite-Sql':'Ignite_Sql','Join_Ignite-NoSql':'Ignite_NoSql', 'Join_Virtuoso-Sql':'Virtuoso_Sql','Join_Virtuoso-NoSql':'Virtuoso_NoSql'}, inplace=True)
#df.rename(columns={'MySQL': 'MySQL_Maria DB'}, inplace=True)
#df.rename(columns={'PostgreSQL': 'PostgreSQL_ CockroachDB'}, inplace=True)
print(df.columns)
len(df.columns)

Index(['owner', 'name', 'SapHana', 'Realm', 'SAP SQL Anywhere', 'FileMaker',
       'Virtuoso', 'ArangoDB', 'Informix', 'HyperSQL', 'CouchDB', 'Riak KV',
       'Ignite', 'Virtuoso-Sql', 'Neo4j', 'Singlestore', 'Snowflake',
       'Ignite-Sql', 'MarkLogic', 'Hazelcast', 'GoogleCloudFilestore',
       'Influx DB', 'H2', 'Ignite-NoSql', 'Interbase', 'Teradata', 'Oracle',
       'Impala', 'Microsoft Azure CosmosDB', 'MySQL_Maria DB', 'MS Access',
       'Microsoft Azure Table Storage', 'Aerospike', 'IBM DB2', 'DynamoDB',
       'Vertica', 'Ingres', 'MongoDB',
       'MS SQL Server_Microsoft Azure SQL Database', 'Google Cloud Datastore',
       'Firebase Realtime', 'SQLite', 'PostgreSQL_ CockroachDB',
       'SAP Adaptive Server', 'ClickHouse', 'Kdb+', 'Virtuoso-NoSql', 'HBase',
       'Firebird', 'Cassandra', 'Couchbase', 'Etcd', 'PostGIS', 'Redis'],
      dtype='object')

54

In [117]:
df.rename(columns={'name' : 'DataBases'}, inplace=True)
print(df.columns)

Index(['owner', 'DataBases', 'SapHana', 'Realm', 'SAP SQL Anywhere',
       'FileMaker', 'Virtuoso', 'ArangoDB', 'Informix', 'HyperSQL', 'CouchDB',
       'Riak KV', 'Ignite', 'Virtuoso-Sql', 'Neo4j', 'Singlestore',
       'Snowflake', 'Ignite-Sql', 'MarkLogic', 'Hazelcast',
       'GoogleCloudFilestore', 'Influx DB', 'H2', 'Ignite-NoSql', 'Interbase',
       'Teradata', 'Oracle', 'Impala', 'Microsoft Azure CosmosDB',
       'MySQL_Maria DB', 'MS Access', 'Microsoft Azure Table Storage',
       'Aerospike', 'IBM DB2', 'DynamoDB', 'Vertica', 'Ingres', 'MongoDB',
       'MS SQL Server_Microsoft Azure SQL Database', 'Google Cloud Datastore',
       'Firebase Realtime', 'SQLite', 'PostgreSQL_ CockroachDB',
       'SAP Adaptive Server', 'ClickHouse', 'Kdb+', 'Virtuoso-NoSql', 'HBase',
       'Firebird', 'Cassandra', 'Couchbase', 'Etcd', 'PostGIS', 'Redis'],
      dtype='object')

In [118]:
df

,owner,DataBases,SapHana,Realm,SAP SQL Anywhere,FileMaker,Virtuoso,ArangoDB,Informix,HyperSQL,...,ClickHouse,Kdb+,Virtuoso-NoSql,HBase,Firebird,Cassandra,Couchbase,Etcd,PostGIS,Redis
0,Activiti,Activiti,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Activiti,Activiti,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Activiti,Activiti,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Activiti,Activiti,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Activiti,Activiti,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22899,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22900,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22901,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22902,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
df = df.groupby(['DataBases', 'owner']).sum().reset_index()
df

,DataBases,owner,SapHana,Realm,SAP SQL Anywhere,FileMaker,Virtuoso,ArangoDB,Informix,HyperSQL,...,ClickHouse,Kdb+,Virtuoso-NoSql,HBase,Firebird,Cassandra,Couchbase,Etcd,PostGIS,Redis
0,Activiti,Activiti,0,0,32,0,0,0,0,13,...,0,0,0,0,0,0,0,0,0,0
1,Android-IMSI-Catcher-Detector,CellularPrivacy,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AndroidUtilCode,Blankj,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AntennaPod,AntennaPod,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AnySoftKeyboard,AnySoftKeyboard,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,zeppelin,apache,0,0,0,0,0,0,0,0,...,0,0,0,34,0,38,0,0,0,39
357,zipkin,openzipkin,0,0,0,0,0,0,0,0,...,0,0,0,0,0,25,0,0,0,0
358,zookeeper,apache,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
359,zxing,zxing,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
360,zxing-android-embedded,journeyapps,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
columns_to_drop = ['owner']
df = df.drop(columns=columns_to_drop)
df.set_index('DataBases', inplace=True)
df

,SapHana,Realm,SAP SQL Anywhere,FileMaker,Virtuoso,ArangoDB,Informix,HyperSQL,CouchDB,Riak KV,...,ClickHouse,Kdb+,Virtuoso-NoSql,HBase,Firebird,Cassandra,Couchbase,Etcd,PostGIS,Redis
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,0,0,32,0,0,0,0,13,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AndroidUtilCode,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AnySoftKeyboard,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeppelin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,34,0,38,0,0,0,39
zipkin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,25,0,0,0,0
zookeeper,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing-android-embedded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [121]:
#To show DBMS by projects
def num_missing(x):
   return sum(x >= 1)
df.apply(num_missing, axis=1).sort_values()
df

,SapHana,Realm,SAP SQL Anywhere,FileMaker,Virtuoso,ArangoDB,Informix,HyperSQL,CouchDB,Riak KV,...,ClickHouse,Kdb+,Virtuoso-NoSql,HBase,Firebird,Cassandra,Couchbase,Etcd,PostGIS,Redis
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,0,0,32,0,0,0,0,13,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AndroidUtilCode,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AnySoftKeyboard,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeppelin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,34,0,38,0,0,0,39
zipkin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,25,0,0,0,0
zookeeper,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing-android-embedded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
#df = df.groupby("DataBases").sum()
#df2 = df["COMMITS"].sum().sort_values(ascending=False)
#df2.iloc[: , 1:] => para ocultar a linha COMMITS
df= df.iloc[: ,:] #acho que aqui estÃ¡ retirnado o MySQL da lista.
df2 = df.T
df2

DataBases,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
SapHana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Realm,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAP SQL Anywhere,32,0,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
FileMaker,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ArangoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Informix,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HyperSQL,13,0,0,0,0,0,0,35,0,66,...,0,203,0,0,36,0,0,0,0,0
CouchDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Riak KV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
Virtuoso-Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Neo4j,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
Singlestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Snowflake,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite-Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MarkLogic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hazelcast,3,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Influx DB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
H2,55,0,0,0,0,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
Ignite-NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
Interbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Teradata,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oracle,40,0,0,0,0,0,0,19,0,15,...,0,143,0,0,17,0,0,0,0,0
Impala,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MySQL_Maria DB,45,0,0,0,0,0,1,35,43,17,...,0,197,15,92,11,36,26,4,0,0
MS Access,0,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aerospike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IBM DB2,31,0,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
DynamoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vertica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ingres,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MongoDB,0,0,0,0,0,0,0,17,0,0,...,0,0,0,0,0,23,0,0,0,0
MS SQL Server_Microsoft Azure SQL Database,18,0,0,0,0,0,1,0,0,15,...,0,143,0,0,0,2,0,0,0,0
Google Cloud Datastore,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,41,0,0,0,0
Firebase Realtime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SQLite,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,20,0,0,0,0,0
PostgreSQL_ CockroachDB,44,0,0,0,0,0,1,20,43,0,...,0,143,0,92,0,40,0,0,0,0
SAP Adaptive Server,32,0,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
ClickHouse,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kdb+,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso-NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
HBase,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,34,0,0,0,0
Firebird,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cassandra,0,0,0,0,0,0,0,6,0,0,...,0,0,0,0,0,38,25,0,0,0
Couchbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Etcd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PostGIS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Redis,0,0,0,0,0,0,0,9,16,0,...,0,0,1,0,0,39,0,0,0,0

In [302]:
#df2.DataBases

In [123]:
# To generate Historical by DBMS
HISTORICAL_FILE_JOIN_DB = RESOURCE_DIR + os.sep + 'historical_join_db.xlsx' #add in util.py
df2.to_excel(HISTORICAL_FILE_JOIN_DB, index=True) 
#df2 = df2.to_excel("historical_coluna.xlsx", index=False)

In [124]:
df3 = pd.read_excel(HISTORICAL_FILE_JOIN_DB, keep_default_na=False)
#df3 = pd.read_excel('historical_coluna.xlsx', keep_default_na=False)
#reads projects from Excel file
df3
#df3.head()

,Unnamed: 0,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Realm,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SAP SQL Anywhere,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
3,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Virtuoso,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,HyperSQL,13,0,0,0,0,0,0,35,0,...,0,203,0,0,36,0,0,0,0,0
8,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Ignite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
11,Virtuoso-Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
13,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Ignite-Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Hazelcast,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
18,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
20,H2,55,0,0,0,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
21,Ignite-NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
22,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Oracle,40,0,0,0,0,0,0,19,0,...,0,143,0,0,17,0,0,0,0,0
25,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MySQL_Maria DB,45,0,0,0,0,0,1,35,43,...,0,197,15,92,11,36,26,4,0,0
28,MS Access,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,IBM DB2,31,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
32,DynamoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,MongoDB,0,0,0,0,0,0,0,17,0,...,0,0,0,0,0,23,0,0,0,0
36,MS SQL Server_Microsoft Azure SQL Database,18,0,0,0,0,0,1,0,0,...,0,143,0,0,0,2,0,0,0,0
37,Google Cloud Datastore,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,41,0,0,0,0
38,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,SQLite,0,0,0,0,2,0,0,0,0,...,0,0,0,0,20,0,0,0,0,0
40,PostgreSQL_ CockroachDB,44,0,0,0,0,0,1,20,43,...,0,143,0,92,0,40,0,0,0,0
41,SAP Adaptive Server,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
42,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Virtuoso-NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
45,HBase,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,34,0,0,0,0
46,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Cassandra,0,0,0,0,0,0,0,6,0,...,0,0,0,0,0,38,25,0,0,0
48,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Redis,0,0,0,0,0,0,0,9,16,...,0,0,1,0,0,39,0,0,0,0

Renaming Unnamed collumn to Databases

In [125]:
df3.rename(columns={'Unnamed: 0': 'DataBases'}, inplace=True)
df3
#df3.to_excel(HISTORICAL_FILE_JOIN_DB, index=True)

,DataBases,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Realm,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SAP SQL Anywhere,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
3,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Virtuoso,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,HyperSQL,13,0,0,0,0,0,0,35,0,...,0,203,0,0,36,0,0,0,0,0
8,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Ignite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
11,Virtuoso-Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
13,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Ignite-Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Hazelcast,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
18,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
20,H2,55,0,0,0,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
21,Ignite-NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
22,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Oracle,40,0,0,0,0,0,0,19,0,...,0,143,0,0,17,0,0,0,0,0
25,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MySQL_Maria DB,45,0,0,0,0,0,1,35,43,...,0,197,15,92,11,36,26,4,0,0
28,MS Access,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,IBM DB2,31,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
32,DynamoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,MongoDB,0,0,0,0,0,0,0,17,0,...,0,0,0,0,0,23,0,0,0,0
36,MS SQL Server_Microsoft Azure SQL Database,18,0,0,0,0,0,1,0,0,...,0,143,0,0,0,2,0,0,0,0
37,Google Cloud Datastore,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,41,0,0,0,0
38,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,SQLite,0,0,0,0,2,0,0,0,0,...,0,0,0,0,20,0,0,0,0,0
40,PostgreSQL_ CockroachDB,44,0,0,0,0,0,1,20,43,...,0,143,0,92,0,40,0,0,0,0
41,SAP Adaptive Server,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
42,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Virtuoso-NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
45,HBase,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,34,0,0,0,0
46,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Cassandra,0,0,0,0,0,0,0,6,0,...,0,0,0,0,0,38,25,0,0,0
48,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Redis,0,0,0,0,0,0,0,9,16,...,0,0,1,0,0,39,0,0,0,0

In [128]:
DATABASES_MODELS = RESOURCE_DIR + os.sep + 'databases_models.xlsx'
df4 = pd.read_excel(DATABASES_MODELS, keep_default_na=False) #add in util.py
#df4.set_index('Model')
#reads projects from Excel file
df4

                        DataBases Primary Model Second Model  Model
0                       Aerospike     Key-value  Multi-model  NoSQL
1                        ArangoDB   Multi-Model               NoSQL
2                       Cassandra   Wide column               NoSQL
3                      ClickHouse    Relational  Multi-model    SQL
4                       Couchbase      Document  Multi-model  NoSQL
5                         CouchDB      Document  Multi-model  NoSQL
6                        DynamoDB   Multi-model               NoSQL
7                            Etcd     Key-value               NoSQL
8                       FileMaker    Relational                 SQL
9               Firebase Realtime      Document               NoSQL
10                       Firebird    Relational                 SQL
11         Google Cloud Datastore      Document               NoSQL
12           GoogleCloudFilestore      Document               NoSQL
13                             H2    Relational  Multi-model    SQL
14                      Hazelcast     Key-value  Multi-model  NoSQL
15                          HBase   Wide column               NoSQL
16                       HyperSQL    Relational                 SQL
17                        IBM_DB2    Relational  Multi-model    SQL
18                   Ignite_NoSql   Multi-model               NoSQL
19                     Ignite_Sql   Multi-model                 SQL
20                         Impala    Relational  Multi-model    SQL
21                      Influx DB   Time Series  Multi-model  NoSQL
22                       Informix    Relational  Multi-model    SQL
23                         Ingres    Relational                 SQL
24                      Interbase    Relational                 SQL
25                           Kdb+   Time Series               NoSQL
26                 MySQL_Maria DB    Relational  Multi-model    SQL
27                      MarkLogic   Multi-model               NoSQL
28       Microsoft Azure CosmosDB   Multi-model               NoSQL
29  Microsoft Azure Table Storage   Wide column               NoSQL
30                        MongoDB      Document  Multi-model  NoSQL
31                      MS_Access    Relational   Relational    SQL
32                  MS_SQL_Server    Relational  Multi-model    SQL
33                          Neo4j         Graph               NoSQL
34                         Oracle    Relational  Multi-model    SQL
35                        PostGIS  Spatial DBMS  Multi-model  NoSQL
36        PostgreSQL_ CockroachDB    Relational  Multi-model    SQL
37                          Realm      Document               NoSQL
38                          Redis     Key-value  Multi-model  NoSQL
39                        Riak KV     Key-value               NoSQL
40            SAP Adaptive Server    Relational  Multi-model    SQL
41                        SapHana    Relational  Multi-model    SQL
42                    Singlestore    Relational                 SQL
43               SAP SQL Anywhere    Relational                 SQL
44                      Snowflake    Relational                 SQL
45                         SQLite    Relational                 SQL
46                       Teradata    Relational  Multi-model    SQL
47                        Vertica    Relational  Multi-model    SQL
48                 Virtuoso_NoSql   Multi-model               NoSQL
49                   Virtuoso_Sql   Multi-model                 SQL

In [133]:
itens_presentes = df3['DataBases'].isin(df4['DataBases'])

nomes_presentes = df3[itens_presentes]

# Filtrar os itens que estÃ£o faltando
nomes_faltando = df3[~itens_presentes]

# Converter as colunas para sets
names_set = set(df4['DataBases'])
projects_set = set(df3['DataBases'])
    
# Itens presentes em 'name' mas nÃ£o em 'projects'
names_faltando = names_set - projects_set
print("\nItens presentes em 'DF4' mas nÃ£o em 'DF3':", names_faltando)

# Itens presentes em 'projects' mas nÃ£o em 'name'
projects_faltando = projects_set - names_set
print("Itens presentes em 'DF3' mas nÃ£o em 'DF4':", projects_faltando)

Itens presentes em 'DF4' mas nÃ£o em 'DF3': {'Ignite_NoSql', 'IBM_DB2', 'MS_Access', 'MS_SQL_Server', 'Ignite_Sql', 'Virtuoso_NoSql', 'Virtuoso_Sql'}
Itens presentes em 'DF3' mas nÃ£o em 'DF4': {'Ignite', 'Ignite-NoSql', 'Virtuoso', 'MS Access', 'IBM DB2', 'Ignite-Sql', 'Virtuoso-Sql', 'MS SQL Server_Microsoft Azure SQL Database', 'Virtuoso-NoSql'}

In [139]:
def renomear(item):
    if item == 'Ignite-NoSql':
        return 'Ignite_NoSql'
    elif item == 'IBM DB2':
        return 'IBM_DB2'
    elif item == 'MS Access':
        return 'MS_Access'
    elif item == 'Ignite-Sql':
        return 'Ignite_Sql'
    elif item == 'Virtuoso-NoSql':
        return 'Virtuoso_NoSql'
    elif item == 'Virtuoso-Sql':
        return 'Virtuoso_Sql'
    elif item == 'MS SQL Server_Microsoft Azure SQL Database':
        return 'MS_SQL_Server'
    else:
        return item

df3['DataBases'] = df3['DataBases'].apply(renomear)

print("\nDepois:")
df3

Depois:

,DataBases,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Realm,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SAP SQL Anywhere,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
3,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Virtuoso,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,HyperSQL,13,0,0,0,0,0,0,35,0,...,0,203,0,0,36,0,0,0,0,0
8,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Ignite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
11,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
13,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Hazelcast,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
18,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
20,H2,55,0,0,0,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
21,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
22,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Oracle,40,0,0,0,0,0,0,19,0,...,0,143,0,0,17,0,0,0,0,0
25,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MySQL_Maria DB,45,0,0,0,0,0,1,35,43,...,0,197,15,92,11,36,26,4,0,0
28,MS_Access,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,IBM_DB2,31,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
32,DynamoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,MongoDB,0,0,0,0,0,0,0,17,0,...,0,0,0,0,0,23,0,0,0,0
36,MS_SQL_Server,18,0,0,0,0,0,1,0,0,...,0,143,0,0,0,2,0,0,0,0
37,Google Cloud Datastore,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,41,0,0,0,0
38,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,SQLite,0,0,0,0,2,0,0,0,0,...,0,0,0,0,20,0,0,0,0,0
40,PostgreSQL_ CockroachDB,44,0,0,0,0,0,1,20,43,...,0,143,0,92,0,40,0,0,0,0
41,SAP Adaptive Server,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
42,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
45,HBase,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,34,0,0,0,0
46,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Cassandra,0,0,0,0,0,0,0,6,0,...,0,0,0,0,0,38,25,0,0,0
48,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Redis,0,0,0,0,0,0,0,9,16,...,0,0,1,0,0,39,0,0,0,0

In [140]:
df3

,DataBases,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Realm,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SAP SQL Anywhere,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
3,FileMaker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Virtuoso,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,HyperSQL,13,0,0,0,0,0,0,35,0,...,0,203,0,0,36,0,0,0,0,0
8,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Ignite,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
11,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
13,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Hazelcast,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
18,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
20,H2,55,0,0,0,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
21,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
22,Interbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Oracle,40,0,0,0,0,0,0,19,0,...,0,143,0,0,17,0,0,0,0,0
25,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MySQL_Maria DB,45,0,0,0,0,0,1,35,43,...,0,197,15,92,11,36,26,4,0,0
28,MS_Access,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,IBM_DB2,31,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
32,DynamoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,MongoDB,0,0,0,0,0,0,0,17,0,...,0,0,0,0,0,23,0,0,0,0
36,MS_SQL_Server,18,0,0,0,0,0,1,0,0,...,0,143,0,0,0,2,0,0,0,0
37,Google Cloud Datastore,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,41,0,0,0,0
38,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,SQLite,0,0,0,0,2,0,0,0,0,...,0,0,0,0,20,0,0,0,0,0
40,PostgreSQL_ CockroachDB,44,0,0,0,0,0,1,20,43,...,0,143,0,92,0,40,0,0,0,0
41,SAP Adaptive Server,32,0,0,0,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
42,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
45,HBase,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,34,0,0,0,0
46,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Cassandra,0,0,0,0,0,0,0,6,0,...,0,0,0,0,0,38,25,0,0,0
48,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,Redis,0,0,0,0,0,0,0,9,16,...,0,0,1,0,0,39,0,0,0,0

In [141]:
# Merging databases with data models
df_merge= pd.merge(df4, df3, left_on= 'DataBases', right_on='DataBases')
df_merge.rename(columns={'DataBases': 'Databases'}, inplace=True)
df_merge.to_excel(HISTORICAL_FILE_JOIN_DB, index=False) 
df_merge
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,38,25,0,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,41,0,0,0,0
12,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,H2,Relational,Multi-model,SQL,55,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
14,Hazelcast,Key-value,Multi-model,NoSQL,3,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
15,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,34,0,0,0,0
16,HyperSQL,Relational,,SQL,13,0,0,0,0,0,...,0,203,0,0,36,0,0,0,0,0
17,IBM_DB2,Relational,Multi-model,SQL,31,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
18,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
19,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
22,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Interbase,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,MySQL_Maria DB,Relational,Multi-model,SQL,45,0,0,0,0,0,...,0,197,15,92,11,36,26,4,0,0
27,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,23,0,0,0,0
31,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
32,MS_SQL_Server,Relational,Multi-model,SQL,18,0,0,0,0,0,...,0,143,0,0,0,2,0,0,0,0
33,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
34,Oracle,Relational,Multi-model,SQL,40,0,0,0,0,0,...,0,143,0,0,17,0,0,0,0,0
35,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL,44,0,0,0,0,0,...,0,143,0,92,0,40,0,0,0,0
37,Realm,Document,,NoSQL,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,1,0,0,39,0,0,0,0
39,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SAP Adaptive Server,Relational,Multi-model,SQL,32,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
41,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,SAP SQL Anywhere,Relational,,SQL,32,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
44,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SQLite,Relational,,SQL,0,0,0,0,2,0,...,0,0,0,0,20,0,0,0,0,0
46,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
49,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping by model

In [142]:
df_model = df_merge.copy()
df_model = df_model.groupby(['Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_model

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,3,3,0,0,0,0,1,32,18,0,...,0,0,1,3,0,251,25,0,0,0
SQL,310,0,0,0,2,0,3,109,86,113,...,0,1536,15,184,84,114,26,4,0,0

In [143]:
def num_missing (x):
      return sum (x >= 1)
df5 = df_model.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
df5

Model
SQL      198
NoSQL    164
dtype: int64

Replacing all values with 1 to perform the intersection. The mask function replaces the dataframe values if the condition is true. If you need the condition to be false, you should use the where function, for example: df.mask(df_merge > 1, 1), in which case the replacement would only be made for values that are less than 1 (the inverse of the condition).

In [144]:
df5 = df_model.mask(df_model > 1, 1)
df5

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,1,0,0,0,0,1,1,1,0,...,0,0,1,1,0,1,1,0,0,0
SQL,1,0,0,0,1,0,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0

Create two tables, each with one of the nosql rows and the other sql, transform all the values into 1 and then merge the intersection according to example 1 of https://www.geeksforgeeks.org/intersection-of-two-dataframe-in-pandas-python/.
Then, from the sum of the two models, take the value of the intersection.

In [145]:
df6= df5.iloc[1:2,:]
df6

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
SQL,1,0,0,0,1,0,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0

In [146]:
df7=df5.iloc[0:1,:]
df7

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,1,0,0,0,0,1,1,1,0,...,0,0,1,1,0,1,1,0,0,0

In [147]:
df8 = pd.concat([df6, df7], axis=0, join='inner').sum().sort_values(ascending =False)
df8

Activiti                  2
iceberg                   2
flyway                    2
framework                 2
gatk                      2
                         ..
jna                       0
jpexs-decompiler          0
json-schema-validator     0
jsoup                     0
zxing-android-embedded    0
Length: 361, dtype: int64

To find the intersection, I use the isin function to find the lines (projects) whose concatenated value == 2. This function returns true or false and I add the lines that meet the condition.

In [148]:
df8.isin([2]).sum()

129

In [149]:
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,38,25,0,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FileMaker,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,41,0,0,0,0
12,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,H2,Relational,Multi-model,SQL,55,0,0,0,0,0,...,0,229,0,0,0,36,0,0,0,0
14,Hazelcast,Key-value,Multi-model,NoSQL,3,0,0,0,0,0,...,0,0,0,1,0,12,0,0,0,0
15,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,34,0,0,0,0
16,HyperSQL,Relational,,SQL,13,0,0,0,0,0,...,0,203,0,0,36,0,0,0,0,0
17,IBM_DB2,Relational,Multi-model,SQL,31,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
18,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,35,0,0,0,0
19,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
22,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Interbase,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,MySQL_Maria DB,Relational,Multi-model,SQL,45,0,0,0,0,0,...,0,197,15,92,11,36,26,4,0,0
27,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,23,0,0,0,0
31,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0
32,MS_SQL_Server,Relational,Multi-model,SQL,18,0,0,0,0,0,...,0,143,0,0,0,2,0,0,0,0
33,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
34,Oracle,Relational,Multi-model,SQL,40,0,0,0,0,0,...,0,143,0,0,17,0,0,0,0,0
35,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL,44,0,0,0,0,0,...,0,143,0,92,0,40,0,0,0,0
37,Realm,Document,,NoSQL,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,1,0,0,39,0,0,0,0
39,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SAP Adaptive Server,Relational,Multi-model,SQL,32,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
41,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,SAP SQL Anywhere,Relational,,SQL,32,0,0,0,0,0,...,0,143,0,0,0,0,0,0,0,0
44,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,SQLite,Relational,,SQL,0,0,0,0,2,0,...,0,0,0,0,20,0,0,0,0,0
46,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
49,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [150]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Primary Model']).sum()
#df_prisec = df_prisec.groupby(['Primary Model','Second Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_prisec

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Primary Model,,,,,,,,,,,,,,,,,,,,,
Document,0,3,0,0,0,0,1,17,0,0,...,0,0,0,0,0,64,0,0,0,0
Graph,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,19,0,0,0,0
Key-value,3,0,0,0,0,0,0,9,16,0,...,0,0,1,1,0,51,0,0,0,0
Multi-Model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Multi-model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,35,0,0,0,0
Relational,310,0,0,0,2,0,3,109,86,113,...,0,1536,15,184,84,114,26,4,0,0
Spatial DBMS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Time Series,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,0
Wide column,0,0,0,0,0,0,0,6,2,0,...,0,0,0,0,0,72,25,0,0,0

Counting the primary and secondary models. The values below do not include the intersections.

In [151]:
def num_missing (x):
      return sum (x >= 1)
#df2.apply(num_missing, axis=0).sort_values(ascending=False)
#without COMMITS
df10 = df_prisec.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
#df6 = df_merge.iloc[:,:].apply(num_missing, axis=0).sort_values(ascending=False) para mostrar os projetos
df10

Primary Model
Relational      198
Key-value       107
Document         85
Multi-model      50
Wide column      41
Graph            17
Spatial DBMS     10
Time Series      10
Multi-Model       5
dtype: int64

Adjust to count the secondary models

In [152]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Second Model']).sum()
df_prisec

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,45,3,0,0,2,0,1,41,2,66,...,0,346,0,2,56,167,25,0,0,0
Multi-model,268,0,0,0,0,0,3,100,102,47,...,0,1141,16,185,28,198,26,4,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,49,0,0,0,0,0,0,0,0

In [153]:
df11 = df_prisec.mask(df_prisec> 1, 1)
df11

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,1,0,0,1,0,1,1,1,1,...,0,1,0,1,1,1,1,0,0,0
Multi-model,1,0,0,0,0,0,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [154]:
df11.isin([1]).sum(axis = 1)

Second Model
               160
Multi-model    203
Relational      13
dtype: int64

In [155]:
df12 = df_prisec.mask(df_prisec> 1, 1)
df12

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,1,0,0,1,0,1,1,1,1,...,0,1,0,1,1,1,1,0,0,0
Multi-model,1,0,0,0,0,0,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [156]:
df12.isin([1]).sum(axis = 1)

Second Model
               160
Multi-model    203
Relational      13
dtype: int64

In [157]:
df13 = df_prisec.mask(df_prisec> 1, 1)
df13

,Activiti,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,AsciidocFX,AxonFramework,BIMserver,BroadleafCommerce,...,webdrivermanager,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,1,0,0,1,0,1,1,1,1,...,0,1,0,1,1,1,1,0,0,0
Multi-model,1,0,0,0,0,0,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [158]:
df13.isin([1]).sum(axis = 1)

Second Model
               160
Multi-model    203
Relational      13
dtype: int64