In [1]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

 Generates association rules for the results found in the projects history first slice.

In [8]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
#df.head()

48746

In [17]:
df2 = df.copy()
df2

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Activiti,Activiti,2,2010-07-29 07:38:01+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Activiti,Activiti,3,2010-08-26 14:46:26+00:00,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Activiti,Activiti,4,2010-09-10 13:23:04+00:00,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Activiti,Activiti,5,2010-09-21 20:47:55+00:00,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48741,RoaringBitmap,RoaringBitmap,20,2020-04-25 02:32:30+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48742,RoaringBitmap,RoaringBitmap,21,2021-04-07 15:26:40+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48743,RoaringBitmap,RoaringBitmap,22,2021-11-06 23:14:29+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48744,RoaringBitmap,RoaringBitmap,23,2022-11-14 22:27:49+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48745,RoaringBitmap,RoaringBitmap,24,2023-11-02 20:41:11+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping the lines to identify which projects that don't have DB clues

In [18]:
df2 = df2.groupby(["OWNER", "PROJECTS"]).sum()
df2

,,COMMITS,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS SQL Server,DynamoDB,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
OWNER,PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,Activiti,8128,81,81,112,75,31,0,0,49,0,...,0,0,0,0,0,0,0,0,0,0
Alluxio,alluxio,74691,70,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AlmasB,FXGL,1378,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AltBeacon,android-beacon-library,136,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,AntennaPod,4005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yacy,yacy_search_server,10585,136,136,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zaproxy,zaproxy,5778,67,0,0,55,107,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zendesk,maxwell,903,39,0,0,0,0,17,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeromq,jeromq,105,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,zxing,741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Reseting the index column

In [19]:
df2 = df2.reset_index()
df2

,OWNER,PROJECTS,COMMITS,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,Activiti,8128,81,81,112,75,31,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alluxio,alluxio,74691,70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AlmasB,FXGL,1378,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AltBeacon,android-beacon-library,136,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,AntennaPod,4005,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,yacy,yacy_search_server,10585,136,136,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
385,zaproxy,zaproxy,5778,67,0,0,55,107,0,0,...,0,0,0,0,0,0,0,0,0,0
386,zendesk,maxwell,903,39,0,0,0,0,17,0,...,0,0,0,0,0,0,0,0,0,0
387,zeromq,jeromq,105,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
388,zxing,zxing,741,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
import pandas as pd
from util import ANNOTATED_FILE_JAVA_COMPLET

# Ler os dois arquivos .xlsx
df = pd.read_excel(ANNOTATED_FILE_JAVA_COMPLET, keep_default_na=False, sheet_name='2021')
df1 = df[df['discardReason'] == ''] #filtra os projetos sem discardReason
#df1 = pd.read_excel('arquivo2.xlsx')  # DataFrame 2

# Verificar quais itens da coluna 'name' em df1 estão presentes na coluna 'projects' de df2
itens_presentes = df2['PROJECTS'].isin(df1['name'])

# Exibir o resultado: True para os itens que estão presentes, False para os que estão faltando
#print(itens_presentes)

# Filtrar os itens que estão presentes
nomes_presentes = df2[itens_presentes]
#print("Itens presentes em ambas as colunas:")
#print(nomes_presentes)

# Filtrar os itens que estão faltando
nomes_faltando = df2[~itens_presentes]
#print("\nItens da coluna 'name' que estão faltando em 'projects':")
#print(nomes_faltando)

# Converter as colunas para sets
names_set = set(df1['name'])
projects_set = set(df2['PROJECTS'])

# Verificar se os conjuntos são iguais
if names_set == projects_set:
    print("Os itens nas colunas 'name' e 'projects' são os mesmos (em termos de valores).")
else:
    print("As colunas 'name' e 'projects' têm valores diferentes.")
    
# Itens presentes em 'name' mas não em 'projects'
names_faltando = names_set - projects_set
print("\nItens presentes em 'name' mas não em 'projects':", names_faltando)

# Itens presentes em 'projects' mas não em 'name'
projects_faltando = projects_set - names_set
print("Itens presentes em 'projects' mas não em 'name':", projects_faltando)

if len(df1['name']) == len(df2['PROJECTS']):
    print("\nAs quantidades de itens nas colunas 'name' e 'projects' são iguais.")
else:
    print("\nAs quantidades de itens nas colunas 'name' e 'projects' são diferentes.")

duplicados_projects = df2['PROJECTS'].duplicated(keep=False)

# Filtrar os projetos duplicados
projetos_duplicados = df2.loc[duplicados_projects, 'PROJECTS'].unique()

if len(projetos_duplicados) > 0:
    print(f"\nProjetos duplicados: {', '.join(projetos_duplicados)}")
else:
    print("\nNão existem itens duplicados na coluna 'projects'.")

As colunas 'name' e 'projects' têm valores diferentes.

Itens presentes em 'name' mas não em 'projects': {'liferay-portal'}
Itens presentes em 'projects' mas não em 'name': {'libsvm', 'AmazeFileManager', 'btrace', 'gnucash-android', 'eureka', 'YCSB', 'dozer', 'pushy', 'jeromq', 'webmagic', 'myexcel', 'android-beacon-library', 'ArchUnit', 'zotfile', 'kairosdb', 'find-sec-bugs', 'android-gif-drawable', 'Gaffer', 'FirebaseUI-Android', 'materialistic', 'jsonschema2pojo', 'synthea', 'git-commit-id-maven-plugin', 'streamex', 'epubcheck', 'mp4parser', 'scouter', 'quarkus-quickstarts'}

As quantidades de itens nas colunas 'name' e 'projects' são diferentes.

Projetos duplicados: android

New dataframe filtering only lines that first version projects

In [20]:
#df10 = df2.mask(df2 > 1, 1)
df10 = df[(df['COMMITS'] == 1)]
df10

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
127,airbnb,lottie-android,1,2016-09-24 19:32:20+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,alibaba,spring-cloud-alibaba,1,2018-10-11 14:14:21+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,alibaba,nacos,1,2018-09-18 12:32:55+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,alibaba,fastjson,1,2011-08-13 01:48:45+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46840,zeromq,jeromq,1,2012-11-20 00:45:59+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46854,zxing,zxing,1,2008-01-22 18:59:47+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46892,apache,camel,1,2007-03-22 18:41:24+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47790,oracle,graal,1,2011-05-05 14:07:00+00:00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48722,RoaringBitmap,RoaringBitmap,1,2013-09-12 01:36:18+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues the principal dataframe

In [7]:
#df2 = df2.iloc[ : , 1:]
#df2[(df2 == 0).all(axis=1)].index
df2 = df2.drop(df2[(df2.iloc[ : , 2:] == 0).all(axis=1)].index)
df2

,PROJECTS,COMMITS,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS SQL Server,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,8128,81,81,112,75,31,0,0,49,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,630,0,0,0,0,0,0,0,0,...,0,0,0,4,0,0,0,0,0,0
3,AndroidUtilCode,105,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,AnySoftKeyboard,3916,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,AsciidocFX,210,2,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,yacy_search_server,10585,136,136,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,zaproxy,5778,67,0,0,55,107,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,zeppelin,2628,53,56,48,0,0,53,31,5,...,0,0,0,0,0,0,0,47,0,0
383,zipkin,1275,44,10,10,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
384,zookeeper,1275,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues in the first version

In [8]:
df3 = df[(df['COMMITS'] == 1)]
#df3.drop(["PROJECTS", "COMMITS"], axis=1, inplace=True)
df3 = df3.drop(df3[(df3.iloc[:,2:] == 0).all(axis=1)].index) # deletando as linhas que possuem valor 0 em todas as colunas
df3

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
127,airbnb,lottie-android,1,2016-09-24 19:32:20+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,alibaba,spring-cloud-alibaba,1,2018-10-11 14:14:21+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,alibaba,nacos,1,2018-09-18 12:32:55+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,alibaba,fastjson,1,2011-08-13 01:48:45+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46840,zeromq,jeromq,1,2012-11-20 00:45:59+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46854,zxing,zxing,1,2008-01-22 18:59:47+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46892,apache,camel,1,2007-03-22 18:41:24+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47790,oracle,graal,1,2011-05-05 14:07:00+00:00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48722,RoaringBitmap,RoaringBitmap,1,2013-09-12 01:36:18+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Merging dataframe grouping and dataframe only first version with DB clues

In [9]:
#df3.merge(df4, on=['PROJECTS'], how='outer', suffixes=['', '_'], indicator=True)
df_mer= pd.merge(df2, df3, on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer

,PROJECTS,COMMITS,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS SQL Server,...,Impala_,Riak KV_,Realm_,Microsoft Azure Table Storage_,Virtuoso-Sql_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
0,Activiti,8128.0,81.0,81.0,112.0,75.0,31.0,0.0,0.0,49.0,...,0,0,0,0,0,0,0,0,0,both
1,Android-IMSI-Catcher-Detector,630.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,both
2,AndroidUtilCode,105.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,both
3,AnySoftKeyboard,3916.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,both
4,AsciidocFX,210.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,epubcheck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,right_only
386,Universal-G-Code-Sender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,right_only
387,jeromq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,right_only
388,zxing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,right_only
389,RoaringBitmap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,right_only

Filtering diference in the first version

In [10]:
df5 = df_mer[(df_mer['_merge'].str.startswith('left'))]
df5

Empty DataFrame
Columns: [PROJECTS, COMMITS, MySQL, PostgreSQL, H2, Oracle, HyperSQL, Redis, MongoDB, MS SQL Server, DynamoDB, Google Cloud Datastore, Cassandra, HBase, IBM DB2, Hazelcast, SQLite, SAP SQL Anywhere, MarkLogic, SAP Adaptive Server, Neo4j, Informix, ClickHouse, Firebird, Couchbase, Snowflake, Teradata, Influx DB, MS Access, SapHana, Ingres, GoogleCloudFilestore, PostGIS, Firebase Realtime, ArangoDB, Microsoft Azure CosmosDB, Vertica, Etcd, Kdb+, Singlestore, Aerospike, CouchDB, Impala, Riak KV, Realm, Microsoft Azure Table Storage, Virtuoso-Sql, Join_Ignite-Sql, Join_Ignite-NoSql, Join_Virtuoso-Sql, Join_Virtuoso-NoSql, OWNER, COMMITS_, DATE COMMIT, MySQL_, PostgreSQL_, H2_, Oracle_, HyperSQL_, Redis_, MongoDB_, MS SQL Server_, DynamoDB_, Google Cloud Datastore_, Cassandra_, HBase_, IBM DB2_, Hazelcast_, SQLite_, SAP SQL Anywhere_, MarkLogic_, SAP Adaptive Server_, Neo4j_, Informix_, ClickHouse_, Firebird_, Couchbase_, Snowflake_, Teradata_, Influx DB_, MS Access_, SapHana_, Ingres_, GoogleCloudFilestore_, PostGIS_, Firebase Realtime_, ArangoDB_, Microsoft Azure CosmosDB_, Vertica_, Etcd_, Kdb+_, Singlestore_, Aerospike_, CouchDB_, Impala_, Riak KV_, Realm_, Microsoft Azure Table Storage_, Virtuoso-Sql_, Join_Ignite-Sql_, ...]
Index: []

[0 rows x 104 columns]

Merging dataframe only lines that first version projects and dataframe only lines in the first version and not DB clues

In [11]:
df_mer2= pd.merge(df10, df5.iloc[:,:1], on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer2

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,left_only
1,airbnb,lottie-android,1,2016-09-24 19:32:20+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
2,alibaba,spring-cloud-alibaba,1,2018-10-11 14:14:21+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
3,alibaba,nacos,1,2018-09-18 12:32:55+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
4,alibaba,fastjson,1,2011-08-13 01:48:45+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,zeromq,jeromq,1,2012-11-20 00:45:59+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
386,zxing,zxing,1,2008-01-22 18:59:47+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
387,apache,camel,1,2007-03-22 18:41:24+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
388,oracle,graal,1,2011-05-05 14:07:00+00:00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,left_only
389,RoaringBitmap,RoaringBitmap,1,2013-09-12 01:36:18+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only

Filtering only lines in the first version and not DB clues

In [12]:
df6 = df_mer2[(df_mer2['_merge'].str.startswith('bo'))]
df6

Empty DataFrame
Columns: [OWNER, PROJECTS, COMMITS, DATE COMMIT, MySQL, PostgreSQL, H2, Oracle, HyperSQL, Redis, MongoDB, MS SQL Server, DynamoDB, Google Cloud Datastore, Cassandra, HBase, IBM DB2, Hazelcast, SQLite, SAP SQL Anywhere, MarkLogic, SAP Adaptive Server, Neo4j, Informix, ClickHouse, Firebird, Couchbase, Snowflake, Teradata, Influx DB, MS Access, SapHana, Ingres, GoogleCloudFilestore, PostGIS, Firebase Realtime, ArangoDB, Microsoft Azure CosmosDB, Vertica, Etcd, Kdb+, Singlestore, Aerospike, CouchDB, Impala, Riak KV, Realm, Microsoft Azure Table Storage, Virtuoso-Sql, Join_Ignite-Sql, Join_Ignite-NoSql, Join_Virtuoso-Sql, Join_Virtuoso-NoSql, _merge]
Index: []

[0 rows x 54 columns]

Concatening dataframes

In [17]:
df_concat2 =  pd.concat([df3, df6]).drop_duplicates()
df_concat2

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,NaN
127,airbnb,lottie-android,1,2016-09-24 19:32:20+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
146,alibaba,spring-cloud-alibaba,1,2018-10-11 14:14:21+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
181,alibaba,nacos,1,2018-09-18 12:32:55+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
236,alibaba,fastjson,1,2011-08-13 01:48:45+00:00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46840,zeromq,jeromq,1,2012-11-20 00:45:59+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
46854,zxing,zxing,1,2008-01-22 18:59:47+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
46892,apache,camel,1,2007-03-22 18:41:24+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
47790,oracle,graal,1,2011-05-05 14:07:00+00:00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
48722,RoaringBitmap,RoaringBitmap,1,2013-09-12 01:36:18+00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [14]:
#df2 = df2.astype(np.uint8)

In [18]:
df_concat2.drop(["PROJECTS", "OWNER", "DATE COMMIT", "COMMITS","_merge"], axis=1, inplace=True)
df_concat2

,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS SQL Server,DynamoDB,Google Cloud Datastore,...,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Virtuoso-Sql,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47790,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

ASSOCIATION RULES

In [19]:
frq_items = apriori(df_concat2, min_support = 0.021, use_colnames = True)

In [20]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

In [21]:
# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

            antecedents          consequents  antecedent support  \
19         (PostgreSQL)      (MySQL, Oracle)            0.046154
18      (MySQL, Oracle)         (PostgreSQL)            0.030769
21             (Oracle)  (PostgreSQL, MySQL)            0.038462
16  (PostgreSQL, MySQL)             (Oracle)            0.041026
22    (HyperSQL, MySQL)             (Oracle)            0.046154

    consequent support   support  confidence    lift  leverage  conviction
19            0.030769  0.023077      0.5000  16.250  0.021657    1.938462
18            0.046154  0.023077      0.7500  16.250  0.021657    3.815385
21            0.041026  0.023077      0.6000  14.625  0.021499    2.397436
16            0.038462  0.023077      0.5625  14.625  0.021499    2.197802
22            0.038462  0.023077      0.5000  13.000  0.021302    1.923077

In [22]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
19,(PostgreSQL),"(MySQL, Oracle)",0.046154,0.030769,0.023077,0.500000,16.250000,0.021657,1.938462
18,"(MySQL, Oracle)",(PostgreSQL),0.030769,0.046154,0.023077,0.750000,16.250000,0.021657,3.815385
21,(Oracle),"(PostgreSQL, MySQL)",0.038462,0.041026,0.023077,0.600000,14.625000,0.021499,2.397436
16,"(PostgreSQL, MySQL)",(Oracle),0.041026,0.038462,0.023077,0.562500,14.625000,0.021499,2.197802
22,"(HyperSQL, MySQL)",(Oracle),0.046154,0.038462,0.023077,0.500000,13.000000,0.021302,1.923077
8,(PostgreSQL),(Oracle),0.046154,0.038462,0.023077,0.500000,13.000000,0.021302,1.923077
27,(Oracle),"(HyperSQL, MySQL)",0.038462,0.046154,0.023077,0.600000,13.000000,0.021302,2.384615
9,(Oracle),(PostgreSQL),0.038462,0.046154,0.023077,0.600000,13.000000,0.021302,2.384615
25,(HyperSQL),"(MySQL, Oracle)",0.069231,0.030769,0.023077,0.333333,10.833333,0.020947,1.453846
24,"(MySQL, Oracle)",(HyperSQL),0.030769,0.069231,0.023077,0.750000,10.833333,0.020947,3.723077
15,(Oracle),(HyperSQL),0.038462,0.069231,0.023077,0.600000,8.666667,0.020414,2.326923
14,(HyperSQL),(Oracle),0.069231,0.038462,0.023077,0.333333,8.666667,0.020414,1.442308
17,"(PostgreSQL, Oracle)",(MySQL),0.023077,0.120513,0.023077,1.000000,8.297872,0.020296,inf
20,(MySQL),"(PostgreSQL, Oracle)",0.120513,0.023077,0.023077,0.191489,8.297872,0.020296,1.208300
23,"(HyperSQL, Oracle)",(MySQL),0.023077,0.120513,0.023077,1.000000,8.297872,0.020296,inf
26,(MySQL),"(HyperSQL, Oracle)",0.120513,0.023077,0.023077,0.191489,8.297872,0.020296,1.208300
1,(MySQL),(PostgreSQL),0.120513,0.046154,0.041026,0.340426,7.375887,0.035464,1.446154
0,(PostgreSQL),(MySQL),0.046154,0.120513,0.041026,0.888889,7.375887,0.035464,7.915385
11,(PostgreSQL),(HyperSQL),0.046154,0.069231,0.023077,0.500000,7.222222,0.019882,1.861538
10,(HyperSQL),(PostgreSQL),0.069231,0.046154,0.023077,0.333333,7.222222,0.019882,1.430769
4,(MySQL),(Oracle),0.120513,0.038462,0.030769,0.255319,6.638298,0.026134,1.291209
5,(Oracle),(MySQL),0.038462,0.120513,0.030769,0.800000,6.638298,0.026134,4.397436
12,(HyperSQL),(H2),0.069231,0.066667,0.028205,0.407407,6.111111,0.023590,1.575000
13,(H2),(HyperSQL),0.066667,0.069231,0.028205,0.423077,6.111111,0.023590,1.613333
7,(MySQL),(HyperSQL),0.120513,0.069231,0.046154,0.382979,5.531915,0.037811,1.508488
6,(HyperSQL),(MySQL),0.069231,0.120513,0.046154,0.666667,5.531915,0.037811,2.638462
3,(MySQL),(H2),0.120513,0.066667,0.035897,0.297872,4.468085,0.027863,1.329293
2,(H2),(MySQL),0.066667,0.120513,0.035897,0.538462,4.468085,0.027863,1.905556

In [23]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [24]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [25]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
8,(PostgreSQL),(Oracle),0.046154,0.038462,0.023077,0.500000,13.000000,0.021302,1.923077,1,1
9,(Oracle),(PostgreSQL),0.038462,0.046154,0.023077,0.600000,13.000000,0.021302,2.384615,1,1
15,(Oracle),(HyperSQL),0.038462,0.069231,0.023077,0.600000,8.666667,0.020414,2.326923,1,1
14,(HyperSQL),(Oracle),0.069231,0.038462,0.023077,0.333333,8.666667,0.020414,1.442308,1,1
1,(MySQL),(PostgreSQL),0.120513,0.046154,0.041026,0.340426,7.375887,0.035464,1.446154,1,1
0,(PostgreSQL),(MySQL),0.046154,0.120513,0.041026,0.888889,7.375887,0.035464,7.915385,1,1
11,(PostgreSQL),(HyperSQL),0.046154,0.069231,0.023077,0.500000,7.222222,0.019882,1.861538,1,1
10,(HyperSQL),(PostgreSQL),0.069231,0.046154,0.023077,0.333333,7.222222,0.019882,1.430769,1,1
4,(MySQL),(Oracle),0.120513,0.038462,0.030769,0.255319,6.638298,0.026134,1.291209,1,1
5,(Oracle),(MySQL),0.038462,0.120513,0.030769,0.800000,6.638298,0.026134,4.397436,1,1
12,(HyperSQL),(H2),0.069231,0.066667,0.028205,0.407407,6.111111,0.023590,1.575000,1,1
13,(H2),(HyperSQL),0.066667,0.069231,0.028205,0.423077,6.111111,0.023590,1.613333,1,1
7,(MySQL),(HyperSQL),0.120513,0.069231,0.046154,0.382979,5.531915,0.037811,1.508488,1,1
6,(HyperSQL),(MySQL),0.069231,0.120513,0.046154,0.666667,5.531915,0.037811,2.638462,1,1
3,(MySQL),(H2),0.120513,0.066667,0.035897,0.297872,4.468085,0.027863,1.329293,1,1
2,(H2),(MySQL),0.066667,0.120513,0.035897,0.538462,4.468085,0.027863,1.905556,1,1

In [26]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'historical_rulesv1.xlsx'  #'seq_patterns/testes/historical_rules_commit1_197reg_021.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)