In [1]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
df.head()

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [4]:
df2 = df.copy()
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3166,maxwell,7,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3167,maxwell,8,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3168,maxwell,9,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Agrupando as linhas para identificar quais os projetos que nÃ£o possuem indÃ­cio de BD
Grouping the lines to identify which projects that don't have DB clues

In [6]:
df2 = df2.groupby("PROJECTS").sum()
df2

,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeppelin,55,0,0,0,0,9,8,0,10,7,...,0,0,0,8,0,8,0,0,0,0
zipkin,55,0,0,0,0,0,0,0,0,7,...,0,0,0,9,0,0,0,0,0,0
zookeeper,55,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Reseting the index column

In [7]:
df2 = df2.reset_index()
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
1,AmazeFileManager,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,zeebe,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,zeppelin,55,0,0,0,0,9,8,0,10,...,0,0,0,8,0,8,0,0,0,0
314,zipkin,55,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
315,zookeeper,55,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
316,zotfile,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

New dataframe filtering only lines that first version projects

In [9]:
#df10 = df2.mask(df2 > 1, 1)
df10 = df[(df['COMMITS'] == 1)]
df10

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,airbyte,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,airsonic,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,spring-cloud-alibaba,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,nacos,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,yacy_search_server,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3130,YalpStore,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3140,SmartTubeNext,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3150,zaproxy,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3160,maxwell,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Removing projects that don't have DB clues the principal dataframe

In [12]:
#df2 = df2.iloc[ : , 1:]
#df2[(df2 == 0).all(axis=1)].index
df2 = df2.drop(df2[(df2.iloc[ : , 2:] == 0).all(axis=1)].index)
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Arduino,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,AsciidocFX,55,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
9,BIMserver,55,0,0,0,0,0,4,0,0,...,0,0,0,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,zaproxy,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
312,zeebe,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,zeppelin,55,0,0,0,0,9,8,0,10,...,0,0,0,8,0,8,0,0,0,0
314,zipkin,55,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
315,zookeeper,55,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

Removing projects that don't have DB clues in the first version

In [14]:
df3 = df[(df['COMMITS'] == 1)]
#df3.drop(["PROJECTS", "COMMITS"], axis=1, inplace=True)
df3 = df3.drop(df3[(df3.iloc[:,2:] == 0).all(axis=1)].index) # deletando as linhas que possuem valor 0 em todas as colunas
df3

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,airbyte,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,airsonic,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,nacos,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
70,angel,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,modeldb,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3010,vespa,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3080,wildfly,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3120,yacy_search_server,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3160,maxwell,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Merging dataframe grouping and dataframe only last version with DB clues

In [15]:
#df3.merge(df4, on=['PROJECTS'], how='outer', suffixes=['', '_'], indicator=True)
df_mer= pd.merge(df2, df3, on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS_,Etcd_,MySQL_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_MarkLogic-Sql_,Join_MarkLogic-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
0,Activiti,55,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Arduino,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,AsciidocFX,55,0,0,0,0,0,0,0,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
4,BIMserver,55,0,0,0,0,0,4,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,zaproxy,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
193,zeebe,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
194,zeppelin,55,0,0,0,0,9,8,0,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
195,zipkin,55,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
196,zookeeper,55,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both

Filtering diference in the first version

In [16]:
df5 = df_mer[(df_mer['_merge'].str.startswith('left'))]
df5

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS_,Etcd_,MySQL_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_MarkLogic-Sql_,Join_MarkLogic-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Arduino,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,JSqlParser,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,MPS,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,NetGuard,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,vert.x,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
188,visualvm,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
190,xabber-android,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
192,zaproxy,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
193,zeebe,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Merging dataframe only lines that first version projects and dataframe only lines in the first version and not DB clues

In [17]:
df_mer2= pd.merge(df10, df5.iloc[:,:1], on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
1,airbyte,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
2,airsonic,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
3,spring-cloud-alibaba,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
4,nacos,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,yacy_search_server,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
313,YalpStore,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
314,SmartTubeNext,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
315,zaproxy,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
316,maxwell,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only

Filtering only lines in the first version and not DB clues

In [18]:
df6 = df_mer2[(df_mer2['_merge'].str.startswith('bo'))]
df6

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
3,spring-cloud-alibaba,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
5,alluxio,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
11,cyclops,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
12,dubbo,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
15,hadoop,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Saturn,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
305,dynmap,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
307,apps-android-wikipedia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
315,zaproxy,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

Concatening dataframes

In [19]:
df_concat2 =  pd.concat([df3, df6]).drop_duplicates()
df_concat2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
10,airbyte,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
20,airsonic,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
40,nacos,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
70,angel,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Saturn,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
305,dynmap,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
307,apps-android-wikipedia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
315,zaproxy,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

In [ ]:
df2 = df2.astype(np.uint8)

In [20]:
df_concat2.drop(["PROJECTS","COMMITS","_merge"], axis=1, inplace=True)
df_concat2

,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,Neo4j,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
70,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
frq_items = apriori(df_concat2, min_support = 0.021, use_colnames = True)

In [22]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

In [23]:
# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

                            antecedents                         consequents  \
702  (MySQL, MS SQL Server, PostgreSQL)                    (Oracle, SQLite)
707                    (Oracle, SQLite)  (MySQL, MS SQL Server, PostgreSQL)
493                    (Oracle, SQLite)         (MS SQL Server, PostgreSQL)
696             (Oracle, MySQL, SQLite)         (MS SQL Server, PostgreSQL)
713         (MS SQL Server, PostgreSQL)             (Oracle, MySQL, SQLite)

     antecedent support  consequent support   support  confidence       lift  \
702            0.030457            0.035533  0.025381    0.833333  23.452381
707            0.035533            0.030457  0.025381    0.714286  23.452381
493            0.035533            0.035533  0.025381    0.714286  20.102041
696            0.035533            0.035533  0.025381    0.714286  20.102041
713            0.035533            0.035533  0.025381    0.714286  20.102041

     leverage  conviction
702  0.024298    5.786802
707  0.024298    3.393401
493  0.024118    3.375635
696  0.024118    3.375635
713  0.024118    3.375635

In [24]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
702,"(MySQL, MS SQL Server, PostgreSQL)","(Oracle, SQLite)",0.030457,0.035533,0.025381,0.833333,23.452381,0.024298,5.786802
707,"(Oracle, SQLite)","(MySQL, MS SQL Server, PostgreSQL)",0.035533,0.030457,0.025381,0.714286,23.452381,0.024298,3.393401
493,"(Oracle, SQLite)","(MS SQL Server, PostgreSQL)",0.035533,0.035533,0.025381,0.714286,20.102041,0.024118,3.375635
696,"(Oracle, MySQL, SQLite)","(MS SQL Server, PostgreSQL)",0.035533,0.035533,0.025381,0.714286,20.102041,0.024118,3.375635
713,"(MS SQL Server, PostgreSQL)","(Oracle, MySQL, SQLite)",0.035533,0.035533,0.025381,0.714286,20.102041,0.024118,3.375635
...,...,...,...,...,...,...,...,...,...
10,(H2),(Ehcache),0.157360,0.126904,0.030457,0.193548,1.525161,0.010487,1.082640
291,(Ehcache),"(MySQL, PostgreSQL)",0.126904,0.137056,0.025381,0.200000,1.459259,0.007988,1.078680
290,"(MySQL, PostgreSQL)",(Ehcache),0.137056,0.126904,0.025381,0.185185,1.459259,0.007988,1.071527
61,(MySQL),(Ehcache),0.299492,0.126904,0.050761,0.169492,1.335593,0.012755,1.051279
60,(Ehcache),(MySQL),0.126904,0.299492,0.050761,0.400000,1.335593,0.012755,1.167513

In [25]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [26]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [27]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
36,(IBM DB2),(SAP Adaptive Server),0.045685,0.035533,0.025381,0.555556,15.634921,0.023757,2.170051,1,1
37,(SAP Adaptive Server),(IBM DB2),0.035533,0.045685,0.025381,0.714286,15.634921,0.023757,3.340102,1,1
19,(IBM DB2),(Oracle),0.045685,0.126904,0.045685,1.000000,7.880000,0.039888,inf,1,1
18,(Oracle),(IBM DB2),0.126904,0.045685,0.045685,0.360000,7.880000,0.039888,1.491117,1,1
44,(MS SQL Server),(SQLite),0.040609,0.081218,0.025381,0.625000,7.695313,0.022083,2.450085,1,1
...,...,...,...,...,...,...,...,...,...,...,...
50,(Ehcache),(PostgreSQL),0.126904,0.182741,0.035533,0.280000,1.532222,0.012342,1.135082,1,1
11,(Ehcache),(H2),0.126904,0.157360,0.030457,0.240000,1.525161,0.010487,1.108736,1,1
10,(H2),(Ehcache),0.157360,0.126904,0.030457,0.193548,1.525161,0.010487,1.082640,1,1
61,(MySQL),(Ehcache),0.299492,0.126904,0.050761,0.169492,1.335593,0.012755,1.051279,1,1
60,(Ehcache),(MySQL),0.126904,0.299492,0.050761,0.400000,1.335593,0.012755,1.167513,1,1

In [28]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'seq_patterns/testes/historical_rules_commit1_197reg_021.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)