In [2]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

Reads projects from Excel file

In [3]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
df.head()

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Deleting PROJECTS and COMMITS columns to work with one hot values

In [6]:
df2 = df.copy()
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3166,maxwell,7,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3167,maxwell,8,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3168,maxwell,9,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [5]:
df3 = df2.groupby("PROJECTS").sum()
df3

,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeppelin,55,0,0,0,0,9,8,0,10,7,...,0,0,0,8,0,8,0,0,0,0
zipkin,55,0,0,0,0,0,0,0,0,7,...,0,0,0,9,0,0,0,0,0,0
zookeeper,55,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2 = df.copy()
coluna=[]
for row in df2.itertuples():
    #print(col.index().tolist()) 
    #print((col)
    linha=[]
    for col in df.columns:
        if col == "PROJECTS":
            #linha.append(getattr(row, col))
            #print(getattr(row, col))
        #elif col == "COMMITS":
            linha.append(getattr(row, col))
            #print('Commit:',getattr(row, col))
        elif getattr(row, col) == 0:
            #print(df2[x])
            #print('Database:', col)
            linha.append(col)
    coluna.append(linha)
#print(coluna)

In [7]:
df.drop(["PROJECTS", "COMMITS"], axis=1, inplace=True)
df

,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,Neo4j,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3166,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3167,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3168,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Executing an a priori function to extract common itemsets for association rule acquisition
Support = 0,01 corresponds to 32.7 tuples from our dataset (3270 records).
This means that only item sets that occurred more than 32.7 times in our data will be considered.

In [8]:
frq_items = apriori(df, min_support = 0.01, use_colnames = True)

Collecting the inferred rules in a dataframe whose lift value is above 1.

In [9]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

                                              antecedents  \
250691  (SAP Adaptive Server, IBM DB2, PostgreSQL, MS ...
245377  (PostgreSQL, MySQL, H2, MariaDB, SQLite, Fireb...
155052                    (Firebird, MariaDB, SQLite, H2)
240079  (SAP Adaptive Server, IBM DB2, MS SQL Server, ...
245393  (SAP Adaptive Server, IBM DB2, PostgreSQL, MS ...

                                              consequents  antecedent support  \
250691             (MySQL, H2, MariaDB, SQLite, Firebird)            0.012618
245377  (SAP Adaptive Server, IBM DB2, MS SQL Server, ...            0.010726
155052  (SAP Adaptive Server, IBM DB2, MS SQL Server, ...            0.010726
240079                    (Firebird, MariaDB, SQLite, H2)            0.012618
245393             (MySQL, H2, MariaDB, SQLite, Firebird)            0.012618

        consequent support   support  confidence       lift  leverage  \
250691            0.010726  0.010095    0.800000  74.588235  0.009959
245377            0.012618  0.010095    0.941176  74.588235  0.009959
155052            0.012618  0.010095    0.941176  74.588235  0.009959
240079            0.010726  0.010095    0.800000  74.588235  0.009959
245393            0.010726  0.010095    0.800000  74.588235  0.009959

        conviction
250691    4.946372
245377   16.785489
155052   16.785489
240079    4.946372
245393    4.946372

Showing all generated association rules

In [10]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
250691,"(SAP Adaptive Server, IBM DB2, PostgreSQL, MS ...","(MySQL, H2, MariaDB, SQLite, Firebird)",0.012618,0.010726,0.010095,0.800000,74.588235,0.009959,4.946372
245377,"(PostgreSQL, MySQL, H2, MariaDB, SQLite, Fireb...","(SAP Adaptive Server, IBM DB2, MS SQL Server, ...",0.010726,0.012618,0.010095,0.941176,74.588235,0.009959,16.785489
155052,"(Firebird, MariaDB, SQLite, H2)","(SAP Adaptive Server, IBM DB2, MS SQL Server, ...",0.010726,0.012618,0.010095,0.941176,74.588235,0.009959,16.785489
240079,"(SAP Adaptive Server, IBM DB2, MS SQL Server, ...","(Firebird, MariaDB, SQLite, H2)",0.012618,0.010726,0.010095,0.800000,74.588235,0.009959,4.946372
245393,"(SAP Adaptive Server, IBM DB2, PostgreSQL, MS ...","(MySQL, H2, MariaDB, SQLite, Firebird)",0.012618,0.010726,0.010095,0.800000,74.588235,0.009959,4.946372
...,...,...,...,...,...,...,...,...,...
60,(Google Cloud Datastore),(MySQL),0.041640,0.252681,0.020505,0.492424,1.948795,0.009983,1.472329
302,(Ehcache),(SQLite),0.112618,0.069401,0.013880,0.123249,1.775910,0.006064,1.061418
303,(SQLite),(Ehcache),0.069401,0.112618,0.013880,0.200000,1.775910,0.006064,1.109227
37,(SQLite),(Redis),0.069401,0.097792,0.011672,0.168182,1.719795,0.004885,1.084622
36,(Redis),(SQLite),0.097792,0.069401,0.011672,0.119355,1.719795,0.004885,1.056725

Counting the size of each rule's itemsets

In [11]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [12]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [13]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
176,(Firebird),(SapHana),0.015773,0.013880,0.011672,0.740000,53.313636,0.011453,3.792769,1,1
177,(SapHana),(Firebird),0.013880,0.015773,0.011672,0.840909,53.313636,0.011453,6.186571,1,1
234,(Firebird),(Informix),0.015773,0.019243,0.014511,0.920000,47.809836,0.014208,12.259464,1,1
235,(Informix),(Firebird),0.019243,0.015773,0.014511,0.754098,47.809836,0.014208,4.002524,1,1
179,(SapHana),(Informix),0.013880,0.019243,0.011356,0.818182,42.518629,0.011089,5.394164,1,1
...,...,...,...,...,...,...,...,...,...,...,...
60,(Google Cloud Datastore),(MySQL),0.041640,0.252681,0.020505,0.492424,1.948795,0.009983,1.472329,1,1
302,(Ehcache),(SQLite),0.112618,0.069401,0.013880,0.123249,1.775910,0.006064,1.061418,1,1
303,(SQLite),(Ehcache),0.069401,0.112618,0.013880,0.200000,1.775910,0.006064,1.109227,1,1
37,(SQLite),(Redis),0.069401,0.097792,0.011672,0.168182,1.719795,0.004885,1.084622,1,1
36,(Redis),(SQLite),0.097792,0.069401,0.011672,0.119355,1.719795,0.004885,1.056725,1,1

Generating the dataframe with the filtered rules.

In [14]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'historical_rules2.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)