In [1]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

Generates association rules for the results found in the projects history fifth slice.

In [2]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
df.head()

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [3]:
df2 = df.copy()
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3166,maxwell,7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3167,maxwell,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3168,maxwell,9,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3169,maxwell,10,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping the lines to identify which projects that don't have DB clues

In [4]:
df2 = df2.groupby("PROJECTS").sum()
df2

,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,6,2,0,4,0,0,0,0,...,0,0,0,7,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,2,0,0,0,1,...,0,0,0,3,0,0,0,0,0,0
zeppelin,55,0,8,0,0,1,0,0,0,8,...,0,0,0,9,0,0,0,7,0,0
zipkin,55,0,9,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zookeeper,55,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Reseting the index column

In [5]:
df2 = df2.reset_index()
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,6,2,0,4,0,0,0,...,0,0,0,7,0,0,0,0,0,0
1,AmazeFileManager,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,zeebe,55,0,0,0,0,2,0,0,0,...,0,0,0,3,0,0,0,0,0,0
311,zeppelin,55,0,8,0,0,1,0,0,0,...,0,0,0,9,0,0,0,7,0,0
312,zipkin,55,0,9,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
313,zookeeper,55,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
314,zotfile,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

New dataframe filtering only lines that fifth version projects

In [11]:
#df10 = df2.mask(df2 > 1, 1)
#df10 = df[(df['COMMITS'] == 5)]
#df10

# Supondo que 'df' contém as colunas 'PROJECT' e 'COMMITS'

# Função para selecionar o commit da metade
def select_half_commit(group):
    middle_index = len(group) // 2  # Calcula o índice do meio
    return group.iloc[middle_index-1]  # Seleciona o commit do meio

# Ordena os commits dentro de cada projeto (caso não estejam ordenados)
df_sorted = df.sort_values(by=['PROJECTS', 'COMMITS'])

# Aplica a função para pegar o commit da metade em cada grupo de projeto
df10 = df_sorted.groupby('PROJECTS').apply(select_half_commit).reset_index(drop=True)

df10

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,AmazeFileManager,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,zeebe,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
311,zeppelin,5,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
312,zipkin,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,zookeeper,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
314,zotfile,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues the principal dataframe

In [13]:
#df2 = df2.iloc[ : , 1:]
#df3[(df3 == 0).all(axis=1)].index
df2 = df2.drop(df2[(df2.iloc[ : , 2:] == 0).all(axis=1)].index)
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,6,2,0,4,0,0,0,...,0,0,0,7,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Arduino,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,AsciidocFX,55,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,zaproxy,55,0,7,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310,zeebe,55,0,0,0,0,2,0,0,0,...,0,0,0,3,0,0,0,0,0,0
311,zeppelin,55,0,8,0,0,1,0,0,0,...,0,0,0,9,0,0,0,7,0,0
312,zipkin,55,0,9,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
313,zookeeper,55,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues in the fifth version

In [8]:
df3 = df[(df['COMMITS'] == 5)] #mudar aqui tmb

#df3.drop(["PROJECTS", "COMMITS"], axis=1, inplace=True)
df3 = df3.drop(df3[(df3.iloc[:,2:] == 0).all(axis=1)].index) # deletando as linhas que possuem valor 0 em todas as colunas
df3

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,airbyte,5,1,1,0,0,1,0,0,0,...,1,0,1,1,0,0,0,0,0,0
24,airsonic,5,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34,spring-cloud-alibaba,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,nacos,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3074,apps-android-wikipedia,5,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3084,wildfly,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3124,yacy_search_server,5,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3154,zaproxy,5,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3164,maxwell,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Merging dataframe grouping and dataframe only fifth version with DB clues

In [9]:
#df3.merge(df4, on=['PROJECTS'], how='outer', suffixes=['', '_'], indicator=True)
df_mer= pd.merge(df2, df3, on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica_,Teradata_,PostgreSQL_ CockroachDB_,PostGIS_,Etcd_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
0,Activiti,55,0,6,2,0,4,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Anki-Android,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Arduino,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AsciidocFX,55,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,zaproxy,55,0,7,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
191,zeebe,55,0,0,0,0,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
192,zeppelin,55,0,8,0,0,1,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,both
193,zipkin,55,0,9,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
194,zookeeper,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Filtering diference in the fifth version

In [10]:
df5 = df_mer[(df_mer['_merge'].str.startswith('left'))]
df5

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica_,Teradata_,PostgreSQL_ CockroachDB_,PostGIS_,Etcd_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Anki-Android,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Arduino,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AsciidocFX,55,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,HMCL,55,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,JSqlParser,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,NetGuard,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,OpenTripPlanner,55,0,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Shuttle,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,SpongeForge,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,alluxio,55,0,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,ambry,55,2,4,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,android-oss,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,avro,55,0,0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
49,checkstyle,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,cqengine,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
59,docker-maven-plugin,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
62,dynmap,55,0,5,0,0,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
66,error-prone,55,0,4,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
68,flexmark-java,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
79,gravitee-gateway,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
81,grobid,55,0,3,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
85,hawtio,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
86,helios,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
95,jackson-databind,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
101,jitsi,55,0,0,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
103,jmonkeyengine,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
112,lucida,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
126,nutch,55,0,2,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
127,okhttp,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
130,opengrok,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
131,openj9,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
139,pitest,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
140,pmd,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
142,processing,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
148,ripme,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
150,rstudio,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
164,spring-cloud-config,55,0,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
165,spring-cloud-gateway,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
166,spring-cloud-netflix,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
171,swagger-core,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
177,thymeleaf,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
184,vert.x,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
186,visualvm,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
191,zeebe,55,0,0,0,0,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
194,zookeeper,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Merging dataframe only lines that fifth version projects and dataframe only lines in the fifth version and not DB clues

In [11]:
df_mer2= pd.merge(df10, df5.iloc[:,:1], on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
1,airbyte,5,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,left_only
2,airsonic,5,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
3,spring-cloud-alibaba,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
4,nacos,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,yacy_search_server,5,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
313,YalpStore,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
314,SmartTubeNext,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
315,zaproxy,5,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
316,maxwell,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only

Filtering only lines in the fifth version and not DB clues

In [12]:
df6 = df_mer2[(df_mer2['_merge'].str.startswith('bo'))]
df6

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
5,alluxio,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
8,Anki-Android,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
18,zookeeper,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
28,nutch,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
36,avro,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
45,Arduino,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
46,AsciidocFX,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
63,zeebe,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
65,Android-IMSI-Catcher-Detector,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
67,checkstyle,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
70,lucida,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
94,openj9,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
95,vert.x,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
102,docker-maven-plugin,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
104,jackson-databind,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
127,error-prone,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
133,gravitee-gateway,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
138,hawtio,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
139,pitest,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
142,HMCL,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
165,jitsi,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
167,jmonkeyengine,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
170,JSqlParser,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
177,grobid,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
179,android-oss,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
189,ambry,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
192,NetGuard,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
213,cqengine,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
220,OpenTripPlanner,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
223,opengrok,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
224,visualvm,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
234,pmd,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
238,processing,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
252,ripme,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
253,rstudio,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
267,SpongeForge,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
269,helios,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
270,spring-cloud-netflix,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
271,spring-cloud-gateway,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
272,spring-cloud-config,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
274,okhttp,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
280,swagger-core,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
288,thymeleaf,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
289,Shuttle,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
305,dynmap,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

Concatening dataframes

In [13]:
df_concat2 =  pd.concat([df3, df6]).drop_duplicates()
df_concat2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
14,airbyte,5,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,NaN
24,airsonic,5,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
34,spring-cloud-alibaba,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
44,nacos,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,swagger-core,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
288,thymeleaf,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
289,Shuttle,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
305,dynmap,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

In [14]:
#df2 = df2.astype(np.uint8)

In [15]:
df_concat2.drop(["PROJECTS","COMMITS","_merge"], axis=1, inplace=True)
df_concat2

,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,Aerospike,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
4,0,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,1,1,0,0,1,0,0,0,1,0,...,1,0,1,1,0,0,0,0,0,0
24,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

ASSOCIATION RULES

In [16]:
frq_items = apriori(df_concat2, min_support = 0.021, use_colnames = True)

In [17]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

In [18]:
# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

                                              antecedents  \
621782          (HyperSQL, Informix, SAP Adaptive Server)
507791  (HyperSQL, MS SQL Server_Microsoft Azure SQL D...
324634                                     (H2, Firebird)
507785  (Informix, SAP SQL Anywhere, SQLite, SAP Adapt...
507787  (HyperSQL, Informix, SAP SQL Anywhere, SAP Ada...

                                              consequents  antecedent support  \
621782  (H2, PostgreSQL_ CockroachDB, MySQL_Maria DB, ...            0.025641
507791   (H2, SAP SQL Anywhere, SQLite, Informix, Oracle)            0.025641
324634  (MySQL_Maria DB, SAP Adaptive Server, SAP SQL ...            0.025641
507785  (H2, MS SQL Server_Microsoft Azure SQL Databas...            0.025641
507787  (H2, MS SQL Server_Microsoft Azure SQL Databas...            0.025641

        consequent support   support  confidence  lift  leverage  conviction
621782            0.025641  0.025641         1.0  39.0  0.024984         inf
507791            0.025641  0.025641         1.0  39.0  0.024984         inf
324634            0.025641  0.025641         1.0  39.0  0.024984         inf
507785            0.025641  0.025641         1.0  39.0  0.024984         inf
507787            0.025641  0.025641         1.0  39.0  0.024984         inf

In [19]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
621782,"(HyperSQL, Informix, SAP Adaptive Server)","(H2, PostgreSQL_ CockroachDB, MySQL_Maria DB, ...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
507791,"(HyperSQL, MS SQL Server_Microsoft Azure SQL D...","(H2, SAP SQL Anywhere, SQLite, Informix, Oracle)",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
324634,"(H2, Firebird)","(MySQL_Maria DB, SAP Adaptive Server, SAP SQL ...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
507785,"(Informix, SAP SQL Anywhere, SQLite, SAP Adapt...","(H2, MS SQL Server_Microsoft Azure SQL Databas...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
507787,"(HyperSQL, Informix, SAP SQL Anywhere, SAP Ada...","(H2, MS SQL Server_Microsoft Azure SQL Databas...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
...,...,...,...,...,...,...,...,...,...
114,(IBM DB2),(Redis),0.107692,0.194872,0.025641,0.238095,1.221805,0.004655,1.056731
6,(Google Cloud Datastore),(MySQL_Maria DB),0.076923,0.451282,0.041026,0.533333,1.181818,0.006312,1.175824
7,(MySQL_Maria DB),(Google Cloud Datastore),0.451282,0.076923,0.041026,0.090909,1.181818,0.006312,1.015385
124,(Google Cloud Datastore),(H2),0.076923,0.287179,0.025641,0.333333,1.160714,0.003550,1.069231
125,(H2),(Google Cloud Datastore),0.287179,0.076923,0.025641,0.089286,1.160714,0.003550,1.013575

In [20]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [21]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [22]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
196,(Informix),(Firebird),0.035897,0.025641,0.025641,0.714286,27.857143,0.024721,3.410256,1,1
197,(Firebird),(Informix),0.025641,0.035897,0.025641,1.000000,27.857143,0.024721,inf,1,1
204,(Firebird),(SAP Adaptive Server),0.025641,0.061538,0.025641,1.000000,16.250000,0.024063,inf,1,1
205,(SAP Adaptive Server),(Firebird),0.061538,0.025641,0.025641,0.416667,16.250000,0.024063,1.670330,1,1
243,(SAP Adaptive Server),(SAP SQL Anywhere),0.061538,0.066667,0.061538,1.000000,15.000000,0.057436,inf,1,1
...,...,...,...,...,...,...,...,...,...,...,...
114,(IBM DB2),(Redis),0.107692,0.194872,0.025641,0.238095,1.221805,0.004655,1.056731,1,1
6,(Google Cloud Datastore),(MySQL_Maria DB),0.076923,0.451282,0.041026,0.533333,1.181818,0.006312,1.175824,1,1
7,(MySQL_Maria DB),(Google Cloud Datastore),0.451282,0.076923,0.041026,0.090909,1.181818,0.006312,1.015385,1,1
124,(Google Cloud Datastore),(H2),0.076923,0.287179,0.025641,0.333333,1.160714,0.003550,1.069231,1,1
125,(H2),(Google Cloud Datastore),0.287179,0.076923,0.025641,0.089286,1.160714,0.003550,1.013575,1,1

In [23]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'historical_rulesv5.xlsx' #'seq_patterns/testes/historical_rules_commit5_197reg_021.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)