In [1]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

 Generates association rules for the results found in the projects history last slice.

In [2]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
df.head()

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [3]:
df2 = df.copy()
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3166,maxwell,7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3167,maxwell,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3168,maxwell,9,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3169,maxwell,10,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping the lines to identify which projects that don't have DB clues

In [4]:
df2 = df2.groupby("PROJECTS").sum()
df2

,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,6,2,0,4,0,0,0,0,...,0,0,0,7,0,0,0,0,0,0
AmazeFileManager,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anki-Android,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zeebe,55,0,0,0,0,2,0,0,0,1,...,0,0,0,3,0,0,0,0,0,0
zeppelin,55,0,8,0,0,1,0,0,0,8,...,0,0,0,9,0,0,0,7,0,0
zipkin,55,0,9,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
zookeeper,55,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Reseting the index column

In [5]:
df2 = df2.reset_index()
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,6,2,0,4,0,0,0,...,0,0,0,7,0,0,0,0,0,0
1,AmazeFileManager,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,zeebe,55,0,0,0,0,2,0,0,0,...,0,0,0,3,0,0,0,0,0,0
311,zeppelin,55,0,8,0,0,1,0,0,0,...,0,0,0,9,0,0,0,7,0,0
312,zipkin,55,0,9,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
313,zookeeper,55,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
314,zotfile,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

New dataframe filtering only lines that last version projects

In [6]:
#df10 = df2.mask(df2 > 1, 1)
#df10 = df[(df['COMMITS'] == 10)]
#df10

# FunÃ§Ã£o para selecionar o Ãºltimo commit
def select_last_commit(group):
    return group.iloc[-1]  # Seleciona o Ãºltimo commit

# Ordena os commits dentro de cada projeto (caso nÃ£o estejam ordenados)
df_sorted = df.sort_values(by=['PROJECTS', 'COMMITS'])

# Aplica a funÃ§Ã£o para pegar o Ãºltimo commit em cada grupo de projeto
df10 = df_sorted.groupby('PROJECTS').apply(select_last_commit).reset_index(drop=True)

df10

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,AmazeFileManager,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AntennaPod,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,zeebe,10,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
311,zeppelin,10,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
312,zipkin,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,zookeeper,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
314,zotfile,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues the principal dataframe

In [7]:
#df2 = df2.iloc[ : , 1:]
#df3[(df3 == 0).all(axis=1)].index
df2 = df2.drop(df2[(df2.iloc[ : , 2:] == 0).all(axis=1)].index)
df2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,6,2,0,4,0,0,0,...,0,0,0,7,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Arduino,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,AsciidocFX,55,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,zaproxy,55,0,7,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310,zeebe,55,0,0,0,0,2,0,0,0,...,0,0,0,3,0,0,0,0,0,0
311,zeppelin,55,0,8,0,0,1,0,0,0,...,0,0,0,9,0,0,0,7,0,0
312,zipkin,55,0,9,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
313,zookeeper,55,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Removing projects that don't have DB clues in the last version

In [8]:
def select_last_commit(group):
    return group.iloc[-1]  # Seleciona o Ãºltimo commit

# Ordena os commits dentro de cada projeto (caso nÃ£o estejam ordenados)
df_sorted = df.sort_values(by=['PROJECTS', 'COMMITS'])

# Aplica a funÃ§Ã£o para pegar o Ãºltimo commit em cada grupo de projeto
df3 = df_sorted.groupby('PROJECTS').apply(select_last_commit).reset_index(drop=True)

df3 = df3.drop(df3[(df3.iloc[:,2:] == 0).all(axis=1)].index) # deletando as linhas que possuem valor 0 em todas as colunas
df3

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Anki-Android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Arduino,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,BIMserver,10,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,yacy_search_server,10,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
309,zaproxy,10,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310,zeebe,10,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
311,zeppelin,10,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
312,zipkin,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Merging dataframe grouping and dataframe only last version with DB clues

In [9]:
#df3.merge(df4, on=['PROJECTS'], how='outer', suffixes=['', '_'], indicator=True)
df_mer= pd.merge(df2, df3, on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica_,Teradata_,PostgreSQL_ CockroachDB_,PostGIS_,Etcd_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
0,Activiti,55,0,6,2,0,4,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
2,Anki-Android,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
3,Arduino,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
4,AsciidocFX,55,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,zaproxy,55,0,7,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
191,zeebe,55,0,0,0,0,2,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
192,zeppelin,55,0,8,0,0,1,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
193,zipkin,55,0,9,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
194,zookeeper,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Filtering diference in the last version

In [10]:
df5 = df_mer[(df_mer['_merge'].str.startswith('left'))]
df5

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica_,Teradata_,PostgreSQL_ CockroachDB_,PostGIS_,Etcd_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
4,AsciidocFX,55,0,1,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,BungeeCord,55,0,9,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,MPS,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,NetGuard,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,OpenTripPlanner,55,0,2,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,OsmAnd,55,0,5,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,SpongeForge,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,android,165,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,avro,55,0,0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
43,bisq,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
45,buck,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
48,che,55,0,9,9,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55,cyclops,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
58,dl4j-examples,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
65,embulk,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
66,error-prone,55,0,4,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
68,flexmark-java,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
81,grobid,55,0,3,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
86,helios,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
98,jenkins,55,0,0,8,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
103,jmonkeyengine,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
104,kaa,55,0,6,6,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
126,nutch,55,0,2,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
130,opengrok,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
132,openvidu,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
139,pitest,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
140,pmd,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
149,rocketmq,55,0,5,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
151,runelite,55,0,9,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
166,spring-cloud-netflix,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
171,swagger-core,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
173,synthea,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
184,vert.x,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
194,zookeeper,55,0,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Merging dataframe only lines that last version projects and dataframe only lines in the last version and not DB clues

In [11]:
df_mer2= pd.merge(df10, df5.iloc[:,:1], on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
1,AmazeFileManager,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
2,Android-IMSI-Catcher-Detector,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
3,Anki-Android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
4,AntennaPod,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,zeebe,10,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
311,zeppelin,10,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
312,zipkin,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
313,zookeeper,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
314,zotfile,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only

Filtering only lines in the last version and not DB clues

In [12]:
df6 = df_mer2[(df_mer2['_merge'].str.startswith('bo'))]
df6

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
8,AsciidocFX,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
12,BungeeCord,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
31,MPS,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
33,NetGuard,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
37,OpenTripPlanner,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
39,OsmAnd,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
51,SpongeForge,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
69,android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
76,avro,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
84,bisq,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
89,buck,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
92,che,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
103,cyclops,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
106,dl4j-examples,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
116,embulk,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
118,error-prone,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
121,flexmark-java,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
141,grobid,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
146,helios,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
168,jenkins,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
174,jmonkeyengine,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
180,kaa,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
218,nutch,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
224,opengrok,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
226,openvidu,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
238,pitest,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
239,pmd,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
255,rocketmq,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
257,runelite,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
279,spring-cloud-netflix,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
286,swagger-core,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
289,synthea,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
301,vert.x,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
313,zookeeper,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

Concatening dataframes

In [13]:
df_concat2 =  pd.concat([df3, df6]).drop_duplicates()
df_concat2

,PROJECTS,COMMITS,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,...,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
2,Android-IMSI-Catcher-Detector,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,Anki-Android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
7,Arduino,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9,BIMserver,10,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,spring-cloud-netflix,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
286,swagger-core,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
289,synthea,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
301,vert.x,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
313,zookeeper,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

In [14]:
#df3 = df3.iloc[ : , 2:] #desconiderandcoluna commits 
#df3[(df3 == 0).all(axis=1) # filtra as linhas que possuem valor igual a 0 em todas as colunas

In [15]:
#df2 = df2.astype(np.uint8)

In [16]:
df_concat2.drop(["PROJECTS","COMMITS","_merge"], axis=1, inplace=True)
df_concat2

,Microsoft Azure Table Storage,MySQL_Maria DB,HyperSQL,MarkLogic,MS SQL Server_Microsoft Azure SQL Database,FileMaker,Singlestore,Riak KV,Redis,Aerospike,...,ClickHouse,Vertica,Teradata,PostgreSQL_ CockroachDB,PostGIS,Etcd,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

ASSOCIATION RULES

In [17]:
frq_items = apriori(df_concat2, min_support = 0.021, use_colnames = True)

In [18]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

In [19]:
# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

                                              antecedents  \
256863  (Firebird, HyperSQL, MySQL_Maria DB, SAP SQL A...
318284  (Informix, PostgreSQL_ CockroachDB, HyperSQL, ...
318273  (PostgreSQL_ CockroachDB, SQLite, HyperSQL, SA...
318274  (Informix, PostgreSQL_ CockroachDB, SQLite, Hy...
318277  (Informix, PostgreSQL_ CockroachDB, SQLite, SA...

                                              consequents  antecedent support  \
256863  (Informix, IBM DB2, PostgreSQL_ CockroachDB, S...            0.025641
318284    (Firebird, SQLite, SAP Adaptive Server, Oracle)            0.025641
318273     (Informix, Firebird, SAP SQL Anywhere, Oracle)            0.025641
318274  (Firebird, SAP Adaptive Server, SAP SQL Anywhe...            0.025641
318277     (Firebird, HyperSQL, SAP SQL Anywhere, Oracle)            0.025641

        consequent support   support  confidence  lift  leverage  conviction
256863            0.025641  0.025641         1.0  39.0  0.024984         inf
318284            0.025641  0.025641         1.0  39.0  0.024984         inf
318273            0.025641  0.025641         1.0  39.0  0.024984         inf
318274            0.025641  0.025641         1.0  39.0  0.024984         inf
318277            0.025641  0.025641         1.0  39.0  0.024984         inf

In [20]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
256863,"(Firebird, HyperSQL, MySQL_Maria DB, SAP SQL A...","(Informix, IBM DB2, PostgreSQL_ CockroachDB, S...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
318284,"(Informix, PostgreSQL_ CockroachDB, HyperSQL, ...","(Firebird, SQLite, SAP Adaptive Server, Oracle)",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
318273,"(PostgreSQL_ CockroachDB, SQLite, HyperSQL, SA...","(Informix, Firebird, SAP SQL Anywhere, Oracle)",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
318274,"(Informix, PostgreSQL_ CockroachDB, SQLite, Hy...","(Firebird, SAP Adaptive Server, SAP SQL Anywhe...",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
318277,"(Informix, PostgreSQL_ CockroachDB, SQLite, SA...","(Firebird, HyperSQL, SAP SQL Anywhere, Oracle)",0.025641,0.025641,0.025641,1.000000,39.000000,0.024984,inf
...,...,...,...,...,...,...,...,...,...
590,(SQLite),"(Redis, MySQL_Maria DB)",0.133333,0.210256,0.030769,0.230769,1.097561,0.002735,1.026667
588,"(SQLite, MySQL_Maria DB)",(Redis),0.097436,0.302564,0.030769,0.315789,1.043711,0.001289,1.019329
589,(Redis),"(SQLite, MySQL_Maria DB)",0.302564,0.097436,0.030769,0.101695,1.043711,0.001289,1.004741
5443,"(PostgreSQL_ CockroachDB, SQLite, MySQL_Maria DB)",(Redis),0.082051,0.302564,0.025641,0.312500,1.032839,0.000815,1.014452
5450,(Redis),"(PostgreSQL_ CockroachDB, SQLite, MySQL_Maria DB)",0.302564,0.082051,0.025641,0.084746,1.032839,0.000815,1.002944

In [21]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [22]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [23]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
253,(Firebird),(Informix),0.030769,0.035897,0.025641,0.833333,23.214286,0.024536,5.784615,1,1
252,(Informix),(Firebird),0.035897,0.030769,0.025641,0.714286,23.214286,0.024536,3.392308,1,1
316,(SAP Adaptive Server),(SAP SQL Anywhere),0.051282,0.056410,0.051282,1.000000,17.727273,0.048389,inf,1,1
317,(SAP SQL Anywhere),(SAP Adaptive Server),0.056410,0.051282,0.051282,0.909091,17.727273,0.048389,10.435897,1,1
271,(SAP Adaptive Server),(Informix),0.051282,0.035897,0.030769,0.600000,16.714286,0.028928,2.410256,1,1
...,...,...,...,...,...,...,...,...,...,...,...
186,(Cassandra),(H2),0.056410,0.338462,0.025641,0.454545,1.342975,0.006548,1.212821,1,1
293,(MongoDB),(SQLite),0.143590,0.133333,0.025641,0.178571,1.339286,0.006496,1.055072,1,1
292,(SQLite),(MongoDB),0.133333,0.143590,0.025641,0.192308,1.339286,0.006496,1.060317,1,1
7,(MySQL_Maria DB),(Google Cloud Datastore),0.435897,0.087179,0.046154,0.105882,1.214533,0.008153,1.020918,1,1
6,(Google Cloud Datastore),(MySQL_Maria DB),0.087179,0.435897,0.046154,0.529412,1.214533,0.008153,1.198718,1,1

In [24]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'historical_rulesv10.xlsx'    #'seq_patterns/testes/historical_rules_commit10_197reg_021.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)