In [5]:
import pandas as pd
import numpy as np
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR 
#pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

 Generates association rules for the results found in the projects history last slice.

In [6]:
#df = pd.read_excel("historical_join.xlsx", keep_default_na=False)
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)

len(df)
df.head()

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [116]:
df2 = df.copy()
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Activiti,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Activiti,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Activiti,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Activiti,5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,maxwell,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3166,maxwell,7,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3167,maxwell,8,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3168,maxwell,9,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Grouping the lines to identify which projects that don't have DB clues

In [111]:
df2 = df2.groupby("PROJECTS").sum()
df2

,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
PROJECTS,,,,,,,,,,,,,,,,,,,,,
Activiti,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arduino,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AsciidocFX,55,0,0,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
BIMserver,55,0,0,0,0,0,4,0,0,0,...,0,0,0,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zaproxy,55,0,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
zeebe,55,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zeppelin,55,0,0,0,0,9,8,0,10,7,...,0,0,0,8,0,8,0,0,0,0
zipkin,55,0,0,0,0,0,0,0,0,7,...,0,0,0,9,0,0,0,0,0,0
zookeeper,55,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

Reseting the index column

In [112]:
df2 = df2.reset_index()
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arduino,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AsciidocFX,55,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,BIMserver,55,0,0,0,0,0,4,0,0,...,0,0,0,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,zaproxy,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
193,zeebe,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194,zeppelin,55,0,0,0,0,9,8,0,10,...,0,0,0,8,0,8,0,0,0,0
195,zipkin,55,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
196,zookeeper,55,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

New dataframe filtering only lines that last version projects

In [119]:
#df10 = df2.mask(df2 > 1, 1)
df10 = df2[(df2['COMMITS'] == 10)]
df10

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
9,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,airbyte,10,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
29,airsonic,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39,spring-cloud-alibaba,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49,nacos,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129,yacy_search_server,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3139,YalpStore,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3149,SmartTubeNext,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3159,zaproxy,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Removing projects that don't have DB clues the principal dataframe

In [103]:
#df2 = df2.iloc[ : , 1:]
#df3[(df3 == 0).all(axis=1)].index
df2 = df2.drop(df2[(df2.iloc[ : , 2:] == 0).all(axis=1)].index)
df2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
2,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Arduino,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,AsciidocFX,55,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
9,BIMserver,55,0,0,0,0,0,4,0,0,...,0,0,0,10,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,zaproxy,55,0,0,0,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,0
312,zeebe,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313,zeppelin,55,0,0,0,0,9,8,0,10,...,0,0,0,8,0,8,0,0,0,0
314,zipkin,55,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
315,zookeeper,55,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

Removing projects that don't have DB clues in the last version

In [73]:
df3 = df2[(df2['COMMITS'] == 10)]
#df3.drop(["PROJECTS", "COMMITS"], axis=1, inplace=True)
df3 = df3.drop(df3[(df3.iloc[:,2:] == 0).all(axis=1)].index) # deletando as linhas que possuem valor 0 em todas as colunas
df3

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
9,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,airbyte,10,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
29,airsonic,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39,spring-cloud-alibaba,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49,nacos,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,apps-android-wikipedia,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3089,wildfly,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3129,yacy_search_server,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3159,zaproxy,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3169,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Merging dataframe grouping and dataframe only last version with DB clues

In [104]:
#df3.merge(df4, on=['PROJECTS'], how='outer', suffixes=['', '_'], indicator=True)
df_mer= pd.merge(df2, df3, on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS_,Etcd_,MySQL_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_MarkLogic-Sql_,Join_MarkLogic-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
0,Activiti,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,Android-IMSI-Catcher-Detector,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
2,Arduino,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
3,AsciidocFX,55,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
4,BIMserver,55,0,0,0,0,0,4,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,zaproxy,55,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
193,zeebe,55,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
194,zeppelin,55,0,0,0,0,9,8,0,10,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,both
195,zipkin,55,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,both
196,zookeeper,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Filtering diference in the last version

In [120]:
df5 = df_mer[(df_mer['_merge'].str.startswith('left'))]
df5

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS_,Etcd_,MySQL_,Join_Ignite-Sql_,Join_Ignite-NoSql_,Join_MarkLogic-Sql_,Join_MarkLogic-NoSql_,Join_Virtuoso-Sql_,Join_Virtuoso-NoSql_,_merge
11,MPS,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,NetGuard,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,OpenTripPlanner,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,OsmAnd,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,SpongeForge,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,amidst,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,android,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
48,che,55,0,0,0,0,0,9,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55,cyclops,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
58,dl4j-examples,55,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
59,docker-maven-plugin,55,0,0,0,0,0,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
66,embulk,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
69,flexmark-java,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
82,grobid,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
86,helios,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
99,jenkins,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
103,jmonkeyengine,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
105,kaa,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
116,marytts,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
140,pitest,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
141,pmd,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
168,spring-cloud-netflix,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
173,susi_server,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
174,swagger-core,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
175,syncany,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
176,synthea,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
186,vert.x,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
196,zookeeper,55,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Merging dataframe only lines that last version projects and dataframe only lines in the last version and not DB clues

In [124]:
df_mer2= pd.merge(df10, df5.iloc[:,:1], on= 'PROJECTS', how='outer', suffixes=['', '_'], indicator=True)
df_mer2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
0,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
1,airbyte,10,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,left_only
2,airsonic,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
3,spring-cloud-alibaba,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
4,nacos,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,yacy_search_server,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
313,YalpStore,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
314,SmartTubeNext,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,left_only
315,zaproxy,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only
316,maxwell,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,left_only

Filtering only lines in the last version and not DB clues

In [131]:
df6 = df_mer2[(df_mer2['_merge'].str.startswith('bo'))]
df6

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
11,cyclops,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
18,zookeeper,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
80,android,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
85,dl4j-examples,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
90,che,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
93,vert.x,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
96,embulk,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
100,docker-maven-plugin,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
110,susi_server,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
137,pitest,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
153,jenkins,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
160,MPS,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
165,jmonkeyengine,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
172,kaa,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
175,grobid,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
190,NetGuard,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
193,marytts,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
219,OpenTripPlanner,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
227,OsmAnd,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
234,pmd,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
267,SpongeForge,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
269,helios,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
270,spring-cloud-netflix,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
280,swagger-core,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
281,syncany,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
283,synthea,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
291,amidst,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

Concatening dataframes

In [138]:
df_concat2 =  pd.concat([df3, df6]).drop_duplicates()
df_concat2

,PROJECTS,COMMITS,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,...,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql,_merge
9,Activiti,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
19,airbyte,10,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,NaN
29,airsonic,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
39,spring-cloud-alibaba,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
49,nacos,10,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,swagger-core,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
281,syncany,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
283,synthea,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
291,amidst,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both
303,flexmark-java,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,both

In [ ]:
#df3 = df3.iloc[ : , 2:] #desconiderandcoluna commits 
#df3[(df3 == 0).all(axis=1) # filtra as linhas que possuem valor igual a 0 em todas as colunas

In [9]:
df2 = df2.astype(np.uint8)

In [139]:
df_concat2.drop(["PROJECTS","COMMITS","_merge"], axis=1, inplace=True)
df_concat2

,Memcached,Microsoft Azure Table Storage,FileMaker,Riak KV,Hive,Redis,Aerospike,Google Cloud Datastore,MariaDB,Neo4j,...,Teradata,PostGIS,Etcd,MySQL,Join_Ignite-Sql,Join_Ignite-NoSql,Join_MarkLogic-Sql,Join_MarkLogic-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

ASSOCIATION RULES

In [140]:
frq_items = apriori(df_concat2, min_support = 0.021, use_colnames = True)

In [141]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)

In [142]:
# Sorting the rules by the lift measure 
rules = rules.sort_values('lift', ascending =False)
print(rules.head())

                                              antecedents  \
129183            (Amazon Redshift, MS SQL Server, MySQL)
160614         (Snowflake, MariaDB, MS SQL Server, MySQL)
38595             (Amazon Redshift, MS SQL Server, MySQL)
64912                                (MariaDB, Snowflake)
113765  (IBM DB2, MS SQL Server, Amazon Redshift, Post...

                                           consequents  antecedent support  \
129183        (IBM DB2, Oracle, PostgreSQL, Snowflake)            0.025381
160614  (IBM DB2, Oracle, Amazon Redshift, PostgreSQL)            0.025381
38595                              (Oracle, Snowflake)            0.025381
64912    (IBM DB2, Amazon Redshift, PostgreSQL, MySQL)            0.025381
113765                     (Snowflake, MariaDB, MySQL)            0.025381

        consequent support   support  confidence  lift  leverage  conviction
129183            0.025381  0.025381         1.0  39.4  0.024737         inf
160614            0.025381  0.025381         1.0  39.4  0.024737         inf
38595             0.025381  0.025381         1.0  39.4  0.024737         inf
64912             0.025381  0.025381         1.0  39.4  0.024737         inf
113765            0.025381  0.025381         1.0  39.4  0.024737         inf

In [143]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
129183,"(Amazon Redshift, MS SQL Server, MySQL)","(IBM DB2, Oracle, PostgreSQL, Snowflake)",0.025381,0.025381,0.025381,1.000000,39.400000,0.024737,inf
160614,"(Snowflake, MariaDB, MS SQL Server, MySQL)","(IBM DB2, Oracle, Amazon Redshift, PostgreSQL)",0.025381,0.025381,0.025381,1.000000,39.400000,0.024737,inf
38595,"(Amazon Redshift, MS SQL Server, MySQL)","(Oracle, Snowflake)",0.025381,0.025381,0.025381,1.000000,39.400000,0.024737,inf
64912,"(MariaDB, Snowflake)","(IBM DB2, Amazon Redshift, PostgreSQL, MySQL)",0.025381,0.025381,0.025381,1.000000,39.400000,0.024737,inf
113765,"(IBM DB2, MS SQL Server, Amazon Redshift, Post...","(Snowflake, MariaDB, MySQL)",0.025381,0.025381,0.025381,1.000000,39.400000,0.024737,inf
...,...,...,...,...,...,...,...,...,...
852,"(SQLite, PostgreSQL)",(Redis),0.081218,0.263959,0.025381,0.312500,1.183894,0.003942,1.070605
4451,"(IBM DB2, H2, MySQL)",(Redis),0.086294,0.263959,0.025381,0.294118,1.114253,0.002602,1.042724
588,"(IBM DB2, H2)",(Redis),0.086294,0.263959,0.025381,0.294118,1.114253,0.002602,1.042724
593,(Redis),"(IBM DB2, H2)",0.263959,0.086294,0.025381,0.096154,1.114253,0.002602,1.010908
4462,(Redis),"(IBM DB2, H2, MySQL)",0.263959,0.086294,0.025381,0.096154,1.114253,0.002602,1.010908

In [144]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))
rules['consequente_len'] = rules['consequents'].apply(lambda x: len(x))

Filtering only the rules of size 2, that is, 1 antecedent and 1 consequent.

In [145]:
rules_filter = rules[(rules['antecedent_len'] == 1) & (rules['consequente_len'] == 1)]

Showing all filtered rules.

In [146]:
rules_filter

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequente_len
357,(Snowflake),(Amazon Redshift),0.030457,0.030457,0.025381,0.833333,27.361111,0.024453,5.817259,1,1
356,(Amazon Redshift),(Snowflake),0.030457,0.030457,0.025381,0.833333,27.361111,0.024453,5.817259,1,1
154,(Google BigQuery),(Snowflake),0.045685,0.030457,0.025381,0.555556,18.240741,0.023989,2.181472,1,1
155,(Snowflake),(Google BigQuery),0.030457,0.045685,0.025381,0.833333,18.240741,0.023989,5.725888,1,1
267,(Informix),(Firebird),0.045685,0.040609,0.030457,0.666667,16.416667,0.028602,2.878173,1,1
...,...,...,...,...,...,...,...,...,...,...,...
62,(Google Cloud Datastore),(MySQL),0.071066,0.441624,0.040609,0.571429,1.293924,0.009225,1.302876,1,1
314,(SQLite),(MongoDB),0.137056,0.152284,0.025381,0.185185,1.216049,0.004509,1.040378,1,1
315,(MongoDB),(SQLite),0.152284,0.137056,0.025381,0.166667,1.216049,0.004509,1.035533,1,1
133,(Cassandra),(H2),0.071066,0.299492,0.025381,0.357143,1.192494,0.004097,1.089679,1,1
132,(H2),(Cassandra),0.299492,0.071066,0.025381,0.084746,1.192494,0.004097,1.014946,1,1

In [147]:
HISTORICAL_RULES_FILE = RESOURCE_DIR + os.sep + 'historical_rulesv10.xlsx'    #'seq_patterns/testes/historical_rules_commit10_197reg_021.xlsx'
rules_filter = rules_filter.to_excel(HISTORICAL_RULES_FILE, index=False)