In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
from util import HISTORICAL_FILE_JOIN, RESOURCE_DIR

In [47]:
#from util import DATABASES_MODELS

In [48]:
df = pd.read_excel(HISTORICAL_FILE_JOIN, keep_default_na=False)
#reads projects from Excel file
len(df)
df.head()

,OWNER,PROJECTS,COMMITS,DATE COMMIT,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,...,Aerospike,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Join_Ignite-Sql,Join_Ignite-NoSql,Join_Virtuoso-Sql,Join_Virtuoso-NoSql
0,Activiti,Activiti,1,2010-07-08 12:23:23+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Activiti,Activiti,2,2010-07-29 07:38:01+00:00,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Activiti,Activiti,3,2010-08-26 14:46:26+00:00,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Activiti,Activiti,4,2010-09-10 13:23:04+00:00,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Activiti,Activiti,5,2010-09-21 20:47:55+00:00,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
df.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_DB','MS SQL Server':'MS_SQL_Server'}, inplace=True)
df.rename(columns={'Join_Ignite-Sql':'Ignite_Sql','Join_Ignite-NoSql':'Ignite_NoSql', 'Join_Virtuoso-Sql':'Virtuoso_Sql','Join_Virtuoso-NoSql':'Virtuoso_NoSql'}, inplace=True)
#df.rename(columns={'MySQL_Maria DB': 'MySQL'}, inplace=True)
#df.rename(columns={'PostgreSQL_ CockroachDB': 'PostgreSQL'}, inplace=True)
#df.rename(columns={'MS SQL Server_Microsoft Azure SQL Database': 'MS SQL Server'}, inplace=True)
print(df.columns)
len(df.columns)

Index(['MySQL', 'PostgreSQL', 'H2', 'Oracle', 'HyperSQL', 'Redis', 'MongoDB',
       'MS_SQL_Server', 'DynamoDB', 'Google Cloud Datastore', 'Cassandra',
       'HBase', 'IBM_DB2', 'Hazelcast', 'SQLite', 'SAP SQL Anywhere',
       'MarkLogic', 'SAP Adaptive Server', 'Neo4j', 'Informix', 'ClickHouse',
       'Firebird', 'Couchbase', 'Snowflake', 'Teradata', 'Influx DB',
       'MS_Access', 'SapHana', 'Ingres', 'GoogleCloudFilestore', 'PostGIS',
       'Firebase Realtime', 'ArangoDB', 'Microsoft Azure CosmosDB', 'Vertica',
       'Etcd', 'Kdb+', 'Singlestore', 'Aerospike', 'CouchDB', 'Impala',
       'Riak KV', 'Realm', 'Microsoft Azure Table Storage', 'Ignite_Sql',
       'Ignite_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

/var/folders/kc/q64njxfx5xj09h4nrxwncwbw0000gn/T/ipykernel_1264/3051033005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'MS Access': 'MS_Access', 'IBM DB2': 'IBM_DB2','Cosmos BD':'Cosmos_DB','MS SQL Server':'MS_SQL_Server'}, inplace=True)
/var/folders/kc/q64njxfx5xj09h4nrxwncwbw0000gn/T/ipykernel_1264/3051033005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Join_Ignite-Sql':'Ignite_Sql','Join_Ignite-NoSql':'Ignite_NoSql', 'Join_Virtuoso-Sql':'Virtuoso_Sql','Join_Virtuoso-NoSql':'Virtuoso_NoSql'}, inplace=True)

48

In [79]:
df.rename(columns={'PROJECTS' : 'DataBases'}, inplace=True)
print(df.columns)

Index(['MySQL', 'PostgreSQL', 'H2', 'Oracle', 'HyperSQL', 'Redis', 'MongoDB',
       'MS_SQL_Server', 'DynamoDB', 'Google Cloud Datastore', 'Cassandra',
       'HBase', 'IBM_DB2', 'Hazelcast', 'SQLite', 'SAP SQL Anywhere',
       'MarkLogic', 'SAP Adaptive Server', 'Neo4j', 'Informix', 'ClickHouse',
       'Firebird', 'Couchbase', 'Snowflake', 'Teradata', 'Influx DB',
       'MS_Access', 'SapHana', 'Ingres', 'GoogleCloudFilestore', 'PostGIS',
       'Firebase Realtime', 'ArangoDB', 'Microsoft Azure CosmosDB', 'Vertica',
       'Etcd', 'Kdb+', 'Singlestore', 'Aerospike', 'CouchDB', 'Impala',
       'Riak KV', 'Realm', 'Microsoft Azure Table Storage', 'Ignite_Sql',
       'Ignite_NoSql', 'Virtuoso_Sql', 'Virtuoso_NoSql'],
      dtype='object')

/var/folders/kc/q64njxfx5xj09h4nrxwncwbw0000gn/T/ipykernel_1264/737806920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'PROJECTS' : 'DataBases'}, inplace=True)

In [80]:
df

,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS_SQL_Server,DynamoDB,Google Cloud Datastore,...,Aerospike,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,81,81,112,75,31,0,0,49,0,0,...,0,0,0,0,0,0,0,0,0,0
AmazeFileManager,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
AndroidUtilCode,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zipkin,44,10,10,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zookeeper,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing-android-embedded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
df = df.groupby("DataBases").sum()
df

,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS_SQL_Server,DynamoDB,Google Cloud Datastore,...,Aerospike,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,81,81,112,75,31,0,0,49,0,0,...,0,0,0,0,0,0,0,0,0,0
AmazeFileManager,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
AndroidUtilCode,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zipkin,44,10,10,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zookeeper,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing-android-embedded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
#To show DBMS by projects
def num_missing(x):
   return sum(x >= 1)
df.apply(num_missing, axis=1).sort_values()
df

,MySQL,PostgreSQL,H2,Oracle,HyperSQL,Redis,MongoDB,MS_SQL_Server,DynamoDB,Google Cloud Datastore,...,Aerospike,CouchDB,Impala,Riak KV,Realm,Microsoft Azure Table Storage,Ignite_Sql,Ignite_NoSql,Virtuoso_Sql,Virtuoso_NoSql
DataBases,,,,,,,,,,,,,,,,,,,,,
Activiti,81,81,112,75,31,0,0,49,0,0,...,0,0,0,0,0,0,0,0,0,0
AmazeFileManager,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Android-IMSI-Catcher-Detector,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
AndroidUtilCode,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
AntennaPod,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zipkin,44,10,10,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zookeeper,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zotfile,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zxing-android-embedded,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
#df = df.groupby("DataBases").sum()
#df2 = df["COMMITS"].sum().sort_values(ascending=False)
#df2.iloc[: , 1:] => para ocultar a linha COMMITS
df= df.iloc[: ,1:]
df2 = df.T
df2

DataBases,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
PostgreSQL,81,0,0,0,0,0,0,0,2,97,...,322,0,136,0,56,10,0,0,0,0
H2,112,0,0,0,0,0,0,0,0,0,...,418,0,0,0,48,10,0,0,0,0
Oracle,75,0,0,0,0,0,0,0,0,93,...,322,0,0,55,0,0,0,0,0,0
HyperSQL,31,0,0,0,0,0,0,0,0,117,...,387,0,0,107,0,0,0,0,0,0
Redis,0,0,0,1,0,0,0,0,0,16,...,0,1,0,0,53,0,0,0,0,0
MongoDB,0,0,0,0,0,0,0,0,0,50,...,0,0,0,0,31,1,0,0,0,0
MS_SQL_Server,49,0,0,0,0,0,0,0,2,0,...,322,0,0,0,5,0,0,0,0,0
DynamoDB,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Google Cloud Datastore,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,66,0,0,0,0,0
Cassandra,0,0,0,0,0,0,0,0,0,10,...,0,0,0,0,51,41,0,0,0,0
HBase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,48,2,0,0,0,0
IBM_DB2,66,0,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
Hazelcast,14,0,0,0,0,0,0,0,0,0,...,0,0,2,0,17,0,0,0,0,0
SQLite,0,0,0,0,0,2,0,0,0,0,...,0,0,0,81,0,15,0,0,0,0
SAP SQL Anywhere,66,0,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
MarkLogic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAP Adaptive Server,66,0,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
Neo4j,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
Informix,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ClickHouse,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firebird,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Couchbase,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Snowflake,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Teradata,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Influx DB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
MS_Access,0,0,0,0,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0
SapHana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ingres,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PostGIS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firebase Realtime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ArangoDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vertica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Etcd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kdb+,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Singlestore,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aerospike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CouchDB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Impala,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Riak KV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Realm,0,0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ignite_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,47,0,0,0,0,0
Ignite_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,94,0,0,0,0,0
Virtuoso_Sql,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,0,0

In [55]:
#df2.DataBases

In [85]:
# To generate Historical by DBMS
HISTORICAL_FILE_JOIN_DB = RESOURCE_DIR + os.sep + 'historical_join_db.xlsx' #add in util.py
df2.to_excel(HISTORICAL_FILE_JOIN_DB, index=True) 
#df2 = df2.to_excel("historical_coluna.xlsx", index=False)

In [86]:
df3 = pd.read_excel(HISTORICAL_FILE_JOIN_DB, keep_default_na=False)
#df3 = pd.read_excel('historical_coluna.xlsx', keep_default_na=False)
#reads projects from Excel file
df3
#df3.head()

,Unnamed: 0,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
0,PostgreSQL,81,0,0,0,0,0,0,0,2,...,322,0,136,0,56,10,0,0,0,0
1,H2,112,0,0,0,0,0,0,0,0,...,418,0,0,0,48,10,0,0,0,0
2,Oracle,75,0,0,0,0,0,0,0,0,...,322,0,0,55,0,0,0,0,0,0
3,HyperSQL,31,0,0,0,0,0,0,0,0,...,387,0,0,107,0,0,0,0,0,0
4,Redis,0,0,0,1,0,0,0,0,0,...,0,1,0,0,53,0,0,0,0,0
5,MongoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,31,1,0,0,0,0
6,MS_SQL_Server,49,0,0,0,0,0,0,0,2,...,322,0,0,0,5,0,0,0,0,0
7,DynamoDB,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Google Cloud Datastore,0,0,0,0,0,0,0,0,1,...,0,0,0,0,66,0,0,0,0,0
9,Cassandra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,51,41,0,0,0,0
10,HBase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,48,2,0,0,0,0
11,IBM_DB2,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
12,Hazelcast,14,0,0,0,0,0,0,0,0,...,0,0,2,0,17,0,0,0,0,0
13,SQLite,0,0,0,0,0,2,0,0,0,...,0,0,0,81,0,15,0,0,0,0
14,SAP SQL Anywhere,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
15,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,SAP Adaptive Server,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
17,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
18,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
25,MS_Access,0,0,0,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0
26,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Realm,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,47,0,0,0,0,0
44,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,94,0,0,0,0,0
45,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,0,0

Renaming Unnamed collumn to Databases

In [87]:
df3.rename(columns={'Unnamed: 0': 'DataBases'}, inplace=True)
df3
#df3.to_excel(HISTORICAL_FILE_JOIN_DB, index=True)

,DataBases,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
0,PostgreSQL,81,0,0,0,0,0,0,0,2,...,322,0,136,0,56,10,0,0,0,0
1,H2,112,0,0,0,0,0,0,0,0,...,418,0,0,0,48,10,0,0,0,0
2,Oracle,75,0,0,0,0,0,0,0,0,...,322,0,0,55,0,0,0,0,0,0
3,HyperSQL,31,0,0,0,0,0,0,0,0,...,387,0,0,107,0,0,0,0,0,0
4,Redis,0,0,0,1,0,0,0,0,0,...,0,1,0,0,53,0,0,0,0,0
5,MongoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,31,1,0,0,0,0
6,MS_SQL_Server,49,0,0,0,0,0,0,0,2,...,322,0,0,0,5,0,0,0,0,0
7,DynamoDB,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Google Cloud Datastore,0,0,0,0,0,0,0,0,1,...,0,0,0,0,66,0,0,0,0,0
9,Cassandra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,51,41,0,0,0,0
10,HBase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,48,2,0,0,0,0
11,IBM_DB2,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
12,Hazelcast,14,0,0,0,0,0,0,0,0,...,0,0,2,0,17,0,0,0,0,0
13,SQLite,0,0,0,0,0,2,0,0,0,...,0,0,0,81,0,15,0,0,0,0
14,SAP SQL Anywhere,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
15,MarkLogic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,SAP Adaptive Server,66,0,0,0,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
17,Neo4j,0,0,0,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
18,Informix,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,ClickHouse,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Firebird,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Couchbase,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Snowflake,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Teradata,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Influx DB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
25,MS_Access,0,0,0,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0
26,SapHana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Ingres,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,GoogleCloudFilestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,PostGIS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Firebase Realtime,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,ArangoDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Microsoft Azure CosmosDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Vertica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Etcd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,Kdb+,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Singlestore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Aerospike,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,CouchDB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,Impala,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,Riak KV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Realm,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Microsoft Azure Table Storage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Ignite_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,47,0,0,0,0,0
44,Ignite_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,94,0,0,0,0,0
45,Virtuoso_Sql,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,Virtuoso_NoSql,0,0,0,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,0,0

In [88]:
DATABASES_MODELS = RESOURCE_DIR + os.sep + 'databases_models.xlsx'
df4 = pd.read_excel(DATABASES_MODELS, keep_default_na=False) #add in util.py
#df4.set_index('Model')
#reads projects from Excel file
df4

,DataBases,Primary Model,Second Model,Model
0,Aerospike,Key-value,Multi-model,NoSQL
1,ArangoDB,Multi-Model,,NoSQL
2,Cassandra,Wide column,,NoSQL
3,ClickHouse,Relational,Multi-model,SQL
4,Couchbase,Document,Multi-model,NoSQL
5,CouchDB,Document,Multi-model,NoSQL
6,DynamoDB,Multi-model,,NoSQL
7,Etcd,Key-value,,NoSQL
8,FileMaker,Relational,,SQL
9,Firebase Realtime,Document,,NoSQL
10,Firebird,Relational,,SQL
11,Google Cloud Datastore,Document,,NoSQL
12,GoogleCloudFilestore,Document,,NoSQL
13,H2,Relational,Multi-model,SQL
14,Hazelcast,Key-value,Multi-model,NoSQL
15,HBase,Wide column,,NoSQL
16,HyperSQL,Relational,,SQL
17,IBM_DB2,Relational,Multi-model,SQL
18,Ignite_NoSql,Multi-model,,NoSQL
19,Ignite_Sql,Multi-model,,SQL
20,Impala,Relational,Multi-model,SQL
21,Influx DB,Time Series,Multi-model,NoSQL
22,Informix,Relational,Multi-model,SQL
23,Ingres,Relational,,SQL
24,Interbase,Relational,,SQL
25,Kdb+,Time Series,,NoSQL
26,MySQL_Maria DB,Relational,Multi-model,SQL
27,MarkLogic,Multi-model,,NoSQL
28,Microsoft Azure CosmosDB,Multi-model,,NoSQL
29,Microsoft Azure Table Storage,Wide column,,NoSQL
30,MongoDB,Document,Multi-model,NoSQL
31,MS_Access,Relational,Relational,SQL
32,MS SQL Server_Microsoft Azure SQL Database,Relational,Multi-model,SQL
33,Neo4j,Graph,,NoSQL
34,Oracle,Relational,Multi-model,SQL
35,PostGIS,Spatial DBMS,Multi-model,NoSQL
36,PostgreSQL_ CockroachDB,Relational,Multi-model,SQL
37,Realm,Document,,NoSQL
38,Redis,Key-value,Multi-model,NoSQL
39,Riak KV,Key-value,,NoSQL
40,SAP Adaptive Server,Relational,Multi-model,SQL
41,SapHana,Relational,Multi-model,SQL
42,Singlestore,Relational,,SQL
43,SAP SQL Anywhere,Relational,,SQL
44,Snowflake,Relational,,SQL
45,SQLite,Relational,,SQL
46,Teradata,Relational,Multi-model,SQL
47,Vertica,Relational,Multi-model,SQL
48,Virtuoso_NoSql,Multi-model,,NoSQL
49,Virtuoso_Sql,Multi-model,,SQL

In [89]:
# Merging databases with data models
df_merge= pd.merge(df4, df3, left_on= 'DataBases', right_on='DataBases')
df_merge.rename(columns={'DataBases': 'Databases'}, inplace=True)
df_merge.to_excel(HISTORICAL_FILE_JOIN_DB, index=False) 
df_merge
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,51,41,0,0,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,66,0,0,0,0,0
11,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,H2,Relational,Multi-model,SQL,112,0,0,0,0,0,...,418,0,0,0,48,10,0,0,0,0
13,Hazelcast,Key-value,Multi-model,NoSQL,14,0,0,0,0,0,...,0,0,2,0,17,0,0,0,0,0
14,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,48,2,0,0,0,0
15,HyperSQL,Relational,,SQL,31,0,0,0,0,0,...,387,0,0,107,0,0,0,0,0,0
16,IBM_DB2,Relational,Multi-model,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
17,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,94,0,0,0,0,0
18,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,47,0,0,0,0,0
19,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
21,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,31,1,0,0,0,0
28,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0
29,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
30,Oracle,Relational,Multi-model,SQL,75,0,0,0,0,0,...,322,0,0,55,0,0,0,0,0,0
31,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Realm,Document,,NoSQL,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Redis,Key-value,Multi-model,NoSQL,0,0,0,1,0,0,...,0,1,0,0,53,0,0,0,0,0
34,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,SAP Adaptive Server,Relational,Multi-model,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
36,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,SAP SQL Anywhere,Relational,,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
39,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SQLite,Relational,,SQL,0,0,0,0,0,2,...,0,0,0,81,0,15,0,0,0,0
41,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,0,0
44,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping by model

In [90]:
df_model = df_merge.copy()
df_model = df_model.groupby(['Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_model

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,14,0,4,2,0,0,0,0,1,76,...,0,1,21,0,405,44,0,0,0,0
SQL,416,0,0,0,0,2,0,0,0,210,...,2161,0,0,243,95,25,0,0,0,0

In [91]:
def num_missing (x):
      return sum (x >= 1)
df5 = df_model.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
df5

Model
NoSQL    178
SQL      176
dtype: int64

Replacing all values with 1 to perform the intersection. The mask function replaces the dataframe values if the condition is true. If you need the condition to be false, you should use the where function, for example: df.mask(df_merge > 1, 1), in which case the replacement would only be made for values that are less than 1 (the inverse of the condition).

In [92]:
df5 = df_model.mask(df_model > 1, 1)
df5

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,0,1,1,0,0,0,0,1,1,...,0,1,1,0,1,1,0,0,0,0
SQL,1,0,0,0,0,1,0,0,0,1,...,1,0,0,1,1,1,0,0,0,0

Create two tables, each with one of the nosql rows and the other sql, transform all the values into 1 and then merge the intersection according to example 1 of https://www.geeksforgeeks.org/intersection-of-two-dataframe-in-pandas-python/.
Then, from the sum of the two models, take the value of the intersection.

In [93]:
df6= df5.iloc[1:2,:]
df6

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
SQL,1,0,0,0,0,1,0,0,0,1,...,1,0,0,1,1,1,0,0,0,0

In [94]:
df7=df5.iloc[0:1,:]
df7

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Model,,,,,,,,,,,,,,,,,,,,,
NoSQL,1,0,1,1,0,0,0,0,1,1,...,0,1,1,0,1,1,0,0,0,0

In [95]:
df8 = pd.concat([df6, df7], axis=0, join='inner').sum().sort_values(ascending =False)
df8

Activiti                  2
netbeans                  2
hive                      2
hudi                      2
iceberg                   2
                         ..
lanterna                  0
libgdx                    0
libsvm                    0
litho                     0
zxing-android-embedded    0
Length: 388, dtype: int64

To find the intersection, I use the isin function to find the lines (projects) whose concatenated value == 2. This function returns true or false and I add the lines that meet the condition.

In [67]:
df8.isin([2]).sum()

119

In [96]:
df_merge

,Databases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ArangoDB,Multi-Model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Cassandra,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,51,41,0,0,0,0
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,DynamoDB,Multi-model,,NoSQL,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Etcd,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Firebase Realtime,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firebird,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Google Cloud Datastore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,66,0,0,0,0,0
11,GoogleCloudFilestore,Document,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,H2,Relational,Multi-model,SQL,112,0,0,0,0,0,...,418,0,0,0,48,10,0,0,0,0
13,Hazelcast,Key-value,Multi-model,NoSQL,14,0,0,0,0,0,...,0,0,2,0,17,0,0,0,0,0
14,HBase,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,48,2,0,0,0,0
15,HyperSQL,Relational,,SQL,31,0,0,0,0,0,...,387,0,0,107,0,0,0,0,0,0
16,IBM_DB2,Relational,Multi-model,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
17,Ignite_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,94,0,0,0,0,0
18,Ignite_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,47,0,0,0,0,0
19,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
21,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Ingres,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Kdb+,Time Series,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,MarkLogic,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Microsoft Azure CosmosDB,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Microsoft Azure Table Storage,Wide column,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,31,1,0,0,0,0
28,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0
29,Neo4j,Graph,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
30,Oracle,Relational,Multi-model,SQL,75,0,0,0,0,0,...,322,0,0,55,0,0,0,0,0,0
31,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Realm,Document,,NoSQL,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Redis,Key-value,Multi-model,NoSQL,0,0,0,1,0,0,...,0,1,0,0,53,0,0,0,0,0
34,Riak KV,Key-value,,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,SAP Adaptive Server,Relational,Multi-model,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
36,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Singlestore,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,SAP SQL Anywhere,Relational,,SQL,66,0,0,0,0,0,...,322,0,0,0,0,0,0,0,0,0
39,Snowflake,Relational,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SQLite,Relational,,SQL,0,0,0,0,0,2,...,0,0,0,81,0,15,0,0,0,0
41,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Virtuoso_NoSql,Multi-model,,NoSQL,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,0,0
44,Virtuoso_Sql,Multi-model,,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Primary Model']).sum()
#df_prisec = df_prisec.groupby(['Primary Model','Second Model']).sum()
#df_merge.groupby('Model').agg({'DataBases':'size'})
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Primary Model,,,,,,,,,,,,,,,,,,,,,
Document,0,0,4,0,0,0,0,0,1,50,...,0,0,0,0,97,1,0,0,0,0
Graph,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,29,0,0,0,0,0
Key-value,14,0,0,1,0,0,0,0,0,16,...,0,1,2,0,70,0,0,0,0,0
Multi-Model,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Multi-model,0,0,0,1,0,0,0,0,0,0,...,0,0,19,0,141,0,0,0,0,0
Relational,416,0,0,0,0,2,0,0,0,210,...,2161,0,0,243,48,25,0,0,0,0
Spatial DBMS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Time Series,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,16,0,0,0,0,0
Wide column,0,0,0,0,0,0,0,0,0,10,...,0,0,0,0,99,43,0,0,0,0

Counting the primary and secondary models. The values below do not include the intersections.

In [98]:
def num_missing (x):
      return sum (x >= 1)
#df2.apply(num_missing, axis=0).sort_values(ascending=False)
#without COMMITS
df10 = df_prisec.iloc[:,:].apply(num_missing, axis=1).sort_values(ascending=False)
#df6 = df_merge.iloc[:,:].apply(num_missing, axis=0).sort_values(ascending=False) para mostrar os projetos
df10

Primary Model
Relational      175
Key-value       119
Document         98
Multi-model      56
Wide column      47
Graph            20
Spatial DBMS     10
Time Series      10
Multi-Model       6
dtype: int64

Adjust to count the secondary models

In [99]:
df_prisec = df_merge.copy()
df_prisec = df_prisec.groupby(['Second Model']).sum()
df_prisec

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,97,0,4,1,0,2,0,0,1,127,...,709,0,19,188,335,58,0,0,0,0
Multi-model,333,0,0,1,0,0,0,0,0,159,...,1384,1,2,55,165,11,0,0,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,0,0

In [100]:
df11 = df_prisec.mask(df_prisec> 1, 1)
df11

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,1,0,0,1,1,...,1,0,1,1,1,1,0,0,0,0
Multi-model,1,0,0,1,0,0,0,0,0,1,...,1,1,1,1,1,1,0,0,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [101]:
df11.isin([1]).sum(axis = 1)

Second Model
               173
Multi-model    193
Relational      14
dtype: int64

In [102]:
df12 = df_prisec.mask(df_prisec> 1, 1)
df12

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,1,0,0,1,1,...,1,0,1,1,1,1,0,0,0,0
Multi-model,1,0,0,1,0,0,0,0,0,1,...,1,1,1,1,1,1,0,0,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [103]:
df12.isin([1]).sum(axis = 1)

Second Model
               173
Multi-model    193
Relational      14
dtype: int64

In [104]:
df13 = df_prisec.mask(df_prisec> 1, 1)
df13

,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,AndroidUtilCode,AntennaPod,AnySoftKeyboard,Apktool,ArchUnit,AsciidocFX,AxonFramework,...,wildfly,xxl-job,yacy_search_server,zaproxy,zeppelin,zipkin,zookeeper,zotfile,zxing,zxing-android-embedded
Second Model,,,,,,,,,,,,,,,,,,,,,
,1,0,1,1,0,1,0,0,1,1,...,1,0,1,1,1,1,0,0,0,0
Multi-model,1,0,0,1,0,0,0,0,0,1,...,1,1,1,1,1,1,0,0,0,0
Relational,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [105]:
df13.isin([1]).sum(axis = 1)

Second Model
               173
Multi-model    193
Relational      14
dtype: int64